@inherits Composer.Razor.ComposerRazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "User Information"; }
    }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:v-bind="v-bind" xmlns:v-on="v-on" xmlns:v-slot="v-slot">
<head>

</head>
<body>
    <div data-oc-controller="SingleCheckout.UserInfo">
        <br />
        <div class="card">
            <div class="card-header">
                <h4 class="float-left">
                    Information
                </h4>
                <button v-show="step.preview" class="btn btn-outline-secondary float-right"
                         v-on:click='step.navigateToTab(step.index)'>
                    Edit
                </button>
            </div>
            <div v-if="Customer" class="card-body">
                <div v-if="step.preview">
                    <span v-text="Customer.FirstName" class="font-weight-bold"></span>
                    <span v-text="Customer.LastName" class="font-weight-bold"></span>
                    <div v-text="Customer.Email"></div>
                </div>
                <form id="editCustomerForms"  v-if="step.active">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="FirstName">@Html.Localize("Forms", "F_FirstName") *</label>
                            <input v-model="cartViewModel.Customer.FirstName"
                                   class="form-control"
                                   placeholder="@Html.Localize("Forms", "F_FirstNameWaterMark")"
                                   type="text"
                                   required=""
                                   id="FirstName"
                                   data-parsley-length="[2, 36]"
                                   data-parsley-pattern="/^[a-zA-Z\u00E0-\u00FC\.\-\s\']+$/i"
                                   @HelpBubble("Forms", "F_FirstNameIndication") />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="LastName">@Html.Localize("Forms", "F_LastName") *</label>
                            <input v-model="cartViewModel.Customer.LastName"
                                   id="LastName"
                                   class="form-control"
                                   placeholder="@Html.Localize("Forms", "F_LastNameWaterMark")"
                                   type="text"
                                   required=""
                                   data-parsley-length="[2, 36]"
                                   data-parsley-pattern="/^[a-zA-Z\u00E0-\u00FC\.\-\s\']+$/i"
                                   @HelpBubble("Forms", "F_LastNameIndication") />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Email">@Html.Localize("Forms", "F_Email") *</label>
                            <input v-model="cartViewModel.Customer.Email"
                                   type="email"
                                   id="Email"
                                   class="form-control"
                                   placeholder="@Html.Localize("Forms", "F_EmailWaterMark")"
                                   required=""
                                   @HelpBubble("Forms", "F_EmailAddressGuestIndication") />
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</body>
</html>