@using Orckestra.Composer.CompositeC1.Context
@using Orckestra.Composer.Product.ViewModels
@using System.Linq;
@inherits RazorFunction

@functions {
    public IProductContext ProductContext { get; set; }
    public new ProductViewModel Model { get { return ProductContext.ViewModel; } }


    public string SelectedVariantClass(params string[] ids)
    {
        return ids.Contains(Model.SelectedVariantId) ? "" : "hidden";
    }

    public bool IsWithoutVariants()
    {
        return Model.Variants == null || Model.Variants.Count == 0;
    }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <div class="row">
        <div class="col-md-10  col-md-offset-1">
            <hr />
            <h2>@Html.Localize("ProductPage", "L_ProductSpecifications")</h2>

            @Attributes()
        </div>
    </div>
</body>
</html>

@helper Attributes()
{
    if (IsWithoutVariants())
    {
        @AttributesTable(Model.Specifications)
    }
    else
    {
        var variantsWithSpecs = Model.Variants.Where(v => v.Specifications != null);
        foreach (var variant in variantsWithSpecs)
        {
            <div data-variant="@variant.Id" class="@SelectedVariantClass(variant.Id)">
                @AttributesTable(variant.Specifications)
            </div>
        }

        var inheritedVariantIds = Model.Variants.Where(v => v.Specifications == null).Select(v => v.Id).ToArray();
        if (inheritedVariantIds.Any())
        {
            <div data-variant="@(String.Join(",", inheritedVariantIds))" class="@SelectedVariantClass(inheritedVariantIds)">
                @AttributesTable(Model.Specifications)
            </div>
        }
    }
}

@helper AttributesTable(SpecificationsViewModel specifications)
{
    <table class="table table-striped">
        @foreach (var group in specifications.Groups)
        {
            foreach (var attribute in group.Attributes)
            {
                <tr>
                    <th>@attribute.Title</th>
                    <td>@attribute.Value</td>
                </tr>
            }
        }
    </table>
}