@inherits RazorFunction
@using Orckestra.Composer.Search.Context;
@using Orckestra.Composer.Search.ViewModels

@functions {
    public override string FunctionDescription
    {
        get { return "Saerch Facets"; }
    }

    public ISearchRequestContext SearchRequestContext { get; set; }

    public ProductSearchResultsViewModel ProductSearchResults
    {
        get
        {
            return SearchRequestContext.ProductsSearchViewModel.ProductSearchResults;
        }
    }
}

@{
    var facetSettings = SearchRequestContext.ProductsSearchViewModel.FacetSettings;
    var categoryFacetValuesTree = facetSettings?.CategoryFacetValuesTree;
    var isCategoryTreeView = categoryFacetValuesTree != null;
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:v-bind="v-bind" xmlns:v-on="v-on" xmlns:v-slot="v-slot">
<head>
</head>
<body>
    <div data-oc-controller="Product.FacetSearch"
         data-context="@facetSettings.JsonContext" 
         data-corrected-search-term="@ProductSearchResults.CorrectedSearchTerms">

        <form id="vueSearchFacets" name="searchFacets" v-cloak="true">

            @FacetHelpers.PromotedFacetValues()

            <div id="categoriesTree" class="card bg-light  mb-3  facets-card">
                <div class="card-header">
                    <a data-toggle="collapse"
                       data-target="#categoryFacets"
                       aria-expanded="true"
                       aria-controls="categoryFacets">
                        @Html.Localize("List-Search", "L_RefinerCategories")
                        <span class="down"><i class="fa fa-angle-down" /></span>
                        <span class="up"><i class="fa fa-angle-up" /></span>
                    </a>
                </div>
                <div id="categoryFacets" class="card-body collapse show">
                    <div class="mb-1">
                        <strong>@Html.Localize("General", "L_All") @SearchRequestContext.SearchQuery ({{CategoryFacetValuesTree.TotalCount}})</strong>
                    </div>
                    <facets-tree v-for="node in CategoryFacetValuesTree.ChildNodes" 
                                 v-bind:key="node.CategoryId" 
                                 v-bind:node="node"
                                 showMoreText="@Html.Localize("List-Search", "B_ShowMore")"
                                 showLessText="@Html.Localize("List-Search", "B_ShowLess")">
                    </facets-tree>
                </div>
                </div>

            <div v-for="facet in Facets" v-if="facet.IsDisplayed" 
                 class="card  bg-light  mb-3  facets-card"
                 v-bind:data-facetfieldname="facet.FieldName"
                 v-bind:data-facettype="facet.FacetType"
                 v-bind:data-min="facet.StartValue"
                 v-bind:data-max="facet.EndValue"
                 v-bind:data-step="facet.GapSize"
                 data-max-label="@Html.Localize("List-Search", "L_RangeAll")">
                <div class="card-header">
                    <a data-toggle="collapse"
                       v-bind:data-target="'#' + facet.FieldName"
                       aria-expanded="true"
                       v-bind:aria-controls="facet.FieldName">
                        {{facet.Title}}
                        <span class="down"><i class="fa fa-angle-down" /></span>
                        <span class="up"><i class="fa fa-angle-up" /></span>
                    </a>
                </div>
                <div v-bind:id="facet.FieldName" class="card-body collapse show">
                    @FacetHelpers.RenderFacet()
                </div>
            </div>
        </form>
    </div>
</body>
</html>