@inherits RazorFunction
@using Orckestra.Composer.Search.Context;
@using Orckestra.Composer.Search.ViewModels
@using Orckestra.Composer.Search.Facets
@using Orckestra.Composer.Search

@functions {
    public override string FunctionDescription
    {
        get { return "Selected Facets"; }
    }

    public ISearchRequestContext SearchRequestContext { get; set; }

    public SearchViewModel ProductsSearchViewModel
    {
        get
        {
            return SearchRequestContext.ProductsSearchViewModel;
        }
    }

    public SelectedFacets SelectedFacets
    {
        get
        {
            return ProductsSearchViewModel?.FacetSettings.SelectedFacets;
        }
    }
}
@{

    if (SelectedFacets == null || SelectedFacets.Facets == null || SelectedFacets.Facets.Count == 0)
    {
        return;
    };
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <div data-oc-controller="Product.SelectedSearchFacets">
        <div id="selectedFacets" class="card facets-card  mb-3">
            <div class="card-header">
                @Html.Localize("List-Search", "L_Selection")
                @if (SelectedFacets.IsAllRemovable)
                {
                    <a class="float-right  small" 
                       data-qa="search-refiners-clear-all" 
                       href="#"
                       data-oc-click="clearSelectedFacets">
                        @Html.Localize("List-Search", "B_ClearAll")
                    </a>
                }
            </div>
            <div class="card-body">
                <ul class="list-group m-0">
                    @foreach (var facet in SelectedFacets.Facets)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center p-0 mb-1 border-0">
                            @facet.DisplayName
                            <span class="badge">
                                @if (facet.IsRemovable)
                                {
                                    <a href="#" class="float-right" data-qa="search-refiner-remove"
                                       data-facetfieldname="@facet.FieldName"
                                       data-facettype="@facet.FacetType"
                                       data-facetvalue="@facet.Value"
                                       @if(facet.FieldName.StartsWith(SearchConfiguration.CategoryFacetFiledNamePrefix))
                                       {
                                           <text>
                                       data-categorytree="@(facet.FieldName)"
                                           </text>
                                       }
                                       title="@facet.DisplayName"
                                       data-oc-click="removeSelectedFacet">
                                       <span class="fa  fa-times  fa-lg"></span>
                                    </a>
                                }
                                else
                                {
                                    <span class="float-right  fa  fa-times  fa-lg  text-muted"></span>
                                }
                            </span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
