@using Orckestra.Composer.ContentSearch.ViewModels

@model Orckestra.Composer.ContentSearch.ViewModels.SearchResultsEntryViewModel

<div class="card h-100">
    @if (Model.ImageUrl != null)
    {
        <img class="card-img-top" src="@Model.ImageUrl?h=200" alt="@Model.Title" />
    }

    <div class="card-body">
        <a class="card-title" href="@Model.DetailsUrl">@Html.Raw(@Model.Title)</a>
        @if (Model.Description != null)
        {
            <p class="card-text">@Model.Description</p>
        }
    </div>
</div>