@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "Header of the page."; }
    }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <header class="masthead masthead-with-mega-menu shadow-sm  sps sps--abv">
        <div class="header">
            <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark p-0">
                <div class="container-md px-lg-2">
                    <button class="navbar-toggler d-block d-md-none main-nav-toggle" aria-label="Menu" type="button" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @Function("Composer.Header.LanguageSwitch")
                    @Function("Composer.Header.StickyLinks")
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            @Function("Composer.Store.LocatorInHeader")
                        </li>
                        @Function("Composer.Membership.SignInHeader")
                        <li class="nav-item">
                            @Function("Composer.WishList.WishListInHeader")
                        </li>
                        <li class="nav-item sps--blw-show-block">
                            <a class="nav-link" href="#" title="@Html.Localize("General", "Search")" data-focus-element="#search-input"><span class="fa  fa-search"></span></a>
                        </li>
                        <li class="nav-item position-relative">
                            <f:function name="Composite.Web.Html.Template.PageTemplateFeature" xmlns:f="http://www.composite.net/ns/function/1.0">
                                <f:param name="FeatureName" value="Minicart" />
                            </f:function>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        @Function("Composer.Header.MainMenu")

        <div class="container-fluid bg-light  py-2  shadow-sm">
            <div class="container-md">
                <div class="row justify-content-between ">
                    <div class="col-10 col-xl-6 mx-auto mx-lg-0 justify-content-center align-self-center">
                        <a href="@HomePageNode.Url" class="logo">
                            <img src="~/UI.Package/Images/better-retail.png" alt="logo" />
                        </a>
                    </div>
                    <div class="col-12 col-xl-6  justify-content-center align-self-center">
                        <div class="d-none d-md-block clearfix">
                            @Function("Composer.Header.OptionalLinks")
                        </div>
                        <div>
                            <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composer.SearchBox">
                                <f:param name="Autocomplete" value="true" />
                            </f:function>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composer.Header.EditOrderBanner" />
    </header>
</body>
</html>
