@inherits RazorPageTemplate
@using System.Globalization
              
@functions {
    public override void Configure()
    {
        TemplateId = new Guid("fde5e0aa-8784-409b-9604-903c121ae474");
        TemplateTitle = "Account Page Layout";
        Layout = "MasterLayout.cshtml";
    }
    
    [Placeholder(Id="pageHeader", Title="Page Header")]
    public XhtmlDocument PageHeader { get; set; }

    [Placeholder(Id="body", Title="Body", IsDefault=true)]
    public XhtmlDocument Body { get; set; }
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		@Markup(PageHeader)
    </head>
    <body>
        @Function("Composer.Header")
        <div class="container-md">
            @Function("Composer.Header.Breadcrumb")
            @Function("Composer.Header.GeneralErrors")
            @Markup(Body)
        </div>
        @Function("Composer.Footer")
    </body>
</html> 
