<div data-templateid="RecurringOrderTemplatesLineItems">
    {{#each RecurringOrderTemplateViewModelList}}

    <h4>{{localize 'RecurringSchedule' 'T_TemplatesShippingTo'}} {{ShippingAddress.AddressName}}
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#address{{@index}}" aria-expanded="false"
            aria-controls="address{{@index}}">
            <i class="fa fa-lg fa-caret-down"></i>
            <i class="fa fa-lg fa-caret-up"></i>
        </button>
    </h4>
    <div id="address{{@index}}" class="push-bottom collapse" aria-expanded="false" style="height: 0px">
        <span data-qa="order-shipping-address-line1">{{ShippingAddress.Line1}}</span>
        <br /> {{#if ShippingAddress.Line2}}
        <span data-qa="order-shipping-address-line2">{{ShippingAddress.Line2}}</span>
        <br /> {{/if}}
        <span data-qa="order-shipping-address-city">{{ShippingAddress.City}}</span>,
        <span data-qa="order-shipping-address-region">{{ShippingAddress.RegionName}}</span>,
        <span data-qa="order-shipping-address-postalcode">{{ShippingAddress.PostalCode}}</span>
        <br />
        <span data-qa="order-shipping-address-phone">{{ShippingAddress.PhoneNumber}}</span>
    </div>

    <div class="panel panel-default " data-shipping-address-selected-id="{{ShippingAddress.Id}}" >

        <div class="panel-heading clearfix">

            <div class="display-table">
                <div class="display-table-cell col-xs-4 col-sm-2 text-center">
                    {{localize 'MyAccount' 'L_OrderLineItemProductsTitle'}}
                </div>
                <div class="display-table-cell col-xs-8 col-sm-10">
                    <div class="display-table">
                        <div class="display-table-cell col-xs-2 small hidden-xs">
                        </div>
                        <div class="display-table-cell col-xs-2 text-sm-right hidden-xs">
                            <div class="text-align-button  small">
                                {{localize 'MyAccount' 'L_UnitPrice'}}
                            </div>
                        </div>
                        <div class="display-table-cell col-xs-4 col-sm-3 text-sm-center  small">
                            <div class="row">
                                {{localize 'MyAccount' 'L_Quantity'}}
                            </div>
                        </div>
                        <div class="display-table-cell col-xs-4 col-sm-2 text-sm-left">
                            <div class="text-align-button  small">
                                {{localize 'MyAccount' 'L_Subtotal'}}
                            </div>
                        </div>
                        <div class="display-table-cell col-xs-4 col-sm-3 text-right">
                            {{localize 'RecurringSchedule' 'L_Recurring'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            {{#each RecurringOrderTemplateLineItemViewModels}} 
                {{>RecurringOrderTemplatesLineItem}} 
            {{/each}}
        </div>
    </div>
    {{/each}}

    <div class="multiline-message">
        <span class="fa  fa-comment-o  fa-lg  multiline-message-icon"></span>
        {{localizeFormat 'RecurringSchedule' 'L_PriceInfoMessage' RecurringScheduleUrl}}  
    </div>
</div>