<div class="cart-item" data-lineitemid="{{Id}}" data-templateid="RecurringOrderTemplatesLineItem" data-productid="{{ProductId}}"
    data-variantid="{{VariantId}}" data-shipping-selected-id="{{ShippingAddressId}}" data-billing-selected-id="{{BillingAddressId}}"
    data-payment-method-selected-id="{{PaymentMethodId}}" data-shipping-provider-selected-id="{{ShippingProviderId}}" data-shipping-method-selected-name="{{ShippingMethodName}}">
    {{#if Rewards}}
    <div class="text-center">
        <span class="promotion">
            {{#each Rewards}}
            <em>{{Description}}</em>
            <br /> {{/each}}
        </span>
    </div>
    {{/if}}
    <div class="display-table">
        <div class="display-table-cell col-xs-4 col-sm-2 text-center">
            <a href="{{ProductUrl}}" class="hidden-xs">
                <img src="{{ImageUrl}}" class="img-fluid" alt="Thumbnail" onerror="this.onerror=null; this.src='{{FallbackImageUrl}}'" />
            </a>
             <div class="display-table-cell small visible-xs-block text-left">
                <div data-qa="cart-product-brand">{{ProductSummary.Brand}}</div>
                <p>
                    <a href="{{ProductUrl}}" data-qa="cart-product-name">
                        <strong>{{ProductSummary.DisplayName}}</strong>
                    </a>
                    {{#if VariantId}}
                    <br /> {{#each KeyVariantAttributesList}} {{#if_neq @index 0}}|{{/if_neq}} {{Value}} {{/each}} {{/if}}
                </p>
            </div>
        </div>
        <div class="display-table-cell col-xs-8 col-sm-10">
            <div class="display-table">
                <div class="display-table-cell col-xs-4 col-sm-3 small hidden-xs">
                    <div data-qa="cart-product-brand">{{ProductSummary.Brand}}</div>
                    <p>
                        <a href="{{ProductUrl}}" data-qa="cart-product-name">
                            <strong>{{ProductSummary.DisplayName}}</strong>
                        </a>
                        {{#if VariantId}}
                        <br /> {{#each KeyVariantAttributesList}} {{#if_neq @index 0}}|{{/if_neq}} {{Value}} {{/each}} {{/if}}
                    </p>
                </div>
                <div class="display-table-cell col-sm-1 text-sm-right  hidden-xs">
                    <div class="text-align-button  small">
                        {{#if IsOnSale}}
                        <del data-qa="cart-product-price">{{DefaultListPrice}}</del>
                        <br />
                        <strong class="text-danger" data-qa="cart-product-sales-price">{{ListPrice}}</strong>
                        {{else}}
                        <strong data-qa="cart-product-price">{{DefaultListPrice}}</strong>
                        {{/if}}
                    </div>
                </div>
                <div class="display-table-cell col-xs-4 col-sm-3 text-sm-center  small">
                    <div class="row">
                        <div class="col-sm-12">
                            <strong>
                                <button data-qa="cart-product-decrease" class="btn  btn-default  btn-sm    decrement-quantity" {{#if_eq Quantity 1}} disabled="disabled"
                                    {{/if_eq}} data-lineitemid="{{Id}}" data-action="Decrement" data-quantity="{{Quantity}}"
                                    data-min-value="1" data-max-value="99" data-oc-click="updateLineItemQuantity">
                                    <span class="fa  fa-minus"></span>
                                    <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  hidden"></span>
                                </button>
                                <span class="cart-quantity-template" data-lineitemid="{{Id}}" data-initial-qty="{{Quantity}}" data-qa="checkout-product-quantity">{{Quantity}}</span>
                                <button data-qa="cart-product-increase" class="btn  btn-default  btn-sm   increment-quantity" data-lineitemid="{{Id}}" data-action="Increment"
                                    data-quantity="{{Quantity}}" data-min-value="1" data-max-value="99" data-oc-click="updateLineItemQuantity">
                                    <span class="fa  fa-plus"></span>
                                    <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  hidden"></span>
                                </button>
                                <br />
                                <button class="cta button-like-link" role="button" data-oc-click="deleteLineItem" data-toggle="modal"
                                        data-target="#recurringOrderTemplatesRemoveConfirm">
                                    {{localize 'RecurringSchedule' 'L_RemoveLineitem'}}
                                </button>
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="display-table-cell col-xs-4 col-sm-2 xs-small">
                    <div class="text-align-button">
                        {{!-- <del data-qa="cart-product-subtotal-price">{{TotalWithoutDiscount}}</del>
                        <br />
                        <strong class="cart-subtotal-price text-danger" data-qa="cart-product-subtotal-sales">{{Total}}<sup>*</sup></strong> --}}
                        <strong class="cart-subtotal-price" data-qa="cart-product-subtotal">{{Total}}<sup>*</sup></strong>
                    </div>
                </div>
                <div class="display-table-cell col-xs-4 col-sm-3 small text-sm-right">
                    <div class="recurring-edit-buttons">
                        {{#if RecurringOrderFrequencyDisplayName}}
                        <span class="recurring-text">{{RecurringOrderFrequencyDisplayName}}</span>
                        {{/if}}
                    </div>
                    <div class="recurring-edit-buttons line-item-actions">
                        <button class="cta button-like-link" role="button" data-oc-click="openChangeTemplateLineitem" data-toggle="modal" data-target="#recurringOrderTemplatesModifyLineItem"
                            data-formatted-next-occurence="{{FormattedNextOccurence}}" data-next-occurence="{{NextOccurence}}"
                            data-program-name="{{RecurringOrderProgramName}}" data-frequency-name="{{RecurringOrderFrequencyName}}">{{localize 'RecurringSchedule' 'L_EditDetails'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>