@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "Order Summary"; }
    }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:v-bind="v-bind" xmlns:v-on="v-on">
<head>
</head>
<body>
    <div data-oc-controller="SingleCheckout.OrderSummary"
         class="checkout-step-container  active-step"
         v-bind:class="{'loading': Mode.CompleteCheckoutLoading}">

        <div class="card  mb-4  sps-order-summary sps  sps--abv" data-sps-offset="100">
            @LoadingSpinner()

            <h3 class="card-header bg-primary border-primary  text-white">
                @Html.Localize("ShoppingCart", "T_OrderSummary")
            </h3>
            <div class="card-body  bg-light" v-cloak="true">
                @Rewars()

                @SubTotal()

                @TaxableShipmentAdditionalFeeSummary()

                @TaxableAdditionalFeeSummary()

                <div v-if="OrderSummary.IsShippingTaxable">
                    @Shipping()
                </div>

                @Taxes()

                @NotTaxableShipmentAdditionalFeeSummary()

                @NotTaxableAdditionalFeeSummary()

                <div v-if="!OrderSummary.IsShippingTaxable">
                    @Shipping()
                </div>

                @Totals()

                @SavingsTotal()

                @AdditionalFeesMessage()

                @PalceOrderBtn()
            </div>
        </div>
    </div>
</body>
</html>

@helper Rewars()
{
    <div v-if="OrderSummary.Rewards.length" class="text-center">
        <p class="promotion  mb-2">
            <em v-for="(reward, index) in OrderSummary.Rewards" v-bind:data-qa="'reward-' +  index">{{reward.Description || reward.PromotionName}}</em>
        </p>
    </div>
}

@helper SubTotal()
{
    <div class="row mb-2">
        <div class="col-6  col-md-7">
            @Html.Localize("MyAccount", "L_Subtotal")
        </div>
        <div class="col-6  col-md-5  text-right">
            <span data-qa="checkout-order-summary-subtotal">
                {{OrderSummary.SubTotal}}
            </span>
        </div>
    </div>
}

@helper Totals()
{
    <div class="row mb-2">
        <div class="col-6  col-md-7">
            <h4>@Html.Localize("MyAccount", "L_Total")</h4>
        </div>
        <div class="col-6  col-md-5  text-right">
            <div v-if="IsLoading &amp;&amp; !Mode.CompleteCheckoutLoading">
                @CheckoutHelpers.LoadingSpinner()
            </div>
            <h4 v-else="v-else" v-text="OrderSummary.Total" data-qa="checkout-order-summary-total"></h4>
        </div>
    </div>
}

@helper SavingsTotal()
{
    <div v-if="OrderSummary.SavingsTotal" class="row  mb-2">
        <div class=" col-12 ">
            <div class="alert alert-success bg-white text-center text-success  m-0">
                <span data-qa="checkout-order-summary-discount">
                    @Html.Localize("MyAccount", "L_Savings")
                    &#160;
                    <span v-text="OrderSummary.SavingsTotal"></span>
                </span>
            </div>
        </div>
    </div>
}

@helper TaxableShipmentAdditionalFeeSummary()
{
    <div class="row  mb-2" data-qa="taxable-shipment-additional-fee-summary" v-if="feeSummary.Taxable" v-for="feeSummary in OrderSummary.ShipmentAdditionalFeeSummaryList">
        @FeeSummary()
    </div>
}

@helper NotTaxableShipmentAdditionalFeeSummary()
{
    <div class="row  mb-2" data-qa="nottaxable-shipment-additional-fee-summary" v-if="!feeSummary.Taxable" v-for="feeSummary in OrderSummary.ShipmentAdditionalFeeSummaryList">
        @FeeSummary()
    </div>
}

@helper TaxableAdditionalFeeSummary()
{
    <div class="row mb-2" data-qa="taxable-additional-fee-summary" v-if="feeSummary.Taxable" v-for="feeSummary in OrderSummary.AdditionalFeeSummaryList">
        @FeeSummary()
    </div>
}

@helper NotTaxableAdditionalFeeSummary()
{
    <div class="row  mb-2" data-qa="nottaxable-additional-fee-summary" v-if="!feeSummary.Taxable" v-for="feeSummary in OrderSummary.AdditionalFeeSummaryList">
        @FeeSummary()
    </div>
}

@helper FeeSummary()
{
    <div class="col-6  col-md-7"><p>{{feeSummary.GroupName}}</p></div>
    <div class="col-6  col-md-5  text-right">
        {{feeSummary.TotalAmount}}
    </div>
}

@helper Shipping()
{
    <div v-if="OrderSummary.IsShippingEstimatedOrSelected" class="row  mb-2">
        <div class="col-6  col-md-7">
            <span v-if="ShippingAddress">
                @Html.Localized("ShoppingCart", "L_ShippingBasedOn", "{{ShippingAddress.PostalCode}}")
            </span>
        </div>
        <div class="col-6  col-md-5  text-right">
            <span data-qa="checkout-order-summary-shipping-fee">
                {{OrderSummary.Shipping}}
            </span>
        </div>
    </div>
}

@helper Taxes()
{
    <div class="row  mb-2" v-for="(tax, index) in OrderSummary.Taxes" v-bind:data-qa="'tax-' + index">
        <div class="col-7">
            {{tax.DisplayName}}
            <span v-if="tax.Percentage">({{tax.Percentage}})</span>
        </div>
        <div class="col-5  text-right">
            {{tax.DisplayTaxTotal}}
        </div>
    </div>
}

@helper AdditionalFeesMessage()
{
    <div class="row  mb-2">
        <div class="col-12">
            <div class="additional-info">
                <div class="multiline-message">
                    <span class="fa  fa-comment-o  fa-lg  multiline-message-icon"></span>
                    <p>@Html.Localize("ShoppingCart", "L_AdditionalFeesGenericMessage")</p>
                </div>
            </div>
        </div>
    </div>
}

@helper PalceOrderBtn()
{
    <div class="row  mb-2">
        <div class="col-12">
            <button class="btn btn-success  w-100  text-uppercase"
                    data-qa="chechout-place-order-btn"
                    v-bind:disabled="!OrderCanBePlaced"
                    v-on:click="processCompleteCheckout()">
                @Html.Localize("CheckoutProcess", "F_PlaceOrder")
            </button>
        </div>
    </div>
}

@helper LoadingSpinner()
{
    <div class="loading-spinner">
        <span class="spinner-border text-info" role="status">
            &#160;
        </span>
    </div>
}
