@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "Order Summary"; }
    }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:v-bind="v-bind">
<head>
</head>
<body>
    <div data-oc-controller="SingleCheckout.OrderSummary">
        <div class="card">
            <h4 class="card-header bg-dark  text-white">
                @Html.Localize("ShoppingCart", "T_OrderSummary")
            </h4>
            <div class="card-body" v-cloak="true">
                @Rewars()

                @SubTotal()

                @TaxableShipmentAdditionalFeeSummary()

                @TaxableAdditionalFeeSummary()

                <div v-if="OrderSummary.IsShippingTaxable">
                    @Shipping()
                </div>

                @Taxes()

                @NotTaxableShipmentAdditionalFeeSummary()

                @NotTaxableAdditionalFeeSummary()

                <div v-if="!OrderSummary.IsShippingTaxable">
                    @Shipping()
                </div>

                @Totals()

                @SavingsTotal()

                @AdditionalFeesMessage()

                @PalceOrderBtn()
            </div>
        </div>
    </div>
</body>
</html>

@helper Rewars()
{
    <div v-if="Rewards" class="text-center">
        <p class="promotion  mb-2">
            <em v-for="reward in Rewards">{{reward.Description}}</em>
        </p>
    </div>
}

@helper SubTotal()
{
    <div class="row mb-2">
        <div class="col-6  col-md-7">
            @Html.Localize("MyAccount", "L_Subtotal")
        </div>
        <div class="col-6  col-md-5  text-right">
            <span data-qa="checkout-order-summary-subtotal">
                {{OrderSummary.SubTotal}}
            </span>
        </div>
    </div>
}

@helper Totals()
{
    <div class="row mb-2">
        <div class="col-6  col-md-7">
            <h4>@Html.Localize("MyAccount", "L_Total")</h4>
        </div>
        <div class="col-6  col-md-5  text-right">
            <h4 v-text="OrderSummary.Total" data-qa="checkout-order-summary-total"></h4>
        </div>
    </div>
}

@helper SavingsTotal()
{
    <div v-if="OrderSummary.SavingsTotal" class="row  mb-2">
        <div class=" col-12 ">
            <div class="alert alert-success bg-white text-center text-success  m-0">
                <span data-qa="order-summary-discount">
                    @Html.Localize("MyAccount", "L_Savings")
                    &#160;
                    <span v-text="OrderSummary.SavingsTotal"></span>
                </span>
            </div>
        </div>
    </div>
}

@helper TaxableShipmentAdditionalFeeSummary()
{
    <div class="row  mb-2" v-if="feeSummary.Taxable" v-for="feeSummary in OrderSummary.ShipmentAdditionalFeeSummaryList">
        @FeeSummary()
    </div>
}

@helper NotTaxableShipmentAdditionalFeeSummary()
{
    <div class="row  mb-2" v-if="!feeSummary.Taxable" v-for="feeSummary in OrderSummary.ShipmentAdditionalFeeSummaryList">
        @FeeSummary()
    </div>
}

@helper TaxableAdditionalFeeSummary()
{
    <div class="row  mb-2" v-if="feeSummary.Taxable" v-for="feeSummary in OrderSummary.AdditionalFeeSummaryList">
        @FeeSummary()
    </div>
}

@helper NotTaxableAdditionalFeeSummary()
{
    <div class="row  mb-2" v-if="!feeSummary.Taxable" v-for="feeSummary in OrderSummary.AdditionalFeeSummaryList">
        @FeeSummary()
    </div>
}

@helper FeeSummary()
{
    <div class="col-6  col-md-7"><p>{{feeSummary.GroupName}}</p></div>
    <div class="col-6  col-md-5  text-right">
        {{feeSummary.TotalAmount}}
    </div>
}

@helper Shipping()
{
    <div v-if="OrderSummary.IsShippingEstimatedOrSelected" class="row  mb-2">
        <div class="col-6  col-md-7">
            <span v-if="ShippingAddress">
                @Html.Localized("ShoppingCart", "L_ShippingBasedOn", "{{ShippingAddress.PostalCode}}")
            </span>
        </div>
        <div class="col-6  col-md-5  text-right">
            <span data-qa="checkout-order-summary-shipping-fee">
                {{OrderSummary.Shipping}}
            </span>
        </div>
    </div>
}

@helper Taxes()
{
    <div class="row  mb-2" v-for="tax in OrderSummary.Taxes">
        <div class="col-7">
            {{tax.DisplayName}}
            <span v-if="tax.Percentage">({{tax.Percentage}})</span>
        </div>
        <div class="col-5  text-right">
            {{tax.DisplayTaxTotal}}
        </div>
    </div>
}

@helper AdditionalFeesMessage()
{
    <div class="row  mb-2">
        <div class="col-12">
            <div class="additional-info">
                <div class="multiline-message">
                    <span class="fa  fa-comment-o  fa-lg  multiline-message-icon"></span>
                    <p>@Html.Localize("ShoppingCart", "L_AdditionalFeesGenericMessage")</p>
                </div>
            </div>
        </div>
    </div>
}

@helper PalceOrderBtn()
{
    <div class="row  mb-2">
        <div class="col-12">
            <button class="btn btn-success  w-100  text-uppercase" v-bind:disabled="OrderCanBePlaced == false">
                Place Order
            </button>
        </div>
    </div>
}
