@inherits Composer.Razor.ComposerRazorFunction
@using Orckestra.Composer.Services;
@using Orckestra.Composer.Utils;
@using Orckestra.Composer.Cart;
@using Orckestra.Composer.Cart.Services;
@using Orckestra.Composer.Cart.Parameters;
@using Newtonsoft.Json;
@using System;

@functions {
    public IComposerContext ComposerContext { get; set; }
    public IWishListViewService WishListViewService { get; set; }

    [FunctionParameter(Label = "Empty Wish List Content", Help = "That content will be shown when Wish List is Empty")]
    public XhtmlDocument emptyWishListContent { get; set; }

    public override bool PreventFunctionOutputCaching { get { return true; } } 
}

@{
    RedirectNotAuthorized();

    var vm = WishListViewService.GetWishListViewModelAsync(new GetCartParam
    {
        Scope = ComposerContext.Scope,
        CultureInfo = ComposerContext.CultureInfo,
        CustomerId = ComposerContext.CustomerId,
        CartName = CartConfiguration.WishlistCartName,
        ExecuteWorkflow = CartConfiguration.WishListExecuteWorkflow,
        WorkflowToExecute = CartConfiguration.WishListWorkflowToExecute,
        BaseUrl = RequestUtils.GetBaseUrl(Request.Url, Request.ApplicationPath).ToString()
    }).Result;

    var VueId = $"vue{Guid.NewGuid().GetHashCode()}";
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:v-bind="v-bind" xmlns:v-on="v-on">
<head>
</head>
<body>
    <div data-oc-controller="MyAccount.MyWishList"
         data-context="@JsonConvert.SerializeObject(vm)"
         data-vueid="@VueId"
         id="@VueId"
         v-cloak="true">

        <div data-templateid="WishList" class="card">
            <div class="card-header  clearfix">
                <h3 class="float-left">@Html.Localize("MyAccount", "T_WishList")</h3>
                <div class="float-right  wishlist-count  lead">
                    <strong><span class="wishlist-header-count navbar-count">{{Total}}</span></strong>&#160;@Html.Localize("MyAccount", "T_WishListCount")
                </div>
            </div>

            <div class="card-body">
                <div class="wishlist-share">
                    <p>@Html.Localize("MyAccount", "L_ShareWishListText")</p>
                    <div v-bind:class="{'inactive': !Total}">
                        <div class="form-group row">
                            <div class="col-12  col-md-6  col-lg-9">
                                <input id="txtShareUrl" type="text" class="form-control" placeholder="@Html.Localize("MyAccount", "P_ShareWishListCopyLink")" v-bind:value="ShareUrl" />
                            </div>
                            <div class="col-12  col-md-6  col-lg-3">
                                <br class="d-block d-sm-none" />

                                <button type="submit"
                                        v-on:click="copyShareUrl(ShareUrl)"
                                        class="btn btn-primary">
                                    @Html.Localize("MyAccount", "B_ShareWishListCopyLink")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <template v-if="Total">
                    <div class="row">
                        <div v-for="Product in Items" class="col-12 col-md-4 mb-5">
                            @Function("Composer.MyAccount.WishListTile")
                        </div>
                    </div>
                </template>
                <template v-else="v-else">
                    @Html.Raw(emptyWishListContent.Body)
                </template>
            </div>
        </div>
    </div>
</body>
</html>
