<div data-templateid="PaymentMethodItem" class="payment-method-line-item" data-qa="payment-provider-{{PaymentProviderName}}">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="select-block {{#if IsSelected}}active{{/if}}" data-qa="checkout-payment-method-{{@index}}">
                    <span class="input-addon">
                        <input type="radio"
                                name="PaymentMethod"
                                data-parsley-class-handler-selector=".row"
                                data-parsley-errors-container="#payment-method-errors"
                                required="required"
                                value="{{Id}}"
                                {{#if IsSelected}}checked="checked"{{/if}}
                                class="input saved-credit-card-payment-method"
                                data-payment-id="{{Id}}"
                                data-payment-provider="{{PaymentProviderName}}"
                                data-payment-type="{{PaymentType}}"
                                data-oc-change="changePaymentMethod"
                                {{#unless IsValid}}disabled="true"{{/unless}}>
                    </span>

                    <span class="content">
                        <div class="row">
                            <div class="col-sm-3 text-center">
                                <img src="/UI.Package/Images/creditcards/{{CardType}}.png" alt="{{CardType}}" />
                            </div>

                            <div class="col-sm-9" style="margin-top: 5px;">
                                <!-- no card holder name for now since moneris dont support the persistance of the card holder name -->
                                
                                {{!--<div class="row">
                                    <div class="col-sm-12" data-qa="card-holder-name">
                                        {{CardHolderName}}
                                    </div>
                                </div>--}}

                                <div class="row">
                                    <div class="col-sm-12" data-qa="card-number">
                                        {{localize 'CheckoutProcess' 'L_CardNumber' }} {{CardMask}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 {{#if IsExpired}}strong{{/if}}" data-qa="card-expiration">
                                        {{localize 'CheckoutProcess' 'L_ExpirationDate' }} {{ExpiryDate}}
                                    </div>
                                </div>

                                {{#if IsExpired}}
                                <div class="row">
                                    <div class="col-sm-12 error-item strong">
                                        {{localize 'CheckoutProcess' 'F_SaveCreditCardForced_Expired' }}
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </span>
                </label>

                <button type="button"
                        style="position: absolute; top: 28px; right: 20px;"
                        class="btn  btn-default  btn-sm  moneris--deletecard"
                        data-payment-id="{{Id}}"
                        data-payment-provider="{{PaymentProviderName}}">
                    {{localize 'CheckoutProcess' 'B_DeleteCard' }}
                </button>
            </div>
        </div>
    </div>
</div>

