@inherits Composer.Razor.ComposerRazorFunction
@functions {
    public override string FunctionDescription
    {
        get { return "Past Orders"; }
    }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:v-bind="v-bind" xmlns:v-on="v-on">
<head>
</head>
<body>
    <div data-oc-controller="Orders.PastOrders" class="mt-3">
        <div id="vuePastOrders">
            <div class="card bg-light">
                <h3 class="card-header">
                   @Html.Localize("MyAccount", "T_PastOrders")
                </h3>
                <div class="card-body busy-container" v-cloak="true" v-bind:class="{ 'busy': Loading }">
                    @GeneralHelpers.LoadingSpinner()
                    <div v-if="Orders">
                        @OrdersHelper.CompactOrderDetails(true)
                    </div>
                    <div v-else="else">
                        <span class="text-muted px-4">@Html.Localize("MyAccount", "L_PastOrdersEmpty")</span>
                    </div>
                </div>
            </div>
            @OrdersHelper.OrderHistoryPagination()
        </div>
    </div>
</body>
</html>
