{{#if RecurringOrderProgramName}}
    <div class="cart-recurring js-cartRecurring">
        <div class="cart-recurring-cta js-cartRecurringCta">
            <img src="/UI.Package/Images/recurring.png" alt="{{localize 'General' 'L_RecurringProduct'}}" title="{{localize 'General' 'L_RecurringProduct'}}" />
            {{#if RecurringOrderFrequencyName}}
                &nbsp;{{RecurringOrderFrequencyDisplayName}}
            {{else}}
                &nbsp;{{localize 'ProductPage' 'L_RecurringFrequencyOnce'}}
            {{/if}}
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#recurringModes{{@index}}" aria-expanded="false" aria-controls="recurringModes{{@index}}" data-oc-click="expandRecurringModes">
                {{localize 'ShoppingCart' 'L_RecurringChangeFrequency'}}
            </button>
        </div>
        <div id="recurringModes{{@index}}" class="recurring-modes form-group collapse js-recurringModes">
            <div class="radio-row{{#unless RecurringOrderFrequencyName}} selected{{/unless}} js-recurringModeRow">
                <div class="radio">
                    <input id="UseSingle{{@index}}" {{#unless RecurringOrderFrequencyName}}checked="checked"{{/unless}} type="radio" data-target=".modeSelection"
                           name="recurringMode{{@index}}"
                           value="single"
                           data-oc-change="changeRecurringMode"  />
                    <label for="UseSingle{{@index}}">{{localize 'ProductPage' 'L_RecurringFrequencyOnce'}}</label>
                </div>
            </div>
            <div class="radio-row{{#if RecurringOrderFrequencyName}} selected{{/if}} js-recurringModeRow">
                <div class="radio">
                    <input  id="UseRecurring{{@index}}" {{#if RecurringOrderFrequencyName}}checked="checked"{{/if}}
                            type="radio"
                            data-target=".modeSelection"
                            name="recurringMode{{@index}}"
                            value="recurring"
                            data-oc-change="changeRecurringMode"  />
                    <label for="UseRecurring{{@index}}">
                        <img src="/UI.Package/Images/recurring.png" alt="{{localize 'General' 'L_RecurringProduct'}}" title="{{localize 'General' 'L_RecurringProduct'}}" /> {{localizeFormat 'ProductPage' 'L_RecurringPitch' (localize 'ProductPage' 'L_RecurringSaveRate') }}
                        <button class="btn-link" role="button" data-trigger="click" data-toggle="popover" data-placement="top" title=""
                                data-content="{{{localize 'ProductPage' 'L_RecurringBubblePitch'}}}" data-html="true" data-original-title="{{localize 'ProductPage' 'L_RecurringBubblePitchTitle'}}">
                            <span class="fa fa-question-circle"></span>
                        </button>
                    </label>
                </div>
                <div class="recurring-frequencies  collapse  modeSelection{{#if RecurringOrderFrequencyName}} in{{/if}}  ">
                    <div class="row">
                        <div class="col-xs-8   col-md-7 form-group">
                            <select class="recurring-orders-frequency-selection btn btn-refiner">
                                {{!-- <option value="" {{#unless RecurringOrderFrequencyName}}selected="selected"{{/unless}}>{{localize 'ShoppingCart' 'L_RecurringChooseFrequency'}}</option> --}}
                                {{#each RecurringOrderProgramFrequencies}}
                                    <option value="{{RecurringOrderFrequencyName}}"
                                            {{#if_eq RecurringOrderFrequencyName ../RecurringOrderFrequencyName}}selected="selected"{{/if_eq}}>
                                        {{DisplayName}}
                                    </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#recurringModes{{@index}}"
                    aria-expanded="false" aria-controls="recurringModes{{@index}}"
                    data-oc-click="resetLineItemRecurringFrequency"
                    data-recurringorderfrequencyname="{{RecurringOrderFrequencyName}}">{{localize 'ShoppingCart' 'B_CancelRecurrenceChanges'}}</button>
            <button class="btn btn-primary"
                    data-oc-click="updateLineItemRecurringFrequency"
                    data-lineitemid="{{Id}}"
                    data-productid="{{ProductId}}"
                    data-quantity="{{Quantity}}"
                    data-recurringorderfrequencyname="{{RecurringOrderFrequencyName}}"
                    data-recurringorderprogramname="{{RecurringOrderProgramName}}">{{localize 'ShoppingCart' 'B_ApplyRecurrenceChanges'}}
            </button>
        </div>
    </div>
{{/if}}
