<div class="panel {{#if IsPreferredShipping}} panel-primary {{else}} panel-default {{/if}}" data-address-id="{{Id}}">
    <div class="panel-body  {{#if IsPreferredShipping}} text-primary {{/if}}">

        <div class="row">
            <div class="col-sm-4  col-sm-push-8  text-sm-right">
                {{#if IsPreferredShipping}}<strong>{{/if}}
                <span class="h5">{{AddressName}}</span>
                {{#if IsPreferredShipping}}</strong>{{/if}}

                {{#if IsPreferredShipping}}
                <br class="hidden-xs"/>
                <em class="text-muted">{{localize 'MyAccount' 'L_IsDefaultAddress'}}</em>
                {{/if}}
            </div>
            <div class="col-sm-8  col-sm-pull-4">
                {{FirstName}}
                {{LastName}}<br />
                {{Line1}}<br />
                {{#if Line2}}
                    {{Line2}}<br />
                {{/if}}
                {{City}},
                {{RegionName}},
                {{PostalCode}}<br />
                {{PhoneNumber}}
            </div>

            <div class="col-xs-12  text-right">
                <button type="button" class="btn  btn-link" data-qa="address-delete" data-oc-click="deleteAddressConfirm" title="{{localize 'MyAccount' 'B_DeleteAddress'}}">
                    <span class="fa  fa-trash-o  fa-lg"></span>
                </button>

                <a class="btn  btn-link" data-qa="address-edit" href="{{UpdateAddressUrl}}" title="{{localize 'MyAccount' 'B_EditAddress'}}">
                    <span class="fa  fa-pencil  fa-lg"></span>
                </a>
            </div>
        </div>

        {{#unless IsPreferredShipping}}
        <div class="row">
            <div class="col-xs-12  text-right">
                <hr/>
                <button type="button" class="btn  btn-default" data-qa="address-setdefault" data-oc-click="setDefaultAddress">
                   {{localize 'MyAccount' 'B_SetDefaultAddress'}}
                </button>
            </div>
        </div>
        {{/unless}}

    </div>
</div>