<div data-templateid="ProductQuickViewRecurringFrequency">
    {{#if isAvailableForRecurring}}
        <div class="recurring-modes form-group js-recurringModes">
            <div class="radio-row {{#if_eq recurringMode "single"}}selected{{/if_eq}} js-recurringModeRow">
                <div class="radio">
                    <input id="UseSingleQV" {{#if_eq recurringMode "single"}}checked="checked"{{/if_eq}} type="radio" data-target=".modeSelection"
                           name="recurringMode"
                           value="single"
                           data-oc-change="changeRecurringMode"  />
                    <label for="UseSingleQV">{{localize 'ProductPage' 'L_RecurringFrequencyOnce'}}</label>
                </div>
            </div>
            <div class="radio-row js-recurringModeRow {{#if_eq recurringMode "recurring"}}selected{{/if_eq}}">
                <div class="radio">
                    <input  id="UseRecurringQV" {{#if_eq recurringMode "recurring"}}checked="checked"{{/if_eq}}
                            type="radio"
                            data-target=".modeSelection"
                            name="recurringMode"
                            value="recurring"
                            data-oc-change="changeRecurringMode"  />
                    <label for="UseRecurringQV">
                        <img src="/UI.Package/Images/recurring.png" alt="{{localize 'General' 'L_RecurringProduct'}}" title="{{localize 'General' 'L_RecurringProduct'}}" /> {{localizeFormat 'ProductPage' 'L_RecurringPitch' (localize 'ProductPage' 'L_RecurringSaveRate') }}
                        <button class="btn-link" role="button" data-trigger="click" data-toggle="popover" data-placement="top" title=""
                                data-content="{{{recurringBubblePitch}}}" data-html="true" data-original-title="{{localize 'ProductPage' 'L_RecurringBubblePitchTitle'}}">
                            <span class="fa fa-question-circle"></span>
                        </button>
                    </label>
                </div>
                <div class="recurring-frequencies  collapse  {{#if_eq recurringMode "recurring"}}in{{/if_eq}}  modeSelection">
                    <div class="row">
                        <div class="form-group">
                            <select id="recurringOrderFrequencyNameSelect" class="recurring-orders-frequency-selection form-control" data-oc-change="onRecurringOrderFrequencySelectChanged">
                                {{#each availableFrequencies}}
                                    <option
                                            value="{{this.recurringOrderFrequencyName}}"
                                            {{#if_eq this.recurringOrderFrequencyName ../selectedRecurringOrderFrequencyName}}selected="selected"{{/if_eq}}>
                                        {{this.displayName}}
                                    </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>
