@inherits RazorFunction
@using Orckestra.Composer.Search.Context;

@functions {
    public override string FunctionDescription
    {
        get { return "Search Facets for Category Page"; }
    }

    public IBrowseCategoryRequestContext BrowsingRequestContext { get; set; }
}
@{
    var categoryBrowsingViewModel = BrowsingRequestContext.GetViewModelAsync().Result;
    if (categoryBrowsingViewModel == null)
    {
        return;
    }

    var facetSettings = categoryBrowsingViewModel.FacetSettings;
    var facets = categoryBrowsingViewModel.ProductSearchResults.Facets;
    if (facets == null || facets.Count == 0)
    {
        return;
    };

    var categoryFacetValuesTree = categoryBrowsingViewModel.FacetSettings.CategoryFacetValuesTree;
    var isCategoryTreeView = categoryFacetValuesTree != null;

}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:v-bind="v-bind" xmlns:v-on="v-on">
<head>
</head>
<body>
    <div data-oc-controller="Product.FacetSearch"
         data-context="@facetSettings.JsonContext" 
         data-corrected-search-term="@categoryBrowsingViewModel.ProductSearchResults.CorrectedSearchTerms">
        <form name="searchFacets" id="vueSearchFacets" v-cloak="true">
            @FacetHelpers.PromotedFacetValues()
            @if (isCategoryTreeView && categoryFacetValuesTree.ChildNodes.Count > 0)
            {
                var rootCategoryTreeItem = categoryFacetValuesTree.ChildNodes[0];
                <div id="categoriesTree" class="card bg-light  mb-3  facets-card category-page">
                    <div class="card-header">@Html.Localize("List-Search", "L_RefinerCategories")</div>
                    <div class="card-body">
                        <div class="mb-1">
                            <strong>@Html.Localize("General", "L_All") @rootCategoryTreeItem.Title (@rootCategoryTreeItem.Quantity)</strong>
                        </div>
                        <facets-tree v-bind:parentnode="CategoryFacetValuesTree.ChildNodes[0]"
                                     v-bind:nodeсlicked="categoryFacetClicked"
                                     v-bind:categoryPage="true"
                                     showMoreText="@Html.Localize("List-Search", "B_ShowMore")"
                                     showLessText="@Html.Localize("List-Search", "B_ShowLess")">
                        </facets-tree>
                    </div>
                </div>
            }
            <div v-for="facet in Facets" v-if="facet.IsDisplayed"
                 class="card  bg-light  mb-3  facets-card"
                 v-bind:data-facetfieldname="facet.FieldName"
                 v-bind:data-facettype="facet.FacetType"
                 v-bind:data-min="facet.StartValue"
                 v-bind:data-max="facet.EndValue"
                 v-bind:data-step="facet.GapSize"
                 data-max-label="@Html.Localize("List-Search", "L_RangeAll")">
                <div class="card-header">{{facet.Title}}</div>
                <div class="card-body">
                    @FacetHelpers.RenderFacet()
                </div>
            </div>
        </form>
    </div>
</body>
</html>