@inherits RazorFunction
@using Orckestra.Composer.Search.Context
@using Orckestra.Composer.Search

@functions {
    public override string FunctionDescription
    {
        get { return "Category Browsing Selected Facets"; }
    }
    public IBrowseCategoryRequestContext BrowsingRequestContext { get; set; }
}

@{
    var categoryBrowsingViewModel = BrowsingRequestContext.GetViewModelAsync().Result;
    if (categoryBrowsingViewModel == null)
    {
        return;
    }

    var selectedFacets = categoryBrowsingViewModel.FacetSettings.SelectedFacets;

    if (selectedFacets == null ||
        selectedFacets.Facets == null ||
        selectedFacets.Facets.Count == 0)
    {
        return;
    };
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <div data-oc-controller="Product.SelectedSearchFacets">
        <div id="selectedFacets" class="card facets-card  mb-3">
            <div class="card-header">
                @Html.Localize("List-Search", "L_Selection")
                @if (selectedFacets.IsAllRemovable)
                {
                    <a class="float-right  small" data-qa="search-refiners-clear-all" href="#"
                       data-oc-click="clearSelectedFacets"
                       data-landingpageurl="@categoryBrowsingViewModel.LandingPageUrls[0]">
                        @Html.Localize("List-Search", "B_ClearAll")
                    </a>
                }
            </div>
            <div class="card-body">
                <ul class="selected-facets list-group">
                    @{
                        var index = 0;
                    }
                    @foreach (var facet in selectedFacets.Facets)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @facet.DisplayName
                            <span class="badge badge-light">
                                @if (facet.IsRemovable)
                                {
                                    <a href="#" class="float-right" data-qa="search-refiner-remove"
                                       data-facetfieldname="@facet.FieldName"
                                       data-facettype="@facet.FacetType"
                                       data-facetvalue="@facet.Value"
                                       title="@facet.DisplayName" data-oc-click="removeSelectedFacet"
                                       @if(facet.FieldName.StartsWith(SearchConfiguration.CategoryFacetFiledNamePrefix))
                                       {
                                           <text>
                                                data-categorytree="@(facet.FieldName)"
                                           </text>
                                       }
                                        @if(facet.FieldName.StartsWith(SearchConfiguration.CategoryFacetFiledNamePrefix) && categoryBrowsingViewModel.LandingPageUrls.Count > index)
                                       {
                                           <text>
                                                 data-facetlandingpageurl="@categoryBrowsingViewModel.LandingPageUrls[index]"
                                           </text>
                                       } 
                                       >
                                        <span class="fa  fa-times  fa-lg"></span>
                                    </a>
                                }
                                else
                                {
                                    <span class="float-right  fa  fa-times  fa-lg  text-muted"></span>
                                }
                            </span>
                        </li>
                        index++;
                    }
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
