<div data-templateid="AddressRegionPicker" data-value='{{RegionCode}}'>
    <select name="RegionCode" id="RegionCode" data-qa="checkout-shipping-province-selector"
        {{#if_localized 'Forms' 'F_ProvinceIndication'}}
            {{>HelpBubbleOpen}}{{localize 'Forms' 'F_ProvinceIndication'}}{{>HelpBubbleClose}}
        {{/if_localized}}
            class="form-control" required="required">
        {{#if Regions}}
            {{#each Regions }}
                {{#if_eq IsoCode ../SelectedRegion}}
                    <option data-qa="checkout-shipping-province-{{@index}}" value="{{IsoCode}}"
                            selected="selected">{{Name}}</option>
                {{else}}
                    <option data-qa="checkout-shipping-province-{{@index}}" value="{{IsoCode}}">
                        {{#if Name}}{{Name}}{{else}}.{{/if}}</option>
                {{/if_eq}}
            {{/each}}
        {{else}}
            <option data-qa="checkout-shipping-province-0" value="{{RegionCode}}" selected="selected">
                {{#if Name}}{{Name}}{{else}}.{{/if}}</option>
        {{/if}}
    </select>
</div>
