<div data-oc-controller="Checkout.Navigation" data-context="{{JsonContext}}">
    <nav class="checkout-navigation">
        <ul>
            {{#each Steps}}

               {{#if IsActive}}
                <li class="active">
                    <span class="checkout-navigation-step">
                        {{StepNumber}}<span class="name">. {{Title}}</span>
                    </span>
                </li>
               {{else}}
                    {{#if IsEnable}}
                    <li class="past">
                        <a class="checkout-navigation-step" href="{{Url}}">
                            {{StepNumber}}<span class="name">. {{Title}}</span>
                        </a>
                    </li>
                    {{else}}
                      <li>
                        <span class="checkout-navigation-step" href="{{Url}}">
                            {{StepNumber}}<span class="name">. {{Title}}</span>
                        </span>
                     </li>
                    {{/if}}
               {{/if}}

            {{/each}}

        </ul>
    </nav>
</div>