@inherits RazorFunction
@using Orckestra.Composer.ViewModels.Home
@using Orckestra.Composer.CompositeC1.Mappers;
@using Orckestra.Composer.CompositeC1.DataTypes.Navigation;


@functions {
    public INavigationMapper HomeNavigationMapper { get; set; }
}

@{
    var currentPageId = SitemapNavigator.CurrentHomePageId;
    var footerData = Data.Get<Footer>().Where(x => x.PageId == currentPageId).ToList();
    var footer = HomeNavigationMapper.MapFooterItems(footerData) as IEnumerable<FooterEntryViewModel>;
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <div class="row mobile-menu" id="accordion" role="tablist" aria-multiselectable="false">
        @{int index = 0;}
        @foreach (var footerEntity in footer)
        {
            <div class="col-sm-4 col-md-4 col-xl-3 footer-menu-item">
                <div data-templateid="FooterNavList">
                    <ul class="nav nav-footer-entry list-unstyled collapse-mobile flex-column flex-sm-row">
                        <li class="nav-item">
                            <h5 role="tab" id="@index" class="nav-footer-title">
                                @if (footerEntity.HasChildren)
                                {
                                    <a class="collapsed  d-block  d-md-none"
                                       role="button"
                                       data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#footer-collapse-@index"
                                       aria-expanded="false"
                                       aria-controls="footer-collapse-@index"
                                       style="@footerEntity.CssClass">
                                        @footerEntity.DisplayName
                                        <span class="float-right fa fa-chevron-down collapsed-icon"></span>
                                        <span class="float-right fa fa-chevron-up expanded-icon"></span>
                                    </a>

                                    if (!string.IsNullOrEmpty(footerEntity.Url))
                                    {
                                        <a href="@footerEntity.Url" target="@footerEntity.UrlTarget" role="button"
                                           class="d-none  d-md-block"
                                           style="@footerEntity.CssClass"
                                           aria-haspopup="true">
                                            @footerEntity.DisplayName
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@footerEntity.Url" target="@footerEntity.UrlTarget" role="button"
                                           class="footer-nolink d-none  d-md-block"
                                           style="@footerEntity.CssClass"
                                           aria-haspopup="true">
                                            @footerEntity.DisplayName
                                        </a>
                                    }
                                }
                                else
                                {
                                    <a data-qa="footer-section" href="@footerEntity.Url"
                                       target="@footerEntity.UrlTarget"
                                       style="@footerEntity.CssClass">
                                        @footerEntity.DisplayName
                                    </a>
                                }
                            </h5>

                            <ul class="nav nav-text nav-stacked nav-footer-list collapse flex-column flex-sm-row"
                                id="footer-collapse-@index"
                                role="tabpanel"
                                aria-expanded="false">
                                @foreach (var subFooterEntity in footerEntity.Children as IEnumerable<FooterEntryViewModel>)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link"
                                           data-qa="footer-link"
                                           href="@subFooterEntity.Url"
                                           target="@subFooterEntity.UrlTarget"
                                           style="@subFooterEntity.CssClass">
                                            @subFooterEntity.DisplayName
                                        </a>
                                    </li>
                                }
                            </ul>

                        </li>
                    </ul>
                </div>
            </div>
            index++;
        }
        <div class="col-md-4 col-xl-3">
            <div class="nav-footer-entry">
                <h5 class="nav-footer-title">@Html.Localize("General", "L_FollowUs")</h5>
                <f:function name="Composite.Web.Html.Template.PageTemplateFeature" xmlns:f="http://www.composite.net/ns/function/1.0">
                    <f:param name="FeatureName" value="Social links" />
                </f:function>
            </div>
        </div>
    </div>
</body>
</html>
