<div class="wishlist-tile  island-xl">
    <div class="row">
        <div class="col-xs-4 col-sm-12">
            <a class="wishlist-tile-media" href="{{ProductUrl}}">
                <img class="img-fluid" src="{{ImageUrl}}" alt="{{ProductSummary.DisplayName}}" onerror="this.onerror=null; this.src='{{FallbackImageUrl}}'" />
            </a>
            <div class="wishlist-tile-delete hidden-xs">
                <button type="button" title="{{localize 'MyAccount' 'H_RemoveFromTheWishList'}}" class="btn  btn-default" data-lineitemid="{{Id}}" data-oc-click="deleteLineItem" data-qa="wishlist-product-delete"><span class="fa  fa-times  fa-lg"></span></button>
            </div>
        </div>
        <div class="col-xs-6 col-sm-12">
            <div class="wishlist-tile-text">
                {{#if ProductSummary.Brand}}
                <strong class="text-uppercase  product-tile-brand" title="{{ProductSummary.Brand}}">{{ProductSummary.Brand}}</strong>
                <br/> {{/if}}
                <a href="{{ProductUrl}}" title="{{ProductSummary.DisplayName}}">{{ProductSummary.DisplayName}}</a>
            </div>
            <div class="wishlist-tile-variants">
                {{#if VariantId}} {{#each KeyVariantAttributesList}} {{#if_neq @index 0}}|{{/if_neq}} {{Value}} {{/each}} {{/if}}
            </div>
            {{#if IsOnSale}}
            <div class="wishlist-tile-special-price">
                <del>{{DefaultListPrice}}</del>
            </div>
            <div class="wishlist-tile-price">
                <span class="h4  text-danger">{{ListPrice}}</span>
            </div>
            {{else}}
            <div class="wishlist-tile-special-price">
                <!--only used for proper spacing-->
            </div>
            <div class="wishlist-tile-price">
                <span class="h4">{{DefaultListPrice}}</span>
            </div>
            {{/if}} 
            <div class="wishlist-tile-add-to-cart">
                {{> AddToCartWishList}}
            </div>
            
        </div>
        <div class="col-xs-2 col-sm-12 visible-xs-block">
            <div class="wishlist-tile-delete">
                <button type="button" title="{{localize 'MyAccount' 'H_RemoveFromTheWishList'}}" class="btn  btn-default" data-lineitemid="{{Id}}" data-oc-click="deleteLineItem" data-qa="wishlist-product-delete"><span class="fa  fa-times  fa-lg"></span></button>
            </div>
        </div>
    </div>
</div>