@inherits RazorFunction
@using Orckestra.Composer.Cart

@functions {
    public override string FunctionDescription
    {
        get { return "Cart Page"; }
    }

    [FunctionParameter(Label = "Group cart items by primary category", DefaultValue = true)]
    public bool GroupCartItemsByPrimaryCategory { get; set; }
}

@{
     CartConfiguration.GroupCartItemsByPrimaryCategory = GroupCartItemsByPrimaryCategory;
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:v-bind="v-bind" xmlns:v-on="v-on">
<head>
</head>
<body>
    <div id="vueFullCart" class="full-cart" v-cloak="true">
        <h1>@CurrentPageNode.Title</h1>
        <div class="row">
            <div class="col-lg-8">
                @Function("Composer.Cart.CartSummary")
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-md-6  col-md-push-6  col-lg-push-0  col-lg-12 order-5 order-sm-1">
                        <div class="mt-3 mt-lg-0">
                            @Function("Composer.Cart.OrderSummary")
                        </div>
                    </div>
                    <div class="col-md-6  col-md-pull-6  col-lg-pull-0  col-lg-12 order-4 order-sm-2">
                        <div class="mt-3">
                            @Function("Composer.Cart.SelectedFulfillment")
                        </div>
                    </div>
                    <div v-if="Cart &amp;&amp; Cart.CartType != '@CartConfiguration.OrderDraftCartType'"
                         class="col-md-6  col-md-pull-6  col-lg-pull-0  col-lg-12 order-4 order-sm-2">
                        <div class="mt-3">
                            @Function("Composer.Cart.Coupons")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

