@inherits Composer.Razor.ComposerRazorFunction
@functions {
    public override string FunctionDescription
    {
        get { return "Selected Store"; }
    }
}

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://www.composite.net/ns/function/1.0"
      xmlns:v-bind="v-bind" xmlns:v-on="v-on">
<head>
</head>
<body>
    <div data-oc-controller="Grocery.SelectedStoreInCart">
        <div v-if="Cart" class="card bg-light">
            <h3 class="card-header">
                @Html.Localize("Grocery", "T_ShippingMethodTitle")
            </h3>
            <div class="card-body">
                @Forms.Validations.ShowError("Errors.TimeSlotSelectionError")
                <div v-if="SelectedStore.Store">
                    @StoreHelpers.SelectedStorePreview("SelectedStore")
                    <hr />
                    @StoreHelpers.SelectedTimeSlotPreview("SelectedStore")
                </div>
                <div v-else="else">
                    <button class="btn btn-primary"
                            v-on:click.prevent="changeStoreModal($event, true)">
                        @Html.Localize("Grocery", "B_BookStore")
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
