@using Composite.AspNet.Razor
@using System.Web.Mvc

@helper deleteAddressConfirmationModal(string modalId = "deleteAddressModal")
{
    <div class="modal" id="@modalId" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                        <span class="sr-only">@Html.Localize("General", "B_Close")</span>
                    </button>
                    @Html.Localize("MyAccount", "L_ConfirmDeleteAddress")
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary modal--cancel" type="button">@Html.Localize("General", "B_Cancel")</button>
                    <button class="btn btn-primary modal--confirm" type="button">@Html.Localize("General", "B_Delete")</button>
                </div>
            </div>
        </div>
    </div>
}
