@using Composite.AspNet.Razor
@using Orckestra.Overture.ServiceModel.Orders

@helper StoreAddress(string vueBinding, bool displayPhone = true)
{
    <address class="store-address  mb-0">
        <span class="d-block text-nowrap">{{@(vueBinding).Address.Line1}}</span>
        <span class="d-block text-nowrap" v-if="@(vueBinding).Address.Line2">{{@(vueBinding).Address.Line2}}</span>
        <span class="d-block">{{@(vueBinding).Address.City}}, {{@(vueBinding).Address.RegionName}}, {{@(vueBinding).Address.PostalCode}}, {{@(vueBinding).Address.CountryName}}</span>
        @if (displayPhone)
        {
            <span class="d-block">
                <span v-if="@(vueBinding).PhoneNumber" class="store-phone">{{@(vueBinding).PhoneNumber}}</span>
                <span v-else="else" class="store-phone">{{@(vueBinding).Address.PhoneNumber}}</span>
            </span>
        }
    </address>
}

@helper StoreAvailability(string vueBinding)
{
    <span v-if="@(vueBinding).Schedule">
        <span class="text-success" v-bind:class="{'text-danger': !@(vueBinding).Schedule.IsOpenNow}">
            <span v-if="@(vueBinding).Schedule.IsOpenNow" class="font-weight-bold text-uppercase">@Html.Localize("Store", "L_StoreOpen")</span>
            <span v-else="v-else" class="font-weight-bold text-uppercase">@Html.Localize("Store", "L_StoreClosed")</span>
            <span v-for="openTime in @(vueBinding).Schedule.TodayOpeningTimes"> {{openTime.BeginTime}} - {{openTime.EndTime}}</span>
        </span>
    </span>
}

@helper SelectedTimeSlotPreview(string vueBinding, bool showChangeLink = true, bool showTitle = true)
{
    <div>
        <div v-if="@(vueBinding).TimeSlot">
            @if (showTitle)
            {
                <strong>@Html.Localize("Grocery", "T_SelectedTimeSlot")</strong>
            }

            <div class="position-relative busy-container" v-bind:class="{ 'busy': @(vueBinding).TimeSlotLoading }">
                @GeneralHelpers.LoadingSpinner()
                <span>{{@(vueBinding).TimeSlot.DayOfWeekString}}, {{@(vueBinding).TimeSlotReservation.Day}} {{@(vueBinding).TimeSlotReservation.DisplayMonth}}</span>
                <p class="m-0" v-bind:title="TimeSlotReservation.ReservationStatusDisplay">
                    {{@(vueBinding).TimeSlot.DisplayBeginTime}} to {{@(vueBinding).TimeSlot.DisplayEndTime}}
                </p>
            </div>
            @if (showChangeLink)
            {
                <div class="clearfix">
                    <a class="cta float-right" href="#" v-on:click.prevent="changeStoreModal($event, 'slot')">
                        <i class="fa fa-edit d-inline d-sm-none"></i>
                        <span class="d-none d-sm-inline"> @Html.Localize("Grocery", "B_ChangeSlot")</span>
                    </a>
                </div>
            }
        </div>
        @if (showChangeLink)
        {
            <div v-else="v-else">
                <button v-on:click.prevent="changeStoreModal($event, 'slot')"
                        v-bind:disabled="!IsStoreSelected || @(vueBinding).TimeSlotLoading"
                        class="btn btn-block btn-primary">
                    @Html.Localize("Grocery", "B_BookYourSlot")
                    @GeneralHelpers.ButtonLoadingSpinner(vueBinding + ".TimeSlotLoading")
                </button>
            </div>
        }
        <div v-if="TimeSlotReservationTentative" v-cloak="true" class="text-danger mt-2">
            @Html.Localized("Grocery", "L_ReservedUntil", " {{TimeSlotReservationExpireTime}} ")
            <span v-if="TimeSlotReservationExpireRelativeDayIndex === 0"> @Html.Localize("Grocery", "L_Today")</span>
            <span v-else-if="TimeSlotReservationExpireRelativeDayIndex === 1"> @Html.Localize("Grocery", "L_Tomorrow")</span>
            <span v-else-if="TimeSlotReservationExpireRelativeDayIndex === -1"> {{TimeSlotReservationExpireDate}}</span>
        </div>
        <div v-if="TimeSlotReservationExpired" v-cloak="true" class="text-danger mt-2">
            @Html.Localize("Grocery", "L_ReservationExpired")
        </div>
    </div>
}

@helper SelectedStorePreview(string vueBinding, bool showChangeLink = true, string isStoreExist = "")
{
    if (string.IsNullOrWhiteSpace(isStoreExist))
    {
        isStoreExist = $"{vueBinding}.Store";
    }
    <div>
        <div v-if="@(isStoreExist)">
            <div class="position-relative busy-container" v-bind:class="{ 'busy': @(vueBinding).StoreLoading }">
                @GeneralHelpers.LoadingSpinner()
                <div class="mb-2">
                    <strong>{{@(vueBinding).Store.LocalizedDisplayName}}</strong>
                    @StoreAddress(vueBinding + ".Store", false)

                </div>
                <div class="mb-2 text-nowrap">
                    <strong>@Html.Localize("Store", "T_OpenHours")</strong><br />
                    @StoreAvailability(vueBinding + ".Store")
                </div>
                <div v-if="@(vueBinding).Store.PhoneNumber">
                    <strong>@Html.Localize("Store", "T_Phone"):</strong><br />
                    <span v-if="@(vueBinding).Store.PhoneNumber">{{@(vueBinding).Store.PhoneNumber}}</span>
                    <span v-else="else">{{@(vueBinding).Store.Address.PhoneNumber}}</span>
                </div>
                @if (showChangeLink)
                {
                    <div class="clearfix">
                        <a class="cta float-right" href="#" v-on:click.prevent="changeStoreModal($event, 'store')">
                            <i class="fa fa-edit d-inline d-sm-none"></i>
                            <span class="d-none d-sm-inline"> @Html.Localize("Grocery", "B_ChangeStore")</span>
                        </a>
                        <a class="cta float-left" v-bind:href="@(vueBinding).Store.Url">@Html.Localize("Store", "B_ViewStoreDetails")</a>
                    </div>
                }
            </div>
        </div>
    </div>
}

@helper StoreListRow(string vueBinding, bool isStep = false, bool showMap = true)
{
    <div class="card bg-light store-row">
        <div class="row">
            @if (showMap)
            {
                <div class="col-2 col-sm-2">
                    <div class="store-row-map" v-bind:style="{ 'background-image': 'url(' + @(vueBinding).GoogleStaticMapUrl + '&amp;size=200x200)' } ">
                        <a v-bind:href="@(vueBinding).Url" target="_blank"
                           class="d-block position-relative  w-100  h-100">
                            <div class="static-map-pin"></div>
                        </a>
                    </div>
                </div>
            }
            <div class="@(showMap ? "col-6 col-sm-7" : "col-8 col-sm-9")">
                <div class="p-2 text-left">
                    <strong>{{@(vueBinding).LocalizedDisplayName}}</strong>
                    <div class="mt-1">
                        <small>
                            @StoreAddress(vueBinding)
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-3">
                <div class="p-2  h-100 position-relative">
                    <div class="text-right small"
                         v-if="@(vueBinding).DestinationToSearchPoint">
                        at {{@(vueBinding).DestinationToSearchPoint}} {{@(vueBinding).LengthMeasureUnit}}
                    </div>
                    @StoreSelectButton(vueBinding, isStep)
                </div>
            </div>
        </div>
    </div>
}

@helper StoreSelectButton(string vueBinding, bool isStep = false)
{
    <div class="select-btn-container">
        <div v-if="SelectedStoreId === @(vueBinding).Id"
             class="bg-success btn-sm border border-success">
            <span class="text-white text-nowrap">
                <i class="fa fa-check fa-lg"></i>
                @Html.Localize("CheckoutProcess", "L_Selected")
            </span>
        </div>
        <button v-else="v-else"
                class="btn btn-sm btn-outline-secondary text-uppercase float-right"
                v-on:click='selectStore($event, @(vueBinding), @(isStep ? "step" : "undefined"))'>
            @Html.Localize("CheckoutProcess", "F_SelectShippingMethod")
            @GeneralHelpers.ButtonLoadingSpinner()
        </button>
    </div>
}

@helper StoreIcon(bool showTimeslotInformation = true)
{
    <span class="d-none d-lg-inline">
        <i class="fa fa-sm mr-1" v-bind:class="[FulfillmentMethodType == '@(FulfillmentMethodType.PickUp)' ? 'fa-store-alt' : 'fa-truck']" />
        <span v-if="Store">
            <span class="d-none d-lg-inline">
                {{Store.LocalizedDisplayName}}
                @if (showTimeslotInformation) {
                <span v-if="SelectedFulfillment.TimeSlotLoading">@GeneralHelpers.LoadingSpinner(true)</span>
                <span v-else-if="TimeSlotReservationTentative">&#160;|&#160;{{TimeSlotReservationDisplay}}</span>
                }
            </span>
            <span class="d-lg-none">
                @Html.Localize("Grocery", "B_BookStore")
            </span>
        </span>
        <span v-else="v-else">@Html.Localize("Grocery", "B_BookStore")</span>
    </span>

    <span class="d-lg-none">
        <i class="fa fa-sm mr-1"
           v-bind:class="[FulfillmentMethodType == '@(FulfillmentMethodType.PickUp)' ? 'fa-store-alt' : 'fa-truck']" />
        <span class="d-none d-sm-inline">
            <span v-if="Store">
                {{Store.LocalizedDisplayName}}
            </span>
            <span v-else="v-else">
                @Html.Localize("Grocery", "B_BookStore")
            </span>
        </span>
    </span>
}

@helper SelectedFulfillmentMethod()
{
    <div v-if="SelectedFulfillment.FulfillmentMethodType" class="mb-2">
        <div class="border-bottom bg-light p-3  mx-n3 mt-n3">
            <a class="cta dark-blue float-right" href="#" v-on:click.prevent="changeStoreModal($event, 'method')">
                <i class="fa fa-edit d-inline d-sm-none"></i>
                <span class="d-none d-sm-inline">@Html.Localize("Grocery", "B_ChangeFulfillmentMethod")</span>
            </a>
            <h5 class="m-0">
                <i class="fa mr-1" v-bind:class="SelectedFulfillment.FulfillmentMethodType === '@(FulfillmentMethodType.PickUp)' ? 'fa-store-alt' : 'fa-truck'" />
                <span v-if="SelectedFulfillment.FulfillmentMethodType == '@(FulfillmentMethodType.PickUp)'">@Html.Localize("Grocery", "T_FulfillmentMethodTitle_PickUp")</span>
                <span v-else="else">@Html.Localize("Grocery", "T_FulfillmentMethodTitle_Shipping")</span>
            </h5>

        </div>
    </div>
}