@inherits Composer.Razor.ComposerRazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "User Information"; }
    }
}

@{
    var firstNameLengthError = Html.Localize("Forms", "F_FirstNameLengthError");
    var firstNamePatternError = Html.Localize("Forms", "F_FirstNamePatternError");

    var lastNameLengthError = Html.Localize("Forms", "F_LastNameLengthError");
    var lastNamePatternError = Html.Localize("Forms", "F_LastNamePatternError");

    var emailLengthError = Html.Localize("Forms", "F_EmailLengthError");
    var emailPatternError = Html.Localize("Forms", "F_EmailPatternError");
}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:v-bind="v-bind" xmlns:v-on="v-on" xmlns:v-slot="v-slot">
<head>
</head>
<body>
    <div data-oc-controller="SingleCheckout.GuestCustomerInfo">
        <div class="card">
            <div class="card-header">
                <h3 class="float-left">
                    @Html.Localize("CheckoutProcess", "T_Information")
                </h3>
                @CheckoutHelpers.StepEditButton("information")
            </div>

            <div class="card-body  bg-light" v-cloak="true">
                <div v-if="step.preview" key="preview" data-qa="information-preview-state">
                    <span data-qa="information-firstName" v-text="Cart.Customer.FirstName" class="font-weight-bold"></span>&#160;
                    <span data-qa="information-lastName" v-text="Cart.Customer.LastName" class="font-weight-bold"></span>
                    <div data-qa="information-email" v-text="Cart.Customer.Email"></div>
                </div>

                <form id="editCustomerForms" v-show="step.active" key="active" data-qa="information-active-state">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="FirstName">@Html.Localize("Forms", "F_FirstName") *</label>
                            <input v-model="Cart.Customer.FirstName"
                                   id="FirstName"
                                   name="FirstName"
                                   data-qa="information-firtsName-input"
                                   v-bind:disabled="IsLoading"
                                   class="form-control"
                                   placeholder="@Html.Localize("Forms", "F_FirstNameWaterMark")"
                                   type="text"
                                   required="required"
                                   data-parsley-length="[2, 36]"
                                   data-parsley-pattern="/^[a-zA-Z\u00E0-\u00FC\.\-\s\']+$/i"
                                   @if (!string.IsNullOrWhiteSpace(firstNameLengthError)) { <text> data-parsley-length-message="@firstNameLengthError" </text> }
                                   @if (!string.IsNullOrWhiteSpace(firstNamePatternError)) { <text> data-parsley-pattern-message="@firstNamePatternError" </text> } />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="LastName">@Html.Localize("Forms", "F_LastName") *</label>
                            <input v-model="Cart.Customer.LastName"
                                   id="LastName"
                                   name="LastName"
                                   data-qa="information-lastName-input"
                                   v-bind:disabled="IsLoading"
                                   class="form-control"
                                   placeholder="@Html.Localize("Forms", "F_LastNameWaterMark")"
                                   type="text"
                                   required="required"
                                   data-parsley-length="[2, 36]"
                                   data-parsley-pattern="/^[a-zA-Z\u00E0-\u00FC\.\-\s\']+$/i"
                                   @HelpBubble("Forms", "F_LastNameIndication")
                                   @if (!string.IsNullOrWhiteSpace(lastNameLengthError)) { <text> data-parsley-length-message="@lastNameLengthError" </text> }
                                   @if (!string.IsNullOrWhiteSpace(lastNamePatternError)) { <text> data-parsley-pattern-message="@lastNamePatternError" </text> } />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Email">@Html.Localize("Forms", "F_Email") *</label>
                            <input v-model="Cart.Customer.Email"
                                   id="Email"
                                   name="Email"
                                   data-qa="information-email-input"
                                   v-bind:disabled="IsLoading"
                                   type="email"
                                   class="form-control"
                                   placeholder="@Html.Localize("Forms", "F_EmailWaterMark")"
                                   required="required"
                                   data-parsley-length="[2, 36]"
                                   data-parsley-type="email"
                                   @if (!string.IsNullOrWhiteSpace(emailLengthError)) { <text> data-parsley-length-message="@emailLengthError" </text> }
                                   @if (!string.IsNullOrWhiteSpace(emailPatternError)) { <text> data-parsley-type-message="@emailPatternError" </text> }
                                   @HelpBubble("Forms", "F_EmailAddressGuestIndication") />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>