@inherits RazorFunction
@using System.Globalization
@using Orckestra.Composer.Recipes.DataTypes
@using Composite.Data
@using Orckestra.Composer.ContentSearch.Services

@functions {
    public override string FunctionDescription
    {
        get { return "Recipe Search TIle"; }
    }

    public IContentSearchViewService ContentSearchViewService { get; set; }

    [FunctionParameter]
    public List<Orckestra.Search.WebsiteSearch.SearchResultEntry> Results { get; set; }

}
@{
    var difficulties = DataFacade.GetData<IDifficulty>().ToLookup(_ => _.Id.ToString());
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    @foreach (var item in Results)
    {
        var itemViewModel = ContentSearchViewService.GetSearchResultsEntryViewModel(item);
        var imgURL = itemViewModel.ImageUrl;
        var itemTitle = itemViewModel.Title;
        var itemURL = itemViewModel.DetailsUrl;
        var hasCookingTime = itemViewModel.FieldsBag.ContainsKey("IRecipe.CookingTime");
        int cookingTime = hasCookingTime ? int.Parse(itemViewModel.FieldsBag["IRecipe.CookingTime"].ToString()) : 0;
        var hasPrepTime = itemViewModel.FieldsBag.ContainsKey("IRecipe.PreparationTime");
        int preparationTime = hasPrepTime ? int.Parse(itemViewModel.FieldsBag["IRecipe.PreparationTime"].ToString()): 0;
        var difficulty = itemViewModel.FieldsBag.ContainsKey("IRecipe.Difficulty") ? difficulties[itemViewModel.FieldsBag["IRecipe.Difficulty"].ToString()].FirstOrDefault().Title : "";
        var servings = itemViewModel.FieldsBag.ContainsKey("IRecipe.Servings") ? itemViewModel.FieldsBag["IRecipe.Servings"].ToString() : "";
        <div class="col-12 col-sm-4 col-lg-4  mb-4">
            <div class="card h-100">
                @if (imgURL != null)
                {
                    <a href="@itemURL">
                        <span class="recipe-tile-media">
                            
                            <img class="card-img-top" src="@imgURL?h=200" alt="@itemTitle" />
                            <span class="card-img-overlay recipe-info-table">
                                @if (!string.IsNullOrWhiteSpace(difficulty))
                                {
                                    <span class="recipe-info-table-cell">
                                        <span class="fa fa-spoon recipe-info-icon"></span>
                                        <span class="recipe-info-type">@Html.Localize("Recipes", "L_Difficulty")</span>
                                        <span class="recipe-info-value">@difficulty</span>
                                    </span>
                                }
                                @if (hasCookingTime || hasPrepTime)
                                {
                                    <span class="recipe-info-table-cell">
                                        <span class="fa fa-blender recipe-info-icon"></span>
                                        <span class="recipe-info-type">@Html.Localize("Recipes", "L_TotalTime")</span>
                                        <span class="recipe-info-value">@(cookingTime + preparationTime) @Html.Localize("Recipes", "L_Minutes")</span>
                                    </span>
                                }
                                @if (!string.IsNullOrWhiteSpace(servings))
                                {
                                    <span class="recipe-info-table-cell">
                                        <span class="fa fa-chart-pie recipe-info-icon"></span>
                                        <span class="recipe-info-type">@Html.Localize("Recipes", "L_Serves")</span>
                                        <span class="recipe-info-value">@servings</span>
                                    </span>
                                }
                            </span>
                        </span>
                    </a>
                }
                <div class="card-body">
                    <div class="card-title">
                        <h4><a href="@itemURL">@Html.Raw(itemTitle)</a></h4>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>