<!--TODO: Localize-->
{{#if_neq InvalidLineItemCount 0}}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-10">
                <h2 class="h3" data-qa="checkout-header-cart-details">{{localize 'ShoppingCart' 'T_UnavailableItems'}}</h2>
            </div>
            <div class="col-xs-2">
                <a href="{{OrderSummary.CheckoutStepUrls.[0]}}" class="pull-right" title="{{localize 'CheckoutProcess' 'B_Edit'}}"><span class="fa  fa-pencil  fa-lg"></span></a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        {{#if GettingCart}}
            {{>Loading}}
        {{else}}
                {{#if_neq InvalidLineItemCount 0}}
                    <div class="panel  panel-danger">
                        <div class="panel-body">
                            <div class="multiline-message  text-danger">
                                <span class="fa  fa-exclamation-triangle  multiline-message-icon"></span>
                                <span>{{InvalidLineItemCount}} {{localize 'ShoppingCart' 'L_NoMoreAvailable'}}</span>
                            </div>
                        </div>
                    </div>
                {{/if_neq}}

                {{#each LineItemDetailViewModels}}
                    {{#unless IsValid}}
                          {{>CheckoutCompleteCartLineItem}}
                    {{/unless}}
        	    {{/each}}
        {{/if}}
    </div>
</div>
{{/if_neq}}

{{#if_neq InvalidLineItemCount LineItemCount}}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-10">
                <h2 class="h3" data-qa="checkout-header-cart-details">{{localize 'MyAccount' 'T_CartDetails'}}</h2>
            </div>
            <div class="col-xs-2">
                <a href="{{OrderSummary.CheckoutStepUrls.[0]}}" class="pull-right" title="{{localize 'CheckoutProcess' 'B_Edit'}}"><span class="fa  fa-pencil  fa-lg"></span></a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        {{#if GettingCart}}
            {{>Loading}}
        {{else}}
                {{#each LineItemDetailViewModels}}
            	    {{#if IsValid}}
                          {{>CheckoutCompleteCartLineItem}}
                    {{/if}}
            	{{/each}}
        {{/if}}
    </div>
</div>
{{/if_neq}}
