@inherits RazorFunction
@using Orckestra.Composer.ViewModels.Home
@using Orckestra.Composer.CompositeC1.Mappers;
@using Orckestra.Composer.CompositeC1.DataTypes.Navigation;


@functions {
    public INavigationMapper HomeNavigationMapper { get; set; }
}

@{
    var currentPageId = SitemapNavigator.CurrentHomePageId;
    var footerData = Data.Get<Footer>().Where(x => x.PageId == currentPageId).ToList();
    var footer = HomeNavigationMapper.MapFooterItems(footerData) as IEnumerable<FooterEntryViewModel>;
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <div class="row" id="accordion" role="tablist" aria-multiselectable="false">
       @{int index = 0;}
       @foreach (var footerEntity in footer)
        {
            <div class="col-sm-2">
                <div data-templateid="FooterNavList">
                    <ul class="nav-footer-entry list-unstyled collapse-mobile">
                        <li>
                            <h4 role="tab" id="@index">
                               @if (footerEntity.HasChildren)
                                {
                                    <a class="collapsed hidden-sm hidden-md hidden-lg hidden-xl" role="button" data-toggle="collapse" data-parent="#accordion" href="#footer-collapse-@index" aria-expanded="false" aria-controls="footer-collapse-@index" style="@footerEntity.CssClass">
                                        @footerEntity.DisplayName
                                        <span class="pull-right fa fa-chevron-down collapsed-icon"></span>
                                        <span class="pull-right fa fa-chevron-up expanded-icon"></span>
                                    </a>

                                    if (!string.IsNullOrEmpty(footerEntity.Url))
                                    {
                                        <a href="@footerEntity.Url" target="@footerEntity.UrlTarget" role="button" class="hidden-xs" style="@footerEntity.CssClass" aria-haspopup="true">@footerEntity.DisplayName</a>
                                    }
                                    else
                                    {
                                        <a href="@footerEntity.Url" target="@footerEntity.UrlTarget" role="button" class="footer-nolink hidden-xs" style="@footerEntity.CssClass" aria-haspopup="true">@footerEntity.DisplayName</a>
                                    }
                                }
                                else
                                {
                                    <a data-qa="footer-section" href="@footerEntity.Url" target="@footerEntity.UrlTarget" style="@footerEntity.CssClass">@footerEntity.DisplayName</a>
                                }
                            </h4>
                            <ul class="nav nav-text nav-stacked nav-footer-list collapse" id="footer-collapse-@index" role="tabpanel" aria-expanded="false">
                               @foreach (var subFooterEntity in footerEntity.Children as IEnumerable<FooterEntryViewModel>)
                                {
                                    <li>
                                        <a data-qa="footer-link" href="@subFooterEntity.Url" target="@subFooterEntity.UrlTarget" style="@subFooterEntity.CssClass">@subFooterEntity.DisplayName</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            index++;
        }
    </div>
</body>
</html>