@using System.ComponentModel.Design
@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "Displays social links as icons on a page"; }
    }

	[FunctionParameter(Label = "Show Labels", Help = "Set to true if you want to have the social media name displayed with the icon", DefaultValue = false)]
    public bool ShowLabels { get; set; }

    [FunctionParameter(Label = "Facebook", Help = "A full link to your Facebook page", DefaultValue = null)]
    public string Facebook { get; set; }

    [FunctionParameter(Label = "Twitter", Help = "A full link to your Twitter", DefaultValue = null)]
    public string Twitter { get; set; }

    [FunctionParameter(Label = "Instagram", Help = "A full link to your Instagram", DefaultValue = null)]
    public string Instagram { get; set; }

    [FunctionParameter(Label = "LinkedIn", Help = "A full link to your LinkedIn page", DefaultValue = null)]
    public string LinkedIn { get; set; }

    [FunctionParameter(Label = "YouTube", Help = " A full link to your YouTube channel", DefaultValue = null)]
    public string YouTube { get; set; }

    [FunctionParameter(Label = "TikTok", Help = "A full link to your TikTok", DefaultValue = null)]
    public string TikTok { get; set; }

    [FunctionParameter(Label = "Pinterest", Help = "A full link to your Pinterest", DefaultValue = null)]
    public string Pinterest { get; set; }

    [FunctionParameter(Label = "Flickr", Help = "A full link to your Flickr", DefaultValue = null)]
    public string Flickr { get; set; }

    [FunctionParameter(Label = "FourSquare", Help = "A full link to your FourSuare", DefaultValue = null)]
    public string FourSquare { get; set; }

    [FunctionParameter(Label = "SoundCloud", Help = "A full link to your SoundCloud", DefaultValue = null)]
    public string SoundCloud { get; set; }

    [FunctionParameter(Label = "Tumblr", Help = "A full link to your Tumblr blog", DefaultValue = null)]
    public string Tumblr { get; set; }

    [FunctionParameter(Label = "Vimeo", Help = "A full link to your Vimeo channel", DefaultValue = null)]
    public string Vimeo { get; set; }

    [FunctionParameter(Label = "Dribbble", Help = "A full link to your Dribbble", DefaultValue = null)]
    public string Dribbble { get; set; }

    [FunctionParameter(Label = "Behance", Help = "A full link to your Behance", DefaultValue = null)]
    public string Behance { get; set; }

    [FunctionParameter(Label = "StumbleUpon", Help = "A full link to your StumbleUpon", DefaultValue = null)]
    public string Stumbleupon { get; set; }

    [FunctionParameter(Label = "Email", Help = "Your email address (mailto:your-name@email-address.com)", DefaultValue = null)]
    public string MailTo { get; set; }

    private const string sizeOptionsWidgetMarkup = @" <f:widgetfunction xmlns:f='http://www.composite.net/ns/function/1.0' name='Composite.Widgets.String.Selector'>
    <f:param name='Options'>
       <f:function name='Composite.Utils.String.Split'>
            <f:param name='String' value='small,medium,large' />
       </f:function>
      </f:param>
     </f:widgetfunction>";

    [FunctionParameter(Label = "Size", Help = "The size of social media icons: small, medium, large", WidgetMarkup = sizeOptionsWidgetMarkup, DefaultValue = "medium")]
    public string Size{ get; set; }

    private const string optionsWidgetMarkup = @" <f:widgetfunction xmlns:f='http://www.composite.net/ns/function/1.0' name='Composite.Widgets.String.Selector'>
    <f:param name='Options'>
       <f:function name='Composite.Utils.String.Split'>
            <f:param name='String' value='light,dark,colored' />
       </f:function>
      </f:param>
     </f:widgetfunction>";

    [FunctionParameter(Label = "Color Style", Help = "The color style of the social media icons: light, dark, colored", WidgetMarkup = optionsWidgetMarkup, DefaultValue = "light")]
    public string ColorStyle { get; set; }

    private const string formStyleOptionsWidgetMarkup = @" <f:widgetfunction xmlns:f='http://www.composite.net/ns/function/1.0' name='Composite.Widgets.String.Selector'>
    <f:param name='Options'>
       <f:function name='Composite.Utils.String.Split'>
            <f:param name='String' value='square,radius-5px,circle' />
       </f:function>
      </f:param>
     </f:widgetfunction>";

    [FunctionParameter(Label = "Form Style", Help = "The form style of the social media icons: square, rounded, circle", WidgetMarkup = formStyleOptionsWidgetMarkup, DefaultValue = "square")]
    public string FormStyle { get; set; }

    [FunctionParameter(Label = "Is Collapsed", Help = "If checked, the links will be collapsed into a single drop-down button on small screens.", DefaultValue = false)]
    public bool IsCollapsed { get; set; }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
    <head>
    </head>
<body>
    @{
        var classname = string.Format("social-il clearfix {0} {1} s-{2} {3}", ColorStyle, FormStyle, Size, (IsCollapsed ? "d-none d-md-block" : string.Empty));
        @SocialLinks_List(classname)
    }
    @if (IsCollapsed)
    {
        <div class="d-xl-none">
            <div class="social-il-dropdown btn-group dropdown">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                @SocialLinks_List(string.Format("social-il dropdown-menu {0} {1} s-{2}", ColorStyle, FormStyle, Size))
            </div>
        </div>
    }
</body>
</html>


@helper SocialLinks_List(string className)
{
    <ul class="@className nav-social">
        @if (!String.IsNullOrEmpty(Facebook))
        {
            <li class="facebook">
				<a target="_blank" href="@Facebook" title="Facebook">
					<i class="fab fa-facebook-f" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">Facebook</span>
				}
			</li>
        }
        @if (!String.IsNullOrEmpty(Twitter))
        {
            <li class="twitter">
				<a target="_blank" href="@Twitter" title="Twitter">
					<i class="fab fa-twitter" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">Twitter</span>
				}
			</li>
        }
        @if (!String.IsNullOrEmpty(Instagram))
        {
            <li class="instagram">
				<a target="_blank" href="@Instagram" title="Instagram">
					<i class="fab fa-instagram" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">Instagram</span>
				}
			</li>
        }
        @if (!String.IsNullOrEmpty(LinkedIn))
        {
            <li class="linkedin">
				<a target="_blank" href="@LinkedIn" title="LinkedIn">
					<i class="fab fa-linkedin-in" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">LinkedIn</span>
				}
			</li>
        }
        @if (!String.IsNullOrEmpty(YouTube))
        {
            <li class="youtube">
				<a target="_blank" href="@YouTube" title="YouTube">
					<i class="fab fa-youtube" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">YouTube</span>
				}
			</li>
        }
        @if (!String.IsNullOrEmpty(TikTok))
        {
            <li class="tiktok">
				<a target="_blank" href="@TikTok" title="TikTok">
					<i class="fab fa-tiktok" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">TikTok</span>
				}
			</li>
        }
        @if (!String.IsNullOrEmpty(Pinterest))
        {
            <li class="pinterest">
				<a target="_blank" href="@Pinterest" title="Pinterest">
					<i class="fab fa-pinterest" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">Pinterest</span>
				}
			</li>
        }
        @if (!String.IsNullOrEmpty(Flickr))
        {
            <li class="flickr">
				<a target="_blank" href="@Flickr" title="Flickr">
					<i class="fab fa-flickr" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">Flickr</span>
				}
			</li>
        }
        @if (!String.IsNullOrEmpty(FourSquare))
        {
            <li class="foursquare">
				<a target="_blank" href="@FourSquare" title="FourSquare">
					<i class="fa fa-foursquare" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">FourSquare</span>
				}
			</li>
        }
        @if (!String.IsNullOrEmpty(SoundCloud))
        {
            <li class="soundcloud">
				<a target="_blank" href="@SoundCloud" title="SoundCloud">
					<i class="fab fa-soundcloud" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">SoundClound</span>
				}
			</li>
        }
        @if (!String.IsNullOrEmpty(Tumblr))
        {
            <li class="tumblr">
				<a target="_blank" href="@Tumblr" title="Tumblr">
					<i class="fab fa-tumblr" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">Tumblr</span>
				}
			</li>
        }
        @if (!String.IsNullOrEmpty(Vimeo))
        {
            <li class="vimeo">
				<a target="_blank" href="@Vimeo" title="Vimeo">
					<i class="fa fa-vimeo-square" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">Vimeo</span>
				}
			</li>
        }
        @if (!String.IsNullOrEmpty(Dribbble))
        {
            <li class="dribbble">
				<a target="_blank" href="@Dribbble" title="Dribbble">
					<i class="fab fa-dribbble" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">Dribble</span>
				}
			</li>
        }
        @if (!String.IsNullOrEmpty(Behance))
        {
            <li class="behance">
				<a target="_blank" href="@Behance" title="Behance">
					<i class="fab fa-behance" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">Behance</span>
				}
			</li>
        }
        @if (!String.IsNullOrEmpty(Stumbleupon))
        {
            <li class="stumbleupon">
				<a target="_blank" href="@Stumbleupon" title="Stumbleupon">
					<i class="fab fa-stumbleupon" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">Stumbleupon</span>
				}
			</li>
        }
        @if (!String.IsNullOrEmpty(MailTo))
        {
            <li class="mailto">
				<a href="@MailTo" title="Mail">
					<i class="fafa-envelope" aria-hidden="true"></i>
				</a>
				@if (ShowLabels) {
				<span class="nav-social-caption">@Html.Localize("General", "L_Email")</span>
				}
			</li>
        }
    </ul>
}
