@inherits RazorFunction
@using System.Globalization;


@functions {
    public override string FunctionDescription
    {
        get { return "Articles List"; }
    }

    [FunctionParameter(Label = "Articles count", Help = @"The number of article to display on the page (6 by default).", DefaultValue = 6)]
    public int PageSize { get; set; }

    [FunctionParameter]
    public RoutedData<Orckestra.Composer.Articles.DataTypes.IArticle> ArticleData { get; set; }

}

@{
    var articles = ArticleData.List.OrderBy(i => i.Date).ToList();

    int pageCurrent;
    if (!int.TryParse(Request.QueryString["page"], out pageCurrent))
    {
        pageCurrent = 1;
    }

    int articlesCount = articles.Count;

    var pageCount = (articlesCount + PageSize - 1) / PageSize;
    var articlesList = articles.Skip(PageSize * (pageCurrent - 1)).Take(PageSize);
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    @if (ArticleData.IsItem)
    {
    <div class="col-12">
        @if (!string.IsNullOrWhiteSpace(ArticleData.Item.Image))
        {
            <img class="img-thumbnail" src="/media(@ArticleData.Item.Image)?h=400" />
        }
        <h1>
            @ArticleData.Item.Title
        </h1>
        <div>
            @FormattedDate(@ArticleData.Item.Date)
        </div>
        <div>
            @Html.Raw(@ArticleData.Item.Content)
        </div>
        <div>
            @Tags(@ArticleData.Item.Tags)
        </div>
    </div>
    }
    else
    {

        if (pageCount > 1)
        {
            <div class="row">
                <div class="float-right">
                    @SearchHelpers.Pagination(pageCurrent, pageCount, 10, @ArticleData.ListUrl)
                </div>
            </div>
           
        }


        <div class="row">
                @foreach (var item in articlesList)
                {
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 pl-0">
                        <div class="card h-100">
                            <a href="@ArticleData.ItemUrl(item)">
                                @if (!string.IsNullOrWhiteSpace(item.Image))
                                {
                                    <img class="card-img-top" src="/media(@item.Image)?h=250" />
                                }
                                <div class="card-body">
                                    <h4 class="card-title">@item.Title</h4>
                                    <p>@FormattedDate(@item.Date)</p>
                                    <p>@item.Summary</p>
                                    <p>@Tags(@item.Tags)</p>
                                </div>
                            </a>
                        </div>
                    </div>

                }
        </div>
        if (pageCount > 1)
        {
            <div class="row">
                <div class="float-right">
                    @SearchHelpers.Pagination(pageCurrent, pageCount, 10, @ArticleData.ListUrl)
                </div>
            </div>
        }


    }
</body>
</html>

@helper Tags(string tags)
{
    string[] articleTags = tags.Split(',');

    <small class="text-muted">
        <span class="glyphicon glyphicon-tags"></span>
        @foreach (var tag in articleTags)
        {
            if (string.IsNullOrEmpty(tag))
            {
                continue;
            }
            <span>@tag</span>
        }
    </small>
}

@helper FormattedDate(DateTime date)
{

    var formattedDate = date.ToString("dd MMMM yyyy", CultureInfo.CurrentCulture);

    <span class="text-muted">
        <span class="glyphicon glyphicon-calendar"></span>
        @formattedDate
    </span>
}
