@inherits RazorFunction
@using Orckestra.Composer.CompositeC1.Context
@using Orckestra.Composer.ViewModels.Breadcrumb;

@functions {
    public IBreadcrumbContext BreadcrumbContext { get; set; }
}

@{
    if (SitemapNavigator.CurrentPageId == SitemapNavigator.CurrentHomePageId)
    {
        return;
    }

    BreadcrumbViewModel Model = BreadcrumbContext.ViewModel;
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <div xmlns:v="http://rdf.data-vocabulary.org/#" class="clearfix d-inline-flex">
        <a class="pull-left" href="javascript: history.back();">
            <span class="fa  fa-arrow-circle-left"></span>
            @Html.Localize("General", "B_Back")
        </a>
        <span class="d-none d-md-block">&#160;| @Html.Localize("General", "L_Breadcrumb")&#160;</span>
        <ol class="breadcrumb  d-none d-md-flex bg-white">
            @foreach (var item in Model.Items)
            {
                if (!string.IsNullOrEmpty(item.Url))
                {
                    <li typeof="v:Breadcrumb" class="breadcrumb-item">
                        <a class="cta" href="@item.Url" rel="v:url" property="v:title">@item.DisplayName</a>
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <span>@item.DisplayName</span>
                    </li>
                }
            }
            <li class="breadcrumb-item active">@Html.Raw(Model.ActivePageName)</li>
        </ol>
    </div>
</body>
</html>