<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="h3">{{localize 'MyAccount' 'T_ForgotPassword'}}</h2>
    </div>
    <div class="panel-body">
        <form name="forgotPassword" data-oc-submit="forgotPassword">
            {{>FormErrorMessages}}

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Email">{{localize 'Forms' 'F_Email'}}</label>
                        <input data-qa="forgot-email" class="form-control" id="Email" name="Email"
                        type="email"
                        placeholder="{{localize 'Forms' 'F_EmailWaterMark'}}"
                        {{#if_localized 'Forms' 'F_EmailForgottenIndication'}}
                            {{>HelpBubbleOpen}}{{localize 'Forms' 'F_EmailForgottenIndication'}}{{>HelpBubbleClose}}
                        {{/if_localized}}
                        required="true" {{#if_localized 'Forms' 'F_EmailRequiredError'}}data-parsley-required-message="{{localize 'Forms' 'F_EmailRequiredError'}}"{{/if_localized}}
                        data-parsley-length="[2, 36]" {{#if_localized 'Forms' 'F_EmailLengthError'}}data-parsley-length-message="{{localize 'Forms' 'F_EmailLengthError'}}"{{/if_localized}}
                        data-parsley-type="email" {{#if_localized 'Forms' 'F_EmailPatternError'}}data-parsley-type-message="{{localize 'Forms' 'F_EmailPatternError'}}"{{/if_localized}}
                        />
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-default" data-qa="forgot-submit" >
                            {{localize 'MyAccount' 'B_ForgotPassword'}}
                            <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  hidden"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
