@using Composite.AspNet.Razor
@using System.Web.Mvc


@helper CartItemRewardsCell()
{
    <div class="promotion">
        <em v-for="reward in item.Rewards">{{reward.Description || reward.PromotionName}} <br /></em>
    </div>
}


@helper CartItemImageCell()
{
    <a v-bind:href="item.ProductUrl">
        <img v-bind:src="item.ImageUrl" class="img-fluid" alt="thumbnail" xmlns:v-bind="v-bind"
             v-bind:onerror="'this.onerror=null; this.src=\'' + item.FallbackImageUrl + '\''" />
    </a>
}


@helper CartItemSummaryCell()
{
    <div>
        <strong v-bind:data-qa="'cart-item-brand-' + index">{{item.ProductSummary.Brand}}</strong>
        <p v-bind:data-qa="'cart-item-name-' + index" class="mb-2">
            <a v-bind:href="item.ProductUrl" class="cart-item font-weight-normal">
                {{item.ProductSummary.DisplayName}}
            </a>
        </p>
        <p v-if="item.VariantId" class="mb-2 mb-sm-0" v-bind:data-qa="'cart-item-variant-' + index">
            <span v-for="(keyV, index) in item.KeyVariantAttributesList">
                <span v-if="index != 0"> | </span>{{keyV.Value}}
            </span>
        </p>
    </div>
}

@helper CartItemDefaultPriceCell()
{
    <p v-if="item.IsOnSale">
        <del v-bind:data-qa="'cart-item-defaultprice-del-' + index">{{item.DefaultPrice}}</del><br />
        <strong class="text-danger" v-bind:data-qa="'cart-item-salesprice-' + index">{{item.CurrentPrice}}</strong>
    </p>
    <p v-else="v-else" v-bind:data-qa="'cart-item-defaultprice-' + index">{{item.DefaultPrice}}</p>
}


@helper CartItemQuantityCell()
{
    <div v-if="item.IsGiftItem" class="text-center">
        <p v-bind:data-qa="'cart-item-quantity-' + index">{{item.Quantity}}</p>
    </div>
    <div v-else-if="item.IsValid" class="input-group mb-2" role="group">
        <div class="input-group-prepend">
            <button class="btn btn-remove btn-sm btn-outline-secondary"
                    v-bind:disabled="DecrementDisabled(item)"
                    v-on:click="updateItemQuantity(item, item.Quantity - 1)">
                <span class="fa  fa-minus"></span>
            </button>
        </div>
        <input class="form-control  text-center rounded-0 btn-quantity" type="number"
               min="0" max="99"
               v-on:keyup="$event.target.value = $event.target.value.replace(/\D/g,'')"
               v-bind:value="item.Quantity"
               v-bind:disabled="IsLoading"
               v-on:change="updateItemQuantity(item, $event.target.value)"
               xmlns:v-on="v-on"
               xmlns:v-bind="v-bind" />
        <div class="input-group-append">
            <button class="btn btn-add btn-sm btn-outline-secondary"
                    v-bind:disabled="IncrementDisabled(item)"
                    v-on:click="updateItemQuantity(item, item.Quantity + 1)">
                <span class="fa  fa-plus"></span>
            </button>
        </div>
    </div>
    <div v-else="else">{{item.Quantity}} @Html.Localize("MiniCart", "L_Items")</div>
    <div v-if="!item.IsGiftItem" class="d-none d-sm-block">@CartSummaryHelpers.RemoveCartItemLink()</div>
    <div v-if="!item.IsValid" class="text-danger">@Html.Localize("General", "B_AddToCartProductDetailOOS")</div>
}

@helper CartItemTotalCell()
{
    <div v-if="item.IsGiftItem">
        <strong v-bind:data-qa="'cart-item-subtotal-' + index">{{item.Total}}</strong>
    </div>
    <div v-else="v-else">
        <div v-if="item.IsPriceDiscounted">
            <del v-bind:data-qa="'cart-item-subtotal-del-'+ index">{{item.TotalWithoutDiscount}}</del><br />
            <strong v-bind:data-qa="'cart-subtotal-sales-'+ index" class="text-danger">{{item.Total}}</strong>
        </div>
        <div v-else="v-else"><strong v-bind:data-qa="'cart-item-subtotal-' + index">{{item.Total}}</strong></div>
        <small v-if="item.SavingsTotal">
            <span class="text-success">@Html.Localize("ShoppingCart", "L_LineItemSavings") </span>
            <span class="text-success" v-bind:data-qa="'cart-item-savingstotal-' + index">{{item.SavingsTotal}}</span>
        </small>
        <em class="additional-fees d-block small">
            <span v-for="fee in item.AdditionalFees" class="block">
                + {{fee.DisplayName}} {{fee.Amount}}
                <span v-if="fee.Taxable">
                    @Html.Localize("ShoppingCart", "L_PlusTaxes")
                </span>
                {{fee.CalculationRule}}
            </span>
        </em>
    </div>
}

@helper RemoveCartItemLink()
{
    <button v-on:click="removeCartItem(item.Id)"
            v-bind:disabled="IsLoading"
            class="btn btn-link"
            v-bind:data-qa="'cart-item-remove-btn-' + index">
       <span class="h6 remove-item"> @Html.Localize("ShoppingCart", "F_RemoveItem")</span>
    </button>
}

@helper RemoveCartItemMobileBtn()
{
    <button v-on:click="removeCartItem(item.Id)"
            v-bind:disabled="IsLoading"
            title="@Html.Localize("ShoppingCart", "F_RemoveItem")"
            class="btn btn-sm btn-outline-secondary"
            aria-label="@Html.Localize("ShoppingCart", "F_RemoveItem")">
        <span aria-hidden="true" class="fa  fa-times"></span>
    </button>
}

@helper InvalideItemsMessage()
{
    <div class="alert alert-danger  text-danger">
        <div class="multiline-message">
            <span class="fa  fa-exclamation-triangle  multiline-message-icon"></span>
            <span>
                {{Cart.InvalidLineItemCount}}
                @Html.Localize("ShoppingCart", "L_NoMoreAvailable")
            </span>
        </div>
    </div>
}