@using Composite.AspNet.Razor
@using System.Web.Mvc

@helper ShippingAddressPreview(string vueBinding, string qaPrefix = "shipping-address-preview")
{
    <p class="mb-0">
        <strong data-qa="@(qaPrefix)-fullname">{{@(vueBinding).FirstName}} {{@(vueBinding).LastName}}</strong><br />
        <span data-qa="@(qaPrefix)-line1">{{@(vueBinding).Line1}}</span><br />
        <span data-qa="@(qaPrefix)-line2" v-if="@(vueBinding).Line2">{{@(vueBinding).Line2}}<br /></span>
        <span data-qa="@(qaPrefix)-city">{{@(vueBinding).City}}</span><br />
        <span data-qa="@(qaPrefix)-regionName">{{@(vueBinding).RegionName}}</span>,
        <span data-qa="@(qaPrefix)-postalCode">{{@(vueBinding).PostalCode}}</span>
    </p>
}

