@using Composite.AspNet.Razor

@helper SortBy()
{
    <div class="dropdown sort-by" v-if="SelectedSortBy">
        <button class="btn btn-outline-default mr-1 d-none d-lg-inline" type="button" data-qa="filter-visibility-toggle" v-on:click="toggleFacet()">
            <span v-if="FacetsVisible" class="fa fa-eye-slash"></span>
            <span v-else="v-else" class="fa fa-eye"></span>
            <span class="fa fa-filter"></span>
            <span v-if="FacetsVisible">@Html.Localize("List-Search", "B_FiltersHide")</span>
            <span v-else="v-else">@Html.Localize("List-Search", "B_FiltersShow")</span>
        </button>
        <span class="d-none d-lg-inline">@Html.Localize("List-Search", "L_Sorting")&#160;</span>
        <button class="btn btn-outline-default dropdown-toggle" type="button" data-qa="search-sort-by-toggle"
                data-toggle="dropdown" aria-expanded="true">
            {{SelectedSortBy.Title}}
        </button>
        <div class="dropdown-menu  dropdown-menu-sm-right  dropdown-menu-md-right" role="menu" data-qa="search-sort-by">
            <a v-for="sortBy in AvailableSortBys"
               class="dropdown-item"
               v-on:click="sortingChanged(sortBy.FieldName, sortBy.IsReverted ? 'desc' : 'asc')">
                {{sortBy.Title}}
            </a>
        </div>
    </div>
}

@helper ContentSearchEntry(string searchEntry = "contentItem")
{
    <div class="card h-100">
        <img v-if="@(searchEntry).ImageUrl" class="card-img-top" v-bind:src="@(searchEntry).ImageUrl + '?h=200'" v-bind:alt="@(searchEntry).Title" />

        <div class="card-body">
            <a class="card-title" v-bind:href="@(searchEntry).DetailsUrl" v-html="@(searchEntry).Title"></a>
            <p v-if="@(searchEntry).Description" class="card-text">{{@(searchEntry).Description}}</p>
        </div>
    </div>
}