@using Composite.AspNet.Razor
@using System.Web.Mvc
@using Orckestra.Composer.Search.Facets

@helper PromotedFacetValues()
{
    <div v-if="PromotedFacetValues.Count" class="card mb-3 facets-card">
        <div class="card-body">
            <div v-for="facetValue in PromotedFacetValues" v-if="facet.Quantity">
                <div v-if="facet.FacetType == @(FacetType.SingleSelect)">
                    @SinglePromotedFacet()
                </div>
                <div v-if="facet.FacetType == @(FacetType.MultiSelect)">
                    @MultiSelectPromotedFacet()
                </div>
            </div>
        </div>
    </div>
}

@helper SinglePromotedFacet()
{
    <div class="mb-1"
         v-bind:data-facetfieldname="facetValue.FieldName"
         v-bind:data-facettype="facetValue.FacetType">
        <a href="#"
           v-bind:data-facetfieldname="facetValue.FieldName"
           v-bind:data-facetvalue="facetValue.Value"
           v-bind:title="facetValue.Title"
           data-oc-click="singleFacetChanged">{{facetValue.Title}}&#160;({{facetValue.Quantity}})</a>
    </div>
}

@helper MultiSelectPromotedFacet()
{
    <div class="form-check mb-1"
         v-bind:data-facetfieldname="facetValue.FieldName"
         v-bind:data-facettype="facetValue.FacetType">
        <label class="m-0">
            <input type="checkbox"
                   class="form-check-input"
                   v-bind:name="facetValue.FieldName + '[]'"
                   v-bind:value="facetValue.Value"
                   data-oc-click="multiFacetChanged"
                   v-bind:checked="facetValue.IsSelected" />
            {{facetValue.Title}}&#160;({{facetValue.Quantity}})
        </label>
    </div>
}

@helper FacetValueTitle(FacetValue facetValue)
{
    <span>@facetValue.Title (@facetValue.Quantity)</span>
}

@helper SingleFacet()
{
    <div class="mb-1" v-for="facetValue in facet.FacetValues" v-if="facetValue.Quantity">
        <a href="#"
           v-bind:data-facetfieldname="facet.FieldName"
           v-bind:data-facetvalue="facetValue.Value"
           v-bind:title="facetValue.Title"
           data-oc-click="singleFacetChanged"><span>{{facetValue.Title}} ({{facetValue.Quantity}})</span></a>
    </div>
}

@helper MultiSelectFacet()
{
    <div v-for="facetValue in facet.FacetValues" class="form-check mb-1">
        <label class="m-0">
            <input id="'id' + facet.FieldName"
                   class="form-check-input"
                   type="checkbox"
                   v-bind:name="facet.FieldName + '[]'"
                   v-bind:value="facetValue.Value"
                   data-oc-click="multiFacetChanged"
                   v-bind:checked="facetValue.IsSelected" />
            <span>{{facetValue.Title}} ({{facetValue.Quantity}})</span>
        </label>
    </div>
}

@helper RangeFacet()
{
    <div class="form-group">
        <div class="range"></div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <input class="form-control  js-lowerValue" type="text" />
            </div>
            <div class="col-6">
                <input class="form-control  js-higherValue" type="text" />
            </div>
        </div>
    </div>

    <button type="submit" data-oc-click="refineByRange" class="btn  btn-outline-secondary btn-block"
            disabled="disabled">
        @Html.Localize("List-Search", "B_Apply")
    </button>
}

@helper RenderFacet()
{
    <div v-if="facet.FacetType == '@(FacetType.SingleSelect)'">
        @SingleFacet()
    </div>
    <div v-if="facet.FacetType == '@(FacetType.MultiSelect)'">
        @MultiSelectFacet()
    </div>
    <div v-if="facet.FacetType == '@(FacetType.Range)'">
        @RangeFacet()
    </div>
}