@using System.Collections
@using Composite.Data
@using Composite.Data.Types
@using Orckestra.Media.AutoImageResizing
@using Orckestra.Media.AutoImageResizing.Helpers


@helper PictureTag(DataReference<IImageFile> Image, IEnumerable<int> widthBreakpoints = null, int maxWidth = default(int))
{
    if (widthBreakpoints == null)
    {
        widthBreakpoints = AutoImageResizingConfiguration.WidthBreakpoints;
    }

    if (maxWidth == default(int))
    {
        maxWidth = AutoImageResizingConfiguration.MaxWidth;
    }

    var imageSupportFormats = AutoImageResizingConfiguration.ImageFormats;
    <picture>
        @foreach (var widthBreakpoint in widthBreakpoints.OrderBy(item => item))
        {
            var mediaRule = $"(max-width: {widthBreakpoint}px)";
            foreach (var mediaType in imageSupportFormats)
            {
                if (ImageFormatSupportHelper.IsSupported(mediaType))
                {
                    var imageUrl = AutoImageResizingHelper.GetResizedImageUrl(Image, widthBreakpoint, mediaType);
                    <source srcset="@imageUrl" media="@mediaRule" type="@mediaType" />
                }
            }
        }
        @{ var title = string.Empty; if (string.IsNullOrEmpty(Image.Data.Title)) { title = string.Format("title='{0}'", Image.Data.Title); }
            var alt = string.Empty; if (string.IsNullOrEmpty(Image.Data.Description)) { alt = string.Format("alt='{0}'", Image.Data.Description); } }

        <img src="@AutoImageResizingHelper.GetResizedImageUrl(Image, maxWidth > 0 ? (int?)maxWidth : null)" @title @alt loading="lazy" />
    </picture>
}

@helper ResponsiveBackgroundImage(DataReference<IImageFile> Image, string cssClass = null, IEnumerable<int> widthBreakpoints = null, int maxWidth = default(int), IHtmlString divContent = null)
{if (widthBreakpoints == null) { widthBreakpoints = AutoImageResizingConfiguration.WidthBreakpoints; }
    if (maxWidth == default(int)) { maxWidth = AutoImageResizingConfiguration.MaxWidth; }

    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
    <head>
        @{
            var imageId = Guid.NewGuid();
        }

        <style type="text/css">
            #@imageId {
                background-image: url('@AutoImageResizingHelper.GetResizedImageUrl(Image, maxWidth > 0 ? (int?)maxWidth : null)');
                background-repeat: no-repeat;}

        @{
            var imageSupportFormats = AutoImageResizingConfiguration.ImageFormats;
        }

        @foreach (var widthBreakpoint in widthBreakpoints.OrderByDescending(item => item))
        {
            foreach (var mediaType in imageSupportFormats)
            {
                if (ImageFormatSupportHelper.IsSupported(mediaType))
                {
                    @: @@media (max-width: @(widthBreakpoint)px) { #@imageId { background-image: url('@AutoImageResizingHelper.GetResizedImageUrl(Image, widthBreakpoint, mediaType)');}}
                }
                }
            }
        </style>
    </head>
    <body>
        <div class="@cssClass" id="@imageId">@divContent</div>
    </body>
</html>
}

