@using Composite.AspNet.Razor

@helper CompactOrderDetails(bool IsPastOrders = false)
{
    <div v-for="order in Orders" class="card mb-2">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-8">
                    <h5 class="m-0"> @Html.Localized("MyAccount", "L_OrderedOn", "{{order.OrderInfos.OrderDate}}")</h5>
                </div>

                <div class="col-sm-4 text-sm-right">
                    <ul class="nav-pills">
                        <li v-if="order.OrderInfos.IsOrderEditable" >
                            <a class="cta text-dark font-weight-normal" href="#">
                                @Html.Localize("MyAccount", "B_EditOrder")
                            </a>
                        </li>
                        <li>
                            <a v-bind:href="order.Url" class="cta text-dark font-weight-normal">
                                @Html.Localize("MyAccount", "H_OrderDetail")
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-8">
                    @Html.Localized("MyAccount", "L_OrderNumber", "{{order.OrderInfos.OrderNumber}}")
                    @if (!IsPastOrders)
                    {
                        <p v-if="order.ShipmentSummaries.length">
                            <span class="text-aldi-gray-error" v-if="order.ShipmentSummaries[0].ScheduledShipDate">
                                @Html.Localized("MyAccount", "L_ScheduledShipping", "{{order.ShipmentSummaries[0].ScheduledShipDate}}")
                            </span>
                            <span v-if="order.ShipmentSummaries[0].TrackingInfo">
                                <br />
                                <a v-bind:href="order.ShipmentSummaries[0].TrackingInfo.Url">
                                    @Html.Localize("MyAccount", "H_OrderTracking")
                                </a>
                            </span>
                        </p>
                    }
                    <br />
                    <span class="compact-order-status"
                          v-bind:class="{'text-warning' : order.OrderInfos.OrderStatusRaw == 'InProgress',
                          'text-danger': order.OrderInfos.OrderStatusRaw == 'Canceled',
                          'text-success': order.OrderInfos.OrderStatusRaw == 'Completed'}">
                        {{ order.OrderInfos.OrderStatus }}
                    </span>

                </div>
                <div class="col-sm-4 text-sm-right">Total: <h5>{{order.OrderInfos.PricePaid}}</h5></div>
            </div>
        </div>
    </div>
}

@helper OrderHistoryPagination()
{
    <div v-if="Pagination &amp;&amp; Pagination.Pages.length > 1" class="clearfix mt-4" v-cloak="true">
        <ul class="float-right  pagination">
            <li v-if="Pagination.PreviousPage.PageNumber" class="page-item">
                <a class="page-link"
                   data-qa="order-pagination-previous"
                   href="#"
                   v-on:click.prevent="getOrders(Pagination.PreviousPage.PageNumber)">{{Pagination.PreviousPage.DisplayName}}</a>
            </li>
            <li v-else="else" class="disabled page-item">
                <a class="page-link">
                    {{Pagination.PreviousPage.DisplayName}}
                </a>
            </li>
            <li v-for="page in Pagination.Pages" class="page-item" v-bind:class="{'active': page.IsCurrentPage }">
                <a v-if="page.IsCurrentPage" class="page-link">{{page.DisplayName}}</a>
                <a v-else="else" class="page-link" href="#" v-on:click.prevent="getOrders(page.PageNumber)">{{page.DisplayName}}</a>
            </li>
            <li v-if="Pagination.NextPage.PageNumber" class="page-item">
                <a class="page-link"
                   data-qa="order-pagination-next"
                   href="#"
                   v-on:click.prevent="getOrders(Pagination.NextPage.PageNumber)">{{Pagination.NextPage.DisplayName}}</a>
            </li>
            <li v-else="else" class="disabled page-item">
                <a class="page-link">{{Pagination.NextPage.DisplayName}}</a>
            </li>
        </ul>
    </div>
}