@using Composite.AspNet.Razor
@using System.Web.Mvc

@helper Rewards()
{
        <div v-if="OrderSummary.Rewards.length" class="promotion" v-cloak="true">
            <div class="promotion-item" v-for="(reward, index) in OrderSummary.Rewards" v-bind:data-qa="'reward-' +  index" v-bind:id="'reward-' + index">
                {{reward.Description || reward.PromotionName}}
            </div>
        </div>
}

@helper SubTotal()
{
    <div class="row">
        <div class="col-6  col-md-7">
            @Html.Localize("MyAccount", "L_Subtotal")
        </div>
        <div class="col-6  col-md-5  text-right">
            <span data-qa="order-summary-subtotal">
                {{OrderSummary.SubTotal}}
            </span>
        </div>
    </div>
}

@helper TaxableShipmentAdditionalFeeSummary()
{
    <div class="row" data-qa="taxable-shipment-additional-fee-summary"
         v-if="feeSummary.Taxable"
         v-for="feeSummary in OrderSummary.ShipmentAdditionalFeeSummaryList">
        @FeeSummary()
    </div>
}

@helper TaxableAdditionalFeeSummary()
{
    <div class="row" data-qa="taxable-additional-fee-summary"
         v-if="feeSummary.Taxable"
         v-for="feeSummary in OrderSummary.AdditionalFeeSummaryList">
        @FeeSummary()
    </div>
}

@helper NotTaxableShipmentAdditionalFeeSummary()
{
    <div class="row" data-qa="nottaxable-shipment-additional-fee-summary"
         v-if="!feeSummary.Taxable"
         v-for="feeSummary in OrderSummary.ShipmentAdditionalFeeSummaryList">
        @FeeSummary()
    </div>
}


@helper NotTaxableAdditionalFeeSummary()
{
    <div class="row" data-qa="nottaxable-additional-fee-summary"
         v-if="!feeSummary.Taxable"
         v-for="feeSummary in OrderSummary.AdditionalFeeSummaryList">
        @FeeSummary()
    </div>
}


@helper FeeSummary()
{
    <div class="col-6  col-md-7"><p>{{feeSummary.GroupName}}</p></div>
    <div class="col-6  col-md-5  text-right">
        {{feeSummary.TotalAmount}}
    </div>
}

@helper Taxes()
{
    <div class="row" v-for="(tax, index) in OrderSummary.Taxes" v-bind:data-qa="'tax-' + index">
        <div class="col-7">
            {{tax.DisplayName}}
            <span v-if="tax.Percentage">({{tax.Percentage}})</span>
        </div>
        <div class="col-5  text-right">
            {{tax.DisplayTaxTotal}}
        </div>
    </div>
}


@helper Shipping()
{
    <div class="row">
        <div class="col-6  col-md-7">
            <span v-if="Cart.ShippingAddress">
                @Html.Localized("ShoppingCart", "L_ShippingBasedOn", "{{Cart.ShippingAddress.PostalCode}}")
            </span>
        </div>
        <div class="col-6  col-md-5  text-right">
            <span data-qa="order-summary-shipping-fee">
                {{OrderSummary.Shipping}}
            </span>
        </div>
    </div>
}

@helper Totals()
{
    <div class="row">
        <div class="col-6  col-md-7">
            <h4>@Html.Localize("MyAccount", "L_Total")</h4>
        </div>
        <div class="col-6  col-md-5  text-right">
            <div v-if="IsLoading">
                @GeneralHelpers.LoadingSpinner()
            </div>
            <h4 v-else="v-else" v-text="OrderSummary.Total" data-qa="order-summary-total"></h4>
        </div>
    </div>
}

@helper SavingsTotal()
{
    <div v-if="OrderSummary.SavingsTotal" class="row">
        <div class=" col-12 ">
            <div data-qa="checkout-order-summary-discount" class="d-flex justify-content-between text-success strong">
                @Html.Localize("MyAccount", "L_Savings")
                &#160;
                <span v-text="OrderSummary.SavingsTotal"></span>
            </div>
        </div>
    </div>
}

@helper AdditionalFeesMessage()
{
    <div class="row">
        <div class="col-12">
            <div class="additional-info">
                <div class="multiline-message">
                    <span class="fa  fa-comment-o  fa-lg  multiline-message-icon"></span>
                    <p>@Html.Localize("ShoppingCart", "L_AdditionalFeesGenericMessage")</p>
                </div>
            </div>
        </div>
    </div>
}