@using Composite.AspNet.Razor
@using System.Web.Mvc

@helper CartItemRecurringOrderProgram(string vueBinding)
{
    <div v-if="@(vueBinding).RecurringOrderProgramFrequencies" v-bind:data-qa="'cart-item-reccuring-icon-' + index" class="mt-2"
         v-bind:Id="'recurringOrderContainer' + index">
        <div v-bind:Id="'recurringLabel' + index"
             class="cart-recurring-cta js-cartRecurringCta collapse show"
             v-bind:data-parent="'#recurringOrderContainer' + index">
            @RecurringOrderProgramIcon()
            <span v-if="@(vueBinding).RecurringOrderFrequencyName">
                {{@(vueBinding).RecurringOrderFrequencyDisplayName}}
            </span>
            <span v-else="else">
                @Html.Localize("ProductPage", "L_RecurringFrequencyOnce")
            </span>
            <button v-if="IsAuthenticated" class="btn btn-link" type="button"
                    data-toggle="collapse" aria-expanded="false"
                    v-bind:data-target="'#recurringModes' + index"
                    v-bind:aria-controls="'recurringModes' + index">
                @Html.Localize("ShoppingCart", "L_RecurringChangeFrequency")
            </button>
        </div>
        <div v-bind:data-parent="'#recurringOrderContainer' + index"
             v-bind:Id="'recurringModes' + index"
             class="collapse">
            @RecurringModes(vueBinding)
        </div>
    </div>
}


@helper RecurringOrderProgramIcon()
{
    <img src="~/UI.Package/Images/recurring.svg"
         class="recurring-icon"
         alt="@Html.Localize("General", "L_RecurringProduct")"
         title="@Html.Localize("General", "L_RecurringProduct")" />
}

@helper RecurringModes(string vueBinding)
{
    <div class="mt-2 form-group">
        <div class="alert border mb-2 bg-white" v-bind:class="{'bg-selected border-primary': !@(vueBinding).RecurringOrderFrequencyName}">
            <div class="form-check">
                <input v-bind:Id="'UseSingle' + index"
                       v-bind:checked="!@(vueBinding).RecurringOrderFrequencyName"
                       type="radio"
                       data-target=".modeSelection"
                       v-bind:name="'recurringMode-' + index"
                       v-bind:disabled="IsLoading"
                       value="single"
                       v-on:change="changeRecurringMode($event, @(vueBinding))"
                       class="form-check-input" xmlns:v-bind="v-bind" xmlns:v-on="v-on" />
                <label class="form-check-label" v-bind:for="'UseSingle' + index">@Html.Localize("ProductPage", "L_RecurringFrequencyOnce")</label>
            </div>
        </div>
        <div class="alert border mb-2 bg-white" v-bind:class="{'bg-selected border-primary': @(vueBinding).RecurringOrderFrequencyName}">
            <div class="form-check">
                <input v-bind:Id="'UseRecurring' + index"
                       v-bind:checked="@(vueBinding).RecurringOrderFrequencyName !== null"
                       type="radio"
                       data-target=".modeSelection"
                       v-bind:name="'recurringMode-' + index"
                       v-bind:disabled="IsLoading"
                       value="recurring"
                       v-on:change="changeRecurringMode($event, @(vueBinding))"
                       class="form-check-input" xmlns:v-bind="v-bind" xmlns:v-on="v-on" />
                <label class="form-check-label" v-bind:for="'UseRecurring' + index">
                    @RecurringOrderProgramIcon()
                    @Html.Raw(Html.Localized("ProductPage", "L_RecurringPitch", Html.Localize("ProductPage", "L_RecurringSaveRate")))
                </label>
            </div>
            <div class="recurring-frequencies collapse modeSelection mt-4" v-bind:class="{'show': @(vueBinding).RecurringOrderFrequencyName}">
                <div class="row">
                    <div class="col-10 col-md-9 col-lg-7 form-group">
                        <label for="recurringOrderFrequencyNameSelect">@Html.Localize("ProductPage", "L_RecurringDeliveryFrequency")</label>
                        <button class="btn" role="button" data-trigger="click" data-toggle="popover" data-placement="top" title=""
                                data-content="@Html.Localize("ProductPage", "L_RecurringBubblePitch")"
                                data-html="true"
                                data-original-title="@Html.Localize("ProductPage", "L_RecurringBubblePitchTitle")">
                            <span class="fa fa-question-circle"></span>
                        </button>
                        <select id="recurringOrderFrequencyNameSelect"
                                class="recurring-orders-frequency-selection form-control"
                                v-model="@(vueBinding).RecurringOrderFrequencyName"
                                v-bind:disabled="IsLoading">
                            <option v-for="(recurringOrder, index) in @(vueBinding).RecurringOrderProgramFrequencies"
                                    v-bind:value="recurringOrder.RecurringOrderFrequencyName">
                                {{recurringOrder.DisplayName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="float-right">
            <button class="btn btn-secondary" type="button" data-toggle="collapse" aria-expanded="false"
                    v-bind:data-target="'#recurringLabel' + index"
                    v-bind:aria-controls="'recurringLabel' + index"
                    v-bind:disabled="IsLoading"
                    v-on:click="resetLineItemRecurringFrequency(@(vueBinding))">
                @Html.Localize("ShoppingCart", "B_CancelRecurrenceChanges")
            </button>
            <button class="btn btn-primary"
                    v-on:click="updateLineItemRecurringFrequency($event, @(vueBinding))"
                    v-bind:data-lablecollapse="'recurringLabel' + index"
                    v-bind:disabled="IsLoading">
                @Html.Localize("ShoppingCart", "B_ApplyRecurrenceChanges")
            </button>
        </div>
    </div>
}
