<div  data-oc-controller="Store.Locator" id="storeLocator" class="store-locator" data-context="{{JsonContext}}">
	<div class="container">
        <div class="store-locator-search  form-horizontal">
            <div class="form-group">
                <div class="col-xs-12  col-sm-6  col-md-4">
                     <input id="storeLocatorSearchInput"
                            name="storeLocatorSearchInput"
		                    class="form-control" type="text"
		                    placeholder="{{localize 'Store' 'I_Placeholder'}}"
                            value="{{PostedAddress}}" />
                     <i class="fa  fa-search  text-muted"></i>
                </div>
                <div class="col-xs-12  col-sm-6  col-md-4">
                     <span class="label-or">- {{localize 'Store' 'L_OrUseMyLocation'}} -</span>
                     <button 
                        data-oc-click="currentLocationAction" 
                        class="btn  btn-primary  geolocate-btn">
                        <i class="fa  fa-crosshairs"></i>
                        {{localize 'Store' 'B_UseMyLocation'}}
                     </button>
                 </div>
         </div>
	</div>
 </div>
 <div class="container-fluid">
    <div id="map" class="map"></div>
 </div>
 <div class="container">
     <div class="row">
        <div class="col-xs-12  clearfix  store-locator-info">
            <div id="store-locator-nearest" class="hide  pull-md-left  pull-lg-left">{{localize 'Store' 'L_NearestStore'}}</div>
            <div class="pull-md-right pull-lg-right"><a href="{{StoresDirectoryUrl}}">{{localize 'Store' 'H_ViewAllStores'}}</a></div>
         </div>
    </div>
    <div id="storesList" class="row">
           {{> StoresList}}
    </div>
  </div>
</div>