@inherits RazorFunction
@using Orckestra.Composer.ContentSearch.ViewModels

@functions {
    [FunctionParameter(Label = "", Help = "")]
    public SearchResultsEntryViewModel SearchResultEntry { get; set; }
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <div class="card h-100">
        @if (SearchResultEntry.ImageUrl != null)
        {
            <img class="card-img-top" src="@SearchResultEntry.ImageUrl?h=200" alt="@SearchResultEntry.Title" />
        }

        <div class="card-body">
            <a class="card-title" href="@SearchResultEntry.DetailsUrl">@Html.Raw(SearchResultEntry.Title)</a>
            @if (SearchResultEntry.Description != null)
            {
                <p class="card-text">@SearchResultEntry.Description</p>
            }
        </div>
    </div>
</body>
</html>