@inherits RazorFunction
@using Orckestra.Composer.Search.Context;
@using Orckestra.Composer.Search.ViewModels;
@using Newtonsoft.Json;

@functions {
    public override string FunctionDescription
    {
        get { return "Search Summary"; }
    }

    public ISearchRequestContext SearchRequestContext { get; set; }

    public SearchViewModel ProductsSearchViewModel
    {
        get
        {
            return SearchRequestContext.ProductsSearchViewModel;
        }
    }
}

@{
    if (ProductsSearchViewModel == null)
    {
        return;
    }

    var total = ProductsSearchViewModel.ProductSearchResults.TotalCount;

}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <div data-oc-controller="Product.SearchSummary" id="vueSearchSummary" 
         data-context="@JsonConvert.SerializeObject(new[] { new { Total = ProductsSearchViewModel.ProductSearchResults.TotalCount, IsProducts = true }})" data-searchQuery="@SearchRequestContext.SearchQuery" v-cloak="true">
        <template v-if="TotalCount > 0">
            @{
                var corrected = ProductsSearchViewModel.ProductSearchResults.CorrectedSearchTerms;
                if (!string.IsNullOrEmpty(corrected))
                {
                    <h2>@Html.Localized("List-Search", "YourSearch", SearchRequestContext.SearchQuery)</h2>
                    <h1>@Html.Localized("List-Search", "SearchResult", corrected)</h1>
                    <p>@Html.Localized("List-Search", "ProductMatches", "{{TotalCount}}")</p>
                }
                else
                {
                   <h1><strong>{{TotalCount}}</strong> @Html.Localized("List-Search", "L_SearchResults", "{{SearchQuery}}")</h1>
                }
            }
        </template>
        <template v-else="v-else">
            <h1>@Html.Localized("List-Search", "L_NoResultsFor", SearchRequestContext.SearchQuery)</h1>
        </template>

        @Function("Composer.Search.Suggestions")
    </div>
</body>
</html>
