<div data-templateid="LightRecurringOrderCartDetail" class="compact-order">
    <div class="row">
        <div class="col-xs-8"><strong>{{localizeFormat 'RecurringCart' 'L_UpcomingDate' FormatedNextOccurence}}</strong></div>
        <div class="col-xs-4 text-right"><a href="{{CartDetailUrl}}" class="cta">{{ localize 'MyAccount' 'H_RecurringCartDetails' }}</a></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-8">
            <span class="compact-order-status text-gray">{{localize 'RecurringCart' 'L_StatusPendingPreparation' }}</span><br/>
            <img src="/UI.Package/Images/recurring.png" alt="{{localize 'General' 'L_RecurringProduct'}}" title="{{localize 'General' 'L_RecurringProduct'}}" />
        </div>
        <div class="col-xs-4 text-right">Total: <strong class="h4">{{Total}}</strong></div>
    </div>
</div>