<div data-templateid="RecurringCartDetailsShippingMethod">
    <div class="panel  panel-default">
        {{#unless EditMode}}
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-10">
                    <h2 class="h3">{{localize 'MyAccount' 'T_ShippingMethod' }}</h2>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-link pull-right" type="button" 
                    data-shipping-method-display-name="{{ShippingMethod.DisplayName}}"
                    data-shipping-method-cost="{{ShippingMethod.Cost}}"                    
                    data-selected-shipping-method-name="{{ShippingMethod.Name}}"
                    data-selected-shipping-method-fulfillment-type="{{ShippingMethod.FulfillmentMethodTypeString}}"
                    data-oc-click="toggleEditShippingMethod" 
                    title="{{localize 'CheckoutProcess' 'B_Edit'}}">
                        <span class="fa  fa-pencil  fa-lg"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            {{#if ShippingMethod}}
            <div class="row">
                <div class="col-xs-12">
                    <b>{{ShippingMethod.DisplayName}}</b>
                    <br />
                    {{ShippingMethod.Cost}}
                </div>
            </div>
            {{else}}
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>{{localize 'General' 'P_ShippingMethodLoadErrorMessage' }}</p>
                </div>
            </div>
            {{/if}}
        </div>
        {{else}}
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-10">
                    <h2 class="h3">{{localize 'MyAccount' 'T_ShippingMethod' }}</h2>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-link pull-right invisible" type="button" 
                    data-oc-click="toggleEditShippingMethod" 
                    title="{{localize 'CheckoutProcess' 'B_Edit'}}">
                        <span class="fa  fa-pencil  fa-lg"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            {{#if ShippingMethods}}
            {{!-- <p>{{localize 'CheckoutProcess' 'F_ShippingSelection'}}</p> --}}
            <div class="row">
                <div class="col-sm-6">
                    <form id="ShippingMethod" data-oc-submit="preventFormSubmit" method="post" autocomplete="on">
                        <input type="hidden" id="ShippingProviderId" name="ShippingProviderId" value="{{ShippingMethods.SelectedShippingProviderId}}" />
                        {{#each ShippingMethods.ShippingMethods }}
                            <div class="form-group">
                                <label class="select-block {{#if_eq Name ../SelectedMethod}} active {{/if_eq}}" data-qa="checkout-shipping-method-{{@index}}" data-parent=".panel-body">
                                    <span class="input-addon">
                                        <input {{#if_eq Name ../SelectedMethod}} checked="checked" {{/if_eq}} data-parsley-class-handler-selector=".panel-body" data-parsley-errors-container="#method-errors" 
                                        class="input" data-oc-change="methodSelected" type="radio" name="ShippingMethod" value="{{Name}}" 
                                        data-is-ship-to-store-type="{{IsShipToStoreType}}" data-fulfillment-method-type="{{FulfillmentMethodTypeString}}" 
                                        data-shipping-provider-id="{{ShippingProviderId}}" required="true" />
                                    </span>
                                    <span class="content">
                                        {{DisplayName}} - {{Cost}}
                                        {{#if ExpectedDaysBeforeDelivery}}
                                            - {{ExpectedDaysBeforeDelivery}} {{localize 'CheckoutProcess' 'L_DeliveryDaysNumber'}}
                                        {{/if}}
                                    </span>
                                </label>
                            </div>
                        {{/each}}

                        <div id="method-errors"></div>
                        
                        {{!-- {{#if_localized 'CheckoutProcess' 'F_ShippingSelectionIndication'}}
                            <div class="multiline-message">
                                <span class="fa  fa-comment-o  fa-lg  multiline-message-icon"></span>
                                {{localize 'CheckoutProcess' 'F_ShippingSelectionIndication'}}
                            </div>
                        {{/if_localized}} --}}
                    </form>
                </div>
            </div>         
            <div class="col-xs-12 text-center">
                <button class="btn btn-secondary" type="button" 
                    data-shipping-method-display-name="{{ShippingMethod.DisplayName}}"
                    data-shipping-method-cost="{{ShippingMethod.Cost}}"                    
                    data-selected-shipping-method-name="{{ShippingMethod.Name}}"
                    data-selected-shipping-method-fulfillment-type="{{ShippingMethod.FulfillmentMethodTypeString}}"
                    data-oc-click="toggleEditShippingMethod">Cancel</button>
                <button class="btn btn-primary"
                    data-oc-click="saveEditShippingMethod">Apply
                </button>
            </div>
            {{else}}
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>{{localize 'General' 'P_ShippingMethodLoadErrorMessage' }}</p>
                </div>
            </div>
            {{/if}}
        </div>
        {{/unless}}
    </div>
</div>