@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "Sign In and Log Out links in Header Funtion"; }
    }
}


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0"
      xmlns:v-bind="v-bind"
      xmlns:v-on="v-on">
<head>
</head>
<body>
    <li data-oc-controller="MyAccount.SignInHeader"
        id="vueSignInHeader"
        class="nav-item ml-auto d-none d-md-block" v-bind:class="{ dropdown: IsAuthenticated }"
        v-cloak="true">
        <a id="signInHeaderDropdownMenuLink" class="nav-link"
           data-qa="my-account-in-header"
           data-toggle="dropdown"
           v-if="IsAuthenticated" v-bind:href="Url"
           title="@Html.Localize("MyAccount", "L_MyAccount")"
           role="button" aria-haspopup="true" aria-expanded="false" aria-controls="signInHeaderDropdown">
            <i class="fa fa-user" aria-hidden="true"></i>&#160;
            <span class="d-none d-lg-inline" aria-hidden="true">
                {{FirstName}} {{LastName}}
            </span>
            <span class="sr-only">
                {{FirstName}} {{LastName}}
            </span>
        </a>
        <div v-if="IsAuthenticated"
             aria-labelledby="signInHeaderDropdownMenuLink"
             id="signInHeaderDropdown"
             class="dropdown-menu">
            <a v-bind:href="Url"
               class="dropdown-item">
                @Html.Localize("MyAccount", "L_MyAccount")
            </a>
            <a v-bind:href="MyUsualsUrl"
               class="dropdown-item">
                @Html.Localize("MyAccount", "T_MyUsuals")
            </a>
            <a v-bind:href="RecipeFavoritesUrl"
               class="dropdown-item">
                @Html.Localize("MyAccount", "T_RecipeFavorites")
            </a>
            <a data-qa="login-out"
               href="#"
               class="dropdown-item"
               v-on:click.prevent="fullLogout">
                @Html.Localize("MyAccount", "H_Logout")
            </a>
        </div>
        <a class="nav-link"
           data-qa="login-in"
           v-if="!IsAuthenticated" v-bind:href="Url">
            <i class="fa fa-user" aria-hidden="true"></i>&#160;
            @Html.Localize("MyAccount", "L_SignIn")
        </a>
    </li>
</body>
</html>