<div class="alert {{#if IsPreferredShipping}} alert-primary{{/if}}" data-qa="address-{{AddressName}}" data-address-id="{{Id}}">
    <div class="{{#if IsPreferredShipping}} text-primary {{/if}}">

        <div class="row">
            <div class="col-md-4 order-1  order-sm-2 text-lg-right">
                {{#if IsPreferredShipping}}<strong>{{/if}}
                <span class="h5">{{AddressName}}</span>
                {{#if IsPreferredShipping}}</strong>{{/if}}

                {{#if IsPreferredShipping}}
                <br class="d-none d-sm-block"/>
                <em class="text-muted">{{localize 'MyAccount' 'L_IsDefaultAddress'}}</em>
                {{/if}}
            </div>
            <div class="col-md-8  order-2  order-sm-1">
                {{FirstName}}
                {{LastName}}<br />
                {{Line1}}<br />
                {{#if Line2}}
                    {{Line2}}<br />
                {{/if}}
                {{City}},
                {{RegionName}},
                {{PostalCode}}<br />
                {{PhoneNumber}}
            </div>

            <div class="col-12 order-3  text-right">
                <a class="btn  btn-link" data-qa="address-edit" href="{{UpdateAddressUrl}}" title="{{localize 'MyAccount' 'B_EditAddress'}}">
                    <span class="fa  fa-pencil  fa-lg"></span>
                </a>
                
                <button type="button" class="btn  btn-link" data-qa="address-delete" data-oc-click="deleteAddressConfirm" title="{{localize 'MyAccount' 'B_DeleteAddress'}}">
                    <span class="fa  fa-trash-o  fa-lg"></span>
                </button>
            </div>
        </div>

        {{#unless IsPreferredShipping}}
        <div class="row">
            <div class="col-12  text-right">
                <hr/>
                <button type="button" class="btn  btn-primary" data-qa="address-setdefault" data-oc-click="setDefaultAddress">
                   {{localize 'MyAccount' 'B_SetDefaultAddress'}}
                </button>
            </div>
        </div>
        {{/unless}}

    </div>
</div>
