<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-10">
                <h5 data-qa="checkout-header-shipping-method">{{localize 'CheckoutProcess' 'T_ShippingMethod'}}</h5>
            </div>
            <div class="col-2">
                <a href="{{OrderSummary.CheckoutStepUrls.[2]}}" class="float-right" title="{{localize 'CheckoutProcess' 'B_Edit'}}"><span class="fa  fa-pencil  fa-lg"></span></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        {{#if GettingCart}}
            {{>Loading}}
        {{else}}
            <p>
                <span data-qa="checkout-shipping-method-name">{{ShippingMethod.DisplayName}}</span>&#160;
                {{#if ShippingMethod.ExpectedDaysBeforeDelivery}}
                    {{ShippingMethod.ExpectedDaysBeforeDelivery}}&#160;
                    <span data-qa="checkout-shipping-address-days-before-number">{{localize 'CheckoutProcess' 'L_DeliveryDaysNumber'}}</span>
                {{/if}}
            </p>

            {{#if_localized 'CheckoutProcess' 'F_ShippingSelectionIndication'}}
            <div class="multiline-message" data-qa="checkout-shipping-method-indicator">
                <span class="fa  fa-comment-o  fa-lg  multiline-message-icon"></span>
                {{localize 'CheckoutProcess' 'F_ShippingSelectionIndication'}}
            </div>
            {{/if_localized}}
        {{/if}}
    </div>
</div>
