<div data-templateid="KvaItems">
    {{#each KeyVariantAttributeItems}}
        {{#if Values}}
          <div class="mb-3" data-qa="product-variants" data-propertyname="{{PropertyName}}" data-propertydatatype="{{PropertyDataType}}">

            <h5 class="font-weight-bold">{{DisplayName}}</h5>
            <div class="kva-list variant-kva">
              {{#if_eq PropertyName "Colour"}}
                {{#each Values}}
                    {{#if Disabled}}
                        {{#if Selected}}
                            <button class="kva-color disabled btn btn-sm active"
                                    data-oc-click="selectKva"
                                    value="{{Value}}"
                                    title="{{Title}}">
                                    {{#if ConfiguredValue}}
                                    <div class="kva-color-value" style="background: {{ConfiguredValue}};"></div>
                                    {{else}}
                                    <div class="kva-color-value" style="background: {{Value}};"></div>
                                    {{/if}}
                            </button>
                        {{else}}
                            <button class="kva-color disabled btn btn-sm"
                                    data-oc-click="selectKva"
                                    value="{{Value}}"
                                    title="{{Title}}">
                                    {{#if ConfiguredValue}}
                                    <div class="kva-color-value" style="background: {{ConfiguredValue}};"></div>
                                    {{else}}
                                    <div class="kva-color-value" style="background: {{Value}};"></div>
                                    {{/if}}
                            </button>
                        {{/if}}

                    {{else}}
                        {{#if Selected}}
                            <button class="kva-color btn btn-sm active"
                                    data-oc-click="selectKva"
                                    value="{{Value}}"
                                    title="{{Title}}">
                                    {{#if ConfiguredValue}}
                                    <div class="kva-color-value" style="background: {{ConfiguredValue}};"></div>
                                    {{else}}
                                    <div class="kva-color-value" style="background: {{Value}};"></div>
                                    {{/if}}
                            </button>
                        {{else}}
                            <button class="kva-color btn btn-sm"
                                    data-oc-click="selectKva"
                                    value="{{Value}}"
                                    title="{{Title}}">
                                    {{#if ConfiguredValue}}
                                    <div class="kva-color-value" style="background: {{ConfiguredValue}};"></div>
                                    {{else}}
                                    <div class="kva-color-value" style="background: {{Value}};"></div>
                                    {{/if}}
                            </button>
                        {{/if}}
                    {{/if}}
                {{/each}}
              {{else}}
                {{#each Values}}
                    {{#if Disabled}}
                        {{#if Selected}}
                            <button class="btn  btn-outline-secondary disabled  btn-sm active"
                                    data-oc-click="selectKva"
                                    value="{{Value}}">
                              {{#if ImageUrl}}
                                <img class="img-fluid" src="{{ImageUrl}}" alt="{{Title}}" />
                              {{else}}
                                {{Title}}
                              {{/if}}
                            </button>
                        {{else}}
                            <button class="btn  btn-outline-secondary disabled  btn-sm"
                                    data-oc-click="selectKva"
                                    value="{{Value}}">
                              {{#if ImageUrl}}
                                <img class="img-fluid" src="{{ImageUrl}}" alt="{{Title}}" />
                              {{else}}
                                {{Title}}
                              {{/if}}
                            </button>
                        {{/if}}

                    {{else}}
                        {{#if Selected}}
                            <button class="btn  btn-primary  btn-sm active"
                                    data-oc-click="selectKva"
                                    value="{{Value}}">
                              {{#if ImageUrl}}
                                <img class="img-fluid" src="{{ImageUrl}}" alt="{{Title}}" />
                              {{else}}
                                {{Title}}
                              {{/if}}
                            </button>
                        {{else}}
                            <button class="btn   btn-outline-secondary  btn-sm"
                                    data-oc-click="selectKva"
                                    value="{{Value}}">
                              {{#if ImageUrl}}
                                <img class="img-fluid" src="{{ImageUrl}}" alt="{{Title}}" />
                              {{else}}
                                {{Title}}
                              {{/if}}
                            </button>
                        {{/if}}
                    {{/if}}
                {{/each}}
              {{/if_eq}}
            </div>
        </div>
        {{/if}}
    {{/each}}
</div>
