<div data-templateid="LightRecurringOrderCartDetail" class="compact-order">
    <div class="row">
        <div class="col-8"><strong>{{localizeFormat 'RecurringCart' 'L_UpcomingDate' FormatedNextOccurence}}</strong></div>
        <div class="col-4 text-right"><a href="{{CartDetailUrl}}" class="cta">{{ localize 'MyAccount' 'H_RecurringCartDetails' }}</a></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-8">
            <span class="compact-order-status text-gray">{{localize 'RecurringCart' 'L_StatusPendingPreparation' }}</span>           
        </div>
        <div class="col-4 text-right">{{localize 'RecurringCart' 'L_Total' }}<strong class="h4">{{Total}}</strong></div>
    </div>
    <div class="container-fluid recurring-container-thumbnail">
        <div class="row">
            <div class="small-thumbnail">
                <img src="/UI.Package/Images/recurring.svg" class="recurring-icon" alt="{{localize 'General' 'L_RecurringProduct'}}" title="{{localize 'General' 'L_RecurringProduct'}}" /> 
            </div>
            {{#each LineItemDetailViewModels }}
                <div class="small-thumbnail item">
                    <img src="{{ImageUrl}}" class="img-small-thumbnail img-fluid" alt="Thumbnail" onerror="this.onerror=null; this.src='{{FallbackImageUrl}}'" />
                </div>
            {{/each}}
        </div>
    </div>
</div>