{{#if Quantity}}
     <div class="form-check mb-1">
          <label class="m-0">
                {{#if IsSelected}}
                    <input class="form-check-input"  type="checkbox" name="{{../../../FieldName}}[]" value="{{Value}}" data-oc-click="multiFacetChanged" checked="checked" />
                {{else}}
                    <input  id="id{{FieldName}}" class="form-check-input"  type="checkbox" name="{{../../../FieldName}}[]" value="{{Value}}" data-oc-click="multiFacetChanged" />
                {{/if}}
               
                 {{Title}} ({{Quantity}})
          </label>
     </div>
{{/if}}