 <div data-templateid="OrderDetailsInfos">
     <div class="card">
        <h5 class="card-header">{{localize 'MyAccount' 'T_OrderDetails' }}</h5>
        <div class="card-body">
            <div data-templateid="CompatOrderDetail" class="compact-order">
                <div><strong>{{localizeFormat 'MyAccount' 'L_OrderedOn' OrderInfos.OrderDate}}</strong></div>
                <hr />
                <div class="row">
                    <div class="col-8">
                        {{localizeFormat 'MyAccount' 'L_OrderNumber' OrderInfos.OrderNumber}}
                        {{#if ShipmentSummaries.[0].ScheduledShipDate}}
                            <br />{{localizeFormat 'MyAccount' 'L_ScheduledShipping' ShipmentSummaries.[0].ScheduledShipDate}}
                        {{/if}}
                        {{#if ShipmentSummaries.[0].TrackingInfo.Url }}
                            <br /><a href="{{ShipmentSummaries.[0].TrackingInfo.Url}}">{{ localize 'MyAccount' 'H_OrderTracking' }}</a>
                        {{/if}}
                        <br/><span class="compact-order-status {{#if_eq OrderInfos.OrderStatusRaw 'InProgress'}}text-warning{{else}}{{#if_eq OrderInfos.OrderStatusRaw 'Canceled'}}text-danger{{else}}text-success{{/if_eq}}{{/if_eq}}">{{ OrderInfos.OrderStatus }}</span>
                    </div>
                    <div class="col-4 text-right">Total: <strong class="h4">{{OrderInfos.PricePaid}}</strong></div>
                </div>
            </div>
        </div>        
     {{>OrderDetailsShipments}}   
    </div>
</div>
