<div class="clearfix mt-4" data-templateid="OrderHistoryPagination" >
{{#if Pages}}
    {{#if_gt Pages.length 1 }}
        <ul class="float-right  pagination">
            {{#if PreviousPage.PageNumber }}
                <li class="page-item">
                    <a  class="page-link" data-qa="order-pagination-previous" href="#" data-page="{{PreviousPage.PageNumber}}" data-oc-click="getOrders">{{PreviousPage.DisplayName}}</a></li>
            {{else }}
                <li class="disabled page-item">
                    <a class="page-link">
                        {{PreviousPage.DisplayName}}
                    </a>
                </li>
            {{/if}}

            {{#each Pages}}
                {{#if IsCurrentPage}}
                    <li class="active page-item">
                        <a class="page-link">{{DisplayName}}</a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="#" data-page="{{PageNumber}}" data-oc-click="getOrders">{{DisplayName}}</a>
                    </li>
                {{/if}}
            {{/each}}

            {{#if NextPage.PageNumber }}
                <li class="page-item"><a class="page-link" data-qa="order-pagination-next" href="#" data-page="{{NextPage.PageNumber}}" data-oc-click="getOrders">{{NextPage.DisplayName}}</a></li>
            {{else }}
                <li class="disabled page-item"><a class="page-link">{{NextPage.DisplayName}}</a></li>
            {{/if}}
        </ul>
    {{/if_gt}}
{{/if}}
</div>