<div data-templateid="ProductRecurringFrequency">
    {{#if isAvailableForRecurring}}
        <div class="recurring-modes form-group js-recurringModes">
            <div class="alert border mb-2 {{#if_eq recurringMode "single"}}selected{{/if_eq}} js-recurringModeRow">
                <div class="form-check">
                    <input id="UseSingle" {{#if_eq recurringMode "single"}}checked="checked"{{/if_eq}} type="radio" data-target=".modeSelection"
                           name="recurringMode"
                           value="single"
                           data-oc-change="changeRecurringMode" 
                           class="form-check-input" />
                    <label class="form-check-label" for="UseSingle">{{localize 'ProductPage' 'L_RecurringFrequencyOnce'}}</label>
                </div>
            </div>
            <div class="alert border mb-2 {{#if_eq recurringMode "recurring"}}selected{{/if_eq}} js-recurringModeRow">
                <div class="form-check">
                    <input  id="UseRecurring" {{#if_eq recurringMode "recurring"}}checked="checked"{{/if_eq}}
                            type="radio"
                            data-target=".modeSelection"
                            name="recurringMode"
                            value="recurring"
                            data-oc-change="changeRecurringMode"
                            class="form-check-input"  />
                    <label class="form-check-label" for="UseRecurring">
                        <img src="/UI.Package/Images/recurring.svg" class="recurring-icon" alt="{{localize 'General' 'L_RecurringProduct'}}" title="{{localize 'General' 'L_RecurringProduct'}}" /> {{localizeFormat 'ProductPage' 'L_RecurringPitch' (localize 'ProductPage' 'L_RecurringSaveRate') }}
                    </label>
                </div>
                <div class="recurring-frequencies  collapse  {{#if_eq recurringMode "recurring"}}in{{/if_eq}}  modeSelection">
                    <div class="row">
                        <div class="col-10 col-md-9 col-lg-7 form-group">
                            <label for="recurringOrderFrequencyNameSelect">{{localize 'ProductPage' 'L_RecurringDeliveryFrequency'}}</label> 
                                <button class="btn" role="button" data-trigger="click" data-toggle="popover" data-placement="top" title=""
                                    data-content="{{{recurringBubblePitch}}}" data-html="true" data-original-title="{{localize 'ProductPage' 'L_RecurringBubblePitchTitle'}}">
                                <span class="fa fa-question-circle"></span>
                            </button>
                            <select id="recurringOrderFrequencyNameSelect" class="recurring-orders-frequency-selection form-control" data-oc-change="onRecurringOrderFrequencySelectChanged">
                                {{#each availableFrequencies}}
                                    <option
                                            value="{{this.recurringOrderFrequencyName}}"
                                            {{#if_eq this.recurringOrderFrequencyName ../selectedRecurringOrderFrequencyName}}selected="selected"{{/if_eq}}>
                                        {{this.displayName}}
                                    </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>
