<div class="cart-item" data-lineitemid="{{Id}}" data-templateid="RecurringOrderTemplatesLineItem" data-productid="{{ProductId}}"
    data-variantid="{{VariantId}}" data-shipping-selected-id="{{ShippingAddressId}}" data-billing-selected-id="{{BillingAddressId}}"
    data-payment-method-selected-id="{{PaymentMethodId}}" data-shipping-provider-selected-id="{{ShippingProviderId}}" data-shipping-method-selected-name="{{ShippingMethodName}}">
    {{#if Rewards}}
    <div class="text-center">
        <span class="promotion">
            {{#each Rewards}}
            <em>{{Description}}</em>
            <br /> {{/each}}
        </span>
    </div>
    {{/if}}
    <div class="cart-row">
        <div class="cart-cell  cart-image  text-center">
            <a href="{{ProductUrl}}">
                <img src="{{ImageUrl}}" class="img-fluid" alt="Thumbnail" onerror="this.onerror=null; this.src='{{FallbackImageUrl}}'" />
            </a>
        </div>
        <div class="cart-cell-flush">
            <div class="cart-attributes recurring-schedule">
                <div class="cart-cell  cart-desc  small">
                    <a href="{{ProductUrl}}">
                        <div data-qa="cart-product-brand"><strong>{{ProductSummary.Brand}}</strong></div>
                        <span data-qa="cart-product-name">{{ProductSummary.DisplayName}}</span>

                        {{#if VariantId}}
                        <br />
                        {{#each KeyVariantAttributesList}}
                            {{#if_neq @index 0}}|{{/if_neq}}
                            {{Value}}
                        {{/each}}
                        {{/if}}
                    </a>
                </div>

                <div class="cart-cell  cart-delete  text-sm-right  text-lg-center d-table-cell d-sm-none ">
                    <button type="button"
                            class="btn   btn-outline-secondary  btn-sm"
                            data-lineitemid="{{Id}}"
                            data-oc-click="deleteLineItemConfirm"
                            data-qa="cart-product-delete"
                            data-productid="{{ProductId}}"
                            ><span class="fa  fa-times"></span></button>
                </div>

                <div class="cart-cell  cart-price  text-md-right  d-none d-sm-table-cell">
                    <div class="text-align-button  small">
                        {{#if IsOnSale}}
                        <del data-qa="cart-product-price">{{DefaultListPrice}}</del><br />
                        <strong class="text-danger" data-qa="cart-product-sales-price">{{ListPrice}}</strong>
                        {{else}}
                        <strong data-qa="cart-product-price">{{DefaultListPrice}}</strong>
                        {{/if}}
                    </div>
                </div>

                <div class="cart-cell  cart-qty  text-md-center">
                    {{#if IsValid}}
                    {{#if_eq Quantity 1}}
                        <button data-qa="cart-product-decrease" 
                            class="btn   btn-outline-secondary  btn-sm" 
                            disabled="disabled" 
                            data-lineitemid="{{Id}}" 
                            data-action="Decrement" 
                            data-quantity="{{Quantity}}"><span class="fa  fa-minus"></span></button>
                    {{else}}
                        <button data-qa="cart-product-decrease" 
                            class="btn   btn-outline-secondary  btn-sm" 
                            data-lineitemid="{{Id}}" 
                            data-action="Decrement" 
                            data-quantity="{{Quantity}}" 
                            data-productid="{{ProductId}}" 
                            data-recurringorderfrequencyname="{{RecurringOrderFrequencyName}}" 
                            data-recurringorderprogramname="{{RecurringOrderProgramName}}" 
                            data-min-value="1" data-max-value="99"                            
                            data-oc-click="updateLineItemQuantity">
                            <span class="fa  fa-minus"></span>
                            <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  d-none"></span></button>
                    {{/if_eq}}
                    {{/if}}
                    <span class="small  cart-quantity cart-quantity-template" data-lineitemid="{{Id}}" data-qa="lineItem-quantity">{{Quantity}}</span>

                    {{#if IsValid}}
                        <button data-qa="cart-product-increase" 
                            class="btn   btn-outline-secondary  btn-sm" 
                            data-lineitemid="{{Id}}" 
                            data-action="Increment" 
                            data-quantity="{{Quantity}}" 
                            data-productid="{{ProductId}}" 
                            data-recurringorderfrequencyname="{{RecurringOrderFrequencyName}}" 
                            data-recurringorderprogramname="{{RecurringOrderProgramName}}" 
                            data-min-value="1" data-max-value="99"                            
                            data-oc-click="updateLineItemQuantity">
                            <span class="fa  fa-plus"></span>
                            <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  d-none"></span></button>
                    {{/if}}
                    
                    <br />
                    <button class="cta btn btn-link button-like-link d-none d-sm-block" role="button" data-oc-click="deleteLineItemConfirm" data-qa="lineitem-delete" >
                        {{localize 'RecurringSchedule' 'L_RemoveLineitem'}}
                    </button>
                </div>

                <div class="cart-cell  cart-subtotal  text-md-right">
                    <div class="text-align-button small">
                        {{#if IsPriceDiscounted}}
                        <del data-qa="cart-product-subtotal-price">{{TotalWithoutDiscount}}</del><br />
                        <strong class="cart-subtotal-price text-danger" data-qa="cart-product-subtotal-sales">{{Total}}<sup>*</sup></strong>
                        {{else}}
                        <strong class="cart-subtotal-price" data-qa="cart-product-subtotal-price">{{Total}}<sup>*</sup></strong>
                        {{/if}}
                        {{#if SavingsTotal}}
                        <br />
                        <span class="text-success">{{localize 'ShoppingCart' 'L_LineItemSavings'}}&nbsp;</span>
                        <span class="text-success" data-qa="lineItem-savingstotal">{{SavingsTotal}}</span>
                        {{/if}}
                        {{>AdditionalFees}}
                    </div>
                </div>

                <div class="cart-cell  cart-frequency  text-sm-left  text-md-right">
                     <div class="">
                        {{#if RecurringOrderFrequencyDisplayName}}
                        <span class="recurring-text">{{RecurringOrderFrequencyDisplayName}}</span>
                        {{/if}}
                    </div>
                    <div class="">                        
                        <button class="cta btn btn-link button-like-link text-sm-left text-md-right" role="button"
                            data-oc-click="editDetailsClick" 
                            data-qa="lineitem-edit" 
                            data-href="{{EditUrl}}" 
                            title="{{localize 'RecurringSchedule' 'L_EditDetails'}}">
                           {{localize 'RecurringSchedule' 'L_EditDetails'}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
