<div data-oc-controller="Product.FacetSearch" data-corrected-search-term="{{CorrectedSearchTerms}}">
    <form name="searchFacets">
    {{#if PromotedFacetValues}}
        {{>PromotedFacetValues}}
    {{/if}}
    {{#each Facets}}
        {{#if IsDisplayed}}
        <div class="card  bg-light  mb-3  facets-card" data-facetfieldname="{{FieldName}}" data-facettype="{{FacetType}}"
            {{#if_eq FacetType "Range"}}
            data-min="{{StartValue}}" data-max="{{EndValue}}" data-step="{{GapSize}}" data-max-label="{{Localize 'List-Search' 'L_RangeAll'}}"
            {{/if_eq}}>
            <div class="card-body" data-qa="search-refiner">
                <h5>{{Title}}</h5>
                {{#if_eq FacetType 'Range'}}
                    {{>SearchRangeFacet}}
                {{else}}
                   
                    {{#if_eq FacetType 'MultiSelect'}}
                        {{#each FacetValues}}
                            {{>MultiSelectFacet}}
                        {{/each}}
                    {{else}}
                        {{#each FacetValues}}
                            {{>SingleFacet}}
                        {{/each}}
                    {{/if_eq}}
                    
                    {{#if OnDemandFacetValues}}
                        <ul class="list-unstyled  collapse  onDemandFacets-{{@index}} ">
                            {{#if_eq FacetType 'MultiSelect'}}
                                {{#each OnDemandFacetValues}}
                                    {{>MultiSelectFacet}}
                                {{/each}}
                            {{else}}
                                {{#each OnDemandFacetValues}}
                                    {{>SingleFacet}}
                                {{/each}}
                            {{/if_eq}}
                        </ul>
                        <button class="btn  btn-link" data-toggle="collapse" data-target=".onDemandFacets-{{@index}} "
                            data-label-showmore="{{localize 'List-Search' 'B_ShowMore'}}" data-label-showless="{{localize 'List-Search' 'B_ShowLess'}}"
                            data-oc-click="toggleFacetList">{{localize 'List-Search' 'B_ShowMore'}}</button>
                    {{/if}}

                {{/if_eq}}
            </div>
        </div>
         {{/if}}
    {{/each}}
    </form>
</div>