{{#if Quantity}}
    <div class="mb-1">
        <a href="#" data-facetfieldname="{{../../../FieldName}}" data-facetvalue="{{Value}}" title="{{Title}}" data-oc-click="singleFacetChanged">{{Title}}&#160;({{Quantity}})</a>
    </div>
{{/if}}