<div data-templateid="StoreInventoryList">
{{#if IsLoading}}
    {{>Loading}}
{{else}}
    {{#if Stores}}
        <div class="row">
            {{#each Stores}}
                <div class="mb-4 col-lg-6">
                    {{> StoreInventoryTile}}
                </div>
            {{/each}}
        </div>
    {{else}}
        <p class="lead  text-center">{{localize 'Store' 'L_InventoryUnavailable'}}</p>
    {{/if}}

    {{#if NextPage}}
    {{#with NextPage}}
       <div class="col-12 stores-list-paging">
            <a data-qa="next-page"
               data-page="{{Page}}"
               data-oc-click="nextPage"
               class="btn   btn-outline-secondary">
               {{localize 'Store' 'B_ShowMore'}}
               <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  d-none"></span>
            </a>
       </div>
    {{/with}}
    {{/if}}
{{/if}}
</div>

