@inherits RazorFunction
@using Orckestra.Composer.SearchQuery.Context
@using Orckestra.Composer.Search.Facets
@using Orckestra.Overture.ServiceModel.SearchQueries

@functions {
    public override string FunctionDescription
    {
        get { return "Facets for Query Page"; }
    }

    [FunctionParameter(Label = "Query Name", Help = "Query Name", WidgetMarkup = Orckestra.ExperienceManagement.SearchQueryBuilder.Widgets.MerchandisingQuerySelector)]
    public string QueryName { get; set; }

    public ISearchQueryContext RequestContext { get; set; }
}
@{
    var browsingViewModel = RequestContext.GetSearchQueryViewModelAsync(SearchQueryType.Merchandising, QueryName).Result;
    if (browsingViewModel == null)
    {
        return;
    }

    var facetSettings = browsingViewModel.FacetSettings;
    var categoryFacetValuesTree = facetSettings?.CategoryFacetValuesTree;
    var isCategoryTreeView = categoryFacetValuesTree != null;
    var facets = browsingViewModel.ProductSearchResults.Facets;
    if (facets == null || facets.Count == 0)
    {
        return;
    };
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:v-bind="v-bind" xmlns:v-on="v-on">
<head>
</head>
<body>
    <div id="facetsModal" class="facets-modal">
        <div class="facets-modal-dialog">
            <div class="facets-modal-content">
                @FacetHelpers.FacetsModalHeader()
                <div class="facets-modal-body">
                    <div class="overlay"></div>

                    <div data-oc-controller="Product.FacetSearch"
                         data-context="@facetSettings.JsonContext"
                         data-corrected-search-term="@browsingViewModel.ProductSearchResults.CorrectedSearchTerms">
                        <form name="searchFacets" id="vueSearchFacets" v-cloak="true">

                            @FacetHelpers.PromotedFacetValues()

                            @if (isCategoryTreeView)
                            {
                                @FacetHelpers.CategoryFactesTree(browsingViewModel.QueryName)
                            }

                            <div v-for="facet in Facets" v-if="facet.IsDisplayed" v-bind:key="facet.FieldName + facet.FacetType"
                                 class="card  bg-light  mb-3  facets-card"
                                 v-bind:data-facetfieldname="facet.FieldName"
                                 v-bind:data-facettype="facet.FacetType"
                                 v-bind:data-min="facet.StartValue"
                                 v-bind:data-max="facet.EndValue"
                                 v-bind:data-step="facet.GapSize"
                                 data-max-label="@Html.Localize("List-Search", "L_RangeAll")">
                                <div class="card-header">{{facet.Title}}</div>
                                <div class="card-body">
                                    @FacetHelpers.RenderFacet()
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                @FacetHelpers.FacetsModalFooter()
            </div>
        </div>
    </div>
</body>
</html>