@inherits RazorFunction
@using Orckestra.Overture.ServiceModel.SearchQueries
@using Orckestra.Composer.SearchQuery.Context

@functions {
    public override string FunctionDescription
    {
        get { return "Query Browsing Selected Facets"; }
    }

    [FunctionParameter(Label = "Query Name", Help = "Query Name", WidgetMarkup = Orckestra.ExperienceManagement.SearchQueryBuilder.Widgets.MerchandisingQuerySelector)]
    public string QueryName { get; set; }

    public ISearchQueryContext RequestContext { get; set; }
}

@{
    var browsingViewModel = RequestContext.GetSearchQueryViewModelAsync(SearchQueryType.Merchandising, QueryName).Result;
    if (browsingViewModel == null)
    {
        return;
    }

    var selectedFacets = browsingViewModel.FacetSettings.SelectedFacets;

    if (selectedFacets == null ||
        selectedFacets.Facets == null ||
        selectedFacets.Facets.Count == 0)
    {
        return;
    };
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <div data-oc-controller="Product.SelectedSearchFacets">
        <div id="selectedFacets" class="selected-facets card facets-card  mb-3">
            <div class="card-header">
                @Html.Localize("List-Search", "L_Selection")
                @if (selectedFacets.IsAllRemovable)
                {
                    <a class="float-right"
                       data-qa="search-refiners-clear-all"
                       href="#"
                       data-oc-click="clearSelectedFacets">
                        @Html.Localize("List-Search", "B_ClearAll")
                    </a>
                }
            </div>
            <div class="card-body">
                <ul class="list-group">
                    @foreach (var facet in selectedFacets.Facets)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @facet.DisplayName
                            <span class="badge badge-light">
                                @if (facet.IsRemovable)
                                {
                                    <a href="#" class="float-right" data-qa="search-refiner-remove"
                                       data-facetfieldname="@facet.FieldName"
                                       data-facettype="@facet.FacetType"
                                       data-facetvalue="@facet.Value"
                                       title="@facet.DisplayName" data-oc-click="removeSelectedFacet">
                                        <span class="fa  fa-times  fa-lg"></span>
                                    </a>
                                }
                                else
                                {
                                    <span class="float-right  fa  fa-times  fa-lg  text-muted"></span>
                                }
                            </span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
