<span data-templateid="AddToCartProductDetail">
    {{#if IsUnavailable}}
        <button class="btn btn-primary btn-lg text-uppercase"
                data-qa="product-add-to-cart"
                disabled="disabled">
            {{localize "General" "B_AddToCartProductDetailUnavailable"}}
        </button>
    {{else}}
        {{#if_eq IsAvailableToSell undefined}}
            <!--Don't display the AddToCart Button the inventory is loading-->
        {{else}}
            {{#if IsAvailableToSell}}
                <button class="btn btn-primary btn-lg text-uppercase"
                        data-qa="product-add-to-cart"
                        data-oc-click="addLineItem">
                    {{localize "General" "B_AddToCartProductDetail"}}
                    <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  hidden"></span>
                </button>
            {{else}}
                <button class="btn btn-primary btn-lg text-uppercase"
                        data-qa="product-add-to-cart"
                        disabled="disabled">
                    {{localize 'General' 'B_AddToCartProductDetailOOS'}}
                </button>
            {{/if}}
        {{/if_eq}}
    {{/if}}
</span>