<div data-templateid='ProductImages'>
{{#if Images}}
  <div class="col-md-6  col-sm-6">
      <div class="row">

          <!-- Main image -->
          <div class="col-md-10  col-md-push-2">
              {{> MainImage}}
          </div>

          <!-- Thumbnails -->
          <div class="col-md-2  col-md-pull-10">
              <div class="row">
              {{#if Images}}
                {{#each Images}}
                  <div class="col-xs-3  col-md-12">
                        {{#if Selected}}
                        <a href="#" style="display: none;" class="thumbnail  active  js-thumbnail" data-oc-click="selectImage" data-index="{{@index}}">
                          <img class="img-fluid" src="{{ThumbnailUrl}}" alt="{{../../DisplayName}} - {{@index}}" onload="if (this.complete) { this.parentNode.style.display = 'block' }"/>
                        </a>
                        {{else}}
                        <a href="#" style="display: none;" class="thumbnail" data-oc-click="selectImage" data-index="{{@index}}">
                          <img class="img-fluid" src="{{ThumbnailUrl}}" alt="{{../../DisplayName}} - {{@index}}" onload="if (this.complete) { this.parentNode.style.display = 'block' }"/>
                        </a>
                        {{/if}}
                  </div>
                {{/each}}
              {{/if}}
              </div>
          </div>
      </div>
  </div>
{{/if}}
</div>
