@inherits Composer.Razor.ComposerRazorFunction
@functions {
    public override string FunctionDescription
    {
        get { return "Selected Store In Header"; }
    }
}

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://www.composite.net/ns/function/1.0"
      xmlns:v-bind="v-bind" xmlns:v-on="v-on">
<head>
</head>
<body>
    <div id="vueSelectedStoreInHeader" data-oc-controller="Grocery.SelectedStoreInHeader"
         v-cloak="v-cloak" class="pull-left">
        <ul class="navbar-nav p-0">
            <li class="nav-item" v-if="!Store">
                @if (CurrentPageNode.Id != HomePageNode.Id)
                {
                    <a class="nav-link" href="#" v-on:click.prevent="changeStoreModal($event, 'store')">
                        @StoreIcon()
                    </a>
                }
                else
                {
                    <a class="nav-link" href="#" v-on:click.prevent="navigateToStoreSelector">
                        @StoreIcon()
                    </a>
                }
            </li>
            <li class="nav-item dropdown" v-else="v-else">
                <a class="nav-link" data-toggle="dropdown">
                    @StoreIcon()
                </a>
                <div class="dropdown-menu selected-store-header p-3">
                    @Forms.Validations.ShowError("Errors.TimeSlotSelectionError")
                    <div v-if="Store">
                        @SelectedFulfillmentMethod()
                        @StoreHelpers.SelectedStorePreview("SelectedFulfillment")
                        <hr />
                        @StoreHelpers.SelectedTimeSlotPreview("SelectedFulfillment")
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>


@helper StoreIcon()
{
<span class="d-none d-lg-inline">
    <i class="fa fa-sm mr-1" v-bind:class="[FulfillmentMethodType == 1 ? 'fa-store-alt' : 'fa-truck']" />
    <span v-if="Store">
        <span class="d-none d-lg-inline">
            {{Store.LocalizedDisplayName}}
            <span v-if="SelectedFulfillment.TimeSlotLoading">@GeneralHelpers.LoadingSpinner(true)</span>
            <span v-else-if="TimeSlotReservationTentative">&nbsp;|&nbsp;{{TimeSlotReservationDisplay}}</span>
        </span>
        <span class="d-lg-none">
            @Html.Localize("Grocery", "B_BookStore")
        </span>
    </span>
    <span v-else="v-else">@Html.Localize("Grocery", "B_BookStore")</span>
</span>

    <span class="d-lg-none">
        <i class="fa fa-sm mr-1"
           v-bind:class="[FulfillmentMethodType == 1 ? 'fa-store-alt' : 'fa-truck']" />
        <span class="d-none d-sm-inline">
            <span v-if="Store">
				{{Store.LocalizedDisplayName}}
			</span>
			<span v-else="v-else">
				@Html.Localize("Grocery", "B_BookStore")
			</span>
        </span>
    </span>
}


@helper SelectedFulfillmentMethod()
{
    <div v-if="SelectedFulfillment.FulfillmentMethodType" class="mb-2">
        <div class="border-bottom bg-light p-3  mx-n3 mt-n3">
            <a class="cta dark-blue float-right" href="#" v-on:click.prevent="changeStoreModal($event, 'method')">
                <i class="fa fa-edit d-inline d-sm-none"></i>
                <span class="d-none d-sm-inline">@Html.Localize("Grocery", "B_ChangeFulfillmentMethod")</span>
            </a>
            <h5 class="m-0">
                <i class="fa mr-1" v-bind:class="SelectedFulfillment.FulfillmentMethodType === 1 ? 'fa-store-alt' : 'fa-truck'" />
                <span v-if="SelectedFulfillment.FulfillmentMethodType == 1">@Html.Localize("Grocery", "T_FulfillmentMethodTitle_PickUp")</span>
                <span v-else="else">@Html.Localize("Grocery", "T_FulfillmentMethodTitle_Shipping")</span>
            </h5>

        </div>
    </div>
}