<div data-templateid="CheckoutOrderConfirmation">
    {{#if GettingCart}}
        {{>Loading}}
    {{else}}
        <h1>{{localize 'CheckoutProcess' 'T_ThankYou'}}</h1>

        <p><strong>{{localize 'CheckoutProcess' 'L_YourOrderNumber'}} {{OrderNumber}}</strong></p>

        <p>{{localize 'CheckoutProcess' 'L_EmailConfirmation'}} <strong>{{CustomerEmail}}</strong></p>
    {{/if}}
</div>
