<div data-templateid="KvaItems">
    {{#each KeyVariantAttributeItems}}
        {{#if Values}}
            <div class="island  btn-multiline" data-qa="product-variants" data-propertyname="{{PropertyName}}" data-propertydatatype="{{PropertyDataType}}">

            <h2 class="h6">{{DisplayName}}</h2>

            {{#each Values}}
                {{#if Disabled}}
                    {{#if Selected}}
                        <button class="btn  btn-inactive  btn-sm active"
                                data-oc-click="selectKva"
                                value="{{Value}}">
                          {{#if ImageUrl}}
                            <img class="img-fluid" src="{{ImageUrl}}" alt="{{Title}}" />
                          {{else}}
                            {{Title}}
                          {{/if}}
                        </button>
                    {{else}}
                        <button class="btn  btn-inactive  btn-sm"
                                data-oc-click="selectKva"
                                value="{{Value}}">
                          {{#if ImageUrl}}
                            <img class="img-fluid" src="{{ImageUrl}}" alt="{{Title}}" />
                          {{else}}
                            {{Title}}
                          {{/if}}
                        </button>
                    {{/if}}

                {{else}}
                    {{#if Selected}}
                        <button class="btn  btn-primary  btn-sm active"
                                data-oc-click="selectKva"
                                value="{{Value}}">
                          {{#if ImageUrl}}
                            <img class="img-fluid" src="{{ImageUrl}}" alt="{{Title}}" />
                          {{else}}
                            {{Title}}
                          {{/if}}
                        </button>
                    {{else}}
                        <button class="btn  btn-default  btn-sm"
                                data-oc-click="selectKva"
                                value="{{Value}}">
                          {{#if ImageUrl}}
                            <img class="img-fluid" src="{{ImageUrl}}" alt="{{Title}}" />
                          {{else}}
                            {{Title}}
                          {{/if}}
                        </button>
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>
        {{/if}}
    {{/each}}
</div>
