<div data-templateid="OrderDetailsShipment">
    <div class="card order-details-shipments">
        <div class="card-header">
            <h5>{{localize 'MyAccount' 'L_Shipping'}} {{Index}}</h5>            
            <span class="text-success">
                {{#if_eq ShipmentStatusName "Fulfilled"}}
                    {{localize 'MyAccount' 'L_OrderDelivered'}} {{ShipmentStatusDate}}
                {{else}}
                    {{#if_eq ShipmentStatusName "Canceled"}}
                        {{localize 'MyAccount' 'L_OrderCancel'}} {{ShipmentStatusDate}}
                    {{else}}
                        {{localize 'MyAccount' 'L_OrderInProgress'}}
                    {{/if_eq}}
                {{/if_eq}}                
            </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12  col-md-8  col-lg-9">
                    <h2 class="h4">{{localize 'MyAccount' 'L_OrderShipping'}}</h2>
                   {{#with ShippingAddress}}
                        {{#if FirstName}}
                            <span data-qa="order-shipping-address-fullname">{{FirstName}}{{#if LastName}}&nbsp;{{LastName}}{{/if}}</span>
                            <br />
                        {{/if}}
                        <span data-qa="order-shipping-address-line1">{{Line1}}</span><br />
                        {{#if Line2}}
                            <span data-qa="order-shipping-address-line2">{{Line2}}</span><br />
                        {{/if}}
                        <span data-qa="order-shipping-address-city">{{City}}</span>,
                        <span data-qa="order-shipping-address-region">{{RegionName}}</span>,
                        <span data-qa="order-shipping-address-postalcode">{{PostalCode}}</span><br />
                        <span data-qa="order-shipping-address-phone">{{PhoneNumber}}</span>
                    {{/with}}
                </div>
                <div class="col-12  col-md-4  col-lg-3 text-md-right">
                    <h2 class="h4">{{ShippingMethod.DisplayName}}</h2>
                    <p>{{ShippingMethod.Cost}}</p>
                </div>
            </div>
        </div>
        {{>OrderDetailsLineItems}}
    </div>
</div>
