<div data-templateid="OrderDetailsPayments">
     <div class="card-body">
         {{#each Payments}}
         {{#if PaymentMethodName}}
         <div class="row payment">
             <div class="col-12  col-md-6  col-lg-6">
                <div class="col-4  col-md-4  col-lg-4">
                    {{#if CreditCardNumber}}
                        <img src="/UI.Package/Images/creditcards/{{PaymentMethodName}}.png" alt="{{PaymentMethodName}}" class="img-responsive" />
                    {{else}}
                        <img src="/UI.Package/Images/payments/cash.png" alt="Cash" class="img-responsive" />
                        <!-- <img src="img/giftcard.png" alt="Gift Card" class="img-responsive"> -->
                    {{/if}}
                </div>
                <div class="col-8  col-md-8  col-lg-8">
                    <p>
                        <h2 class="h4">{{localize 'MyAccount' 'L_PaymentMethod'}}</h2>
                        {{#if CreditCardNumber}}
                            {{localize 'MyAccount' 'L_CreditCardNumber' }} {{CreditCardNumber}}
                            <br />{{localize 'MyAccount' 'L_CreditCardExpires' }} {{ExpiryDate}}
                        {{else}}
                            {{PaymentMethodName}}
                        {{/if}}
                    </p>
                </div>
             </div>
            <div class="col-12  col-md-6  col-lg-6">
                <h2 class="h4">{{localize 'MyAccount' 'T_BillingAddress'}}</h2>
                {{#with BillingAddress}}
                    {{#if FirstName}}
                        <span data-qa="order-billing-address-fullname">{{FirstName}}{{#if LastName}}&nbsp;{{LastName}}{{/if}}</span>
                        <br />
                    {{/if}}
                    <span data-qa="order-shipping-address-line1">{{Line1}}</span><br />
                    {{#if Line2}}
                        <span data-qa="order-shipping-address-line2">{{Line2}}</span><br />
                    {{/if}}
                    <span data-qa="order-shipping-address-city">{{City}}</span>,
                    <span data-qa="order-shipping-address-region">{{RegionName}}</span>,
                    <span data-qa="order-shipping-address-postalcode">{{PostalCode}}</span><br />
                    <span data-qa="order-shipping-address-phone">{{PhoneNumber}}</span>
                {{/with}}
            </div>
        </div>
        {{else}}
        <div class="row payment">
            <div class="col-lg-12 text-center">
                <p>{{localize 'General' 'P_PaymentLoadErrorMessage' }}</p>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>
