{{#with Pagination}}
<div class="pagination-dropdown ">
    <ul class="pagination  m-0  " >
        <li class="page-item previous  {{#unless PreviousPage.Url}}disabled{{/unless}}">
            <a class="page-link" title="{{PreviousPage.DisplayName}}" href="{{PreviousPage.Url}}">
                <i class="fa  fa-arrow-circle-left"></i>&#160;{{PreviousPage.DisplayName}}
            </a>
            &#160;
        </li>

        <li class="page-item mx-2">
            <select class="form-control" data-oc-change="pagerPageChanged">
                {{#each Pages}}
                <option {{#if IsCurrentPage}}selected="selected" {{/if}} value="{{UrlPath}}">
                    {{localize 'List-Search' 'L_PageInDropDown'}}&#160;{{DisplayName}}</option>
                {{/each}}
            </select>

        </li>
        <li class="page-item ">
            <span class="d-flex-inline pt-2">
                &#160;{{localizeFormat 'List-Search' 'L_PageOfTotalItems' TotalNumberOfPages}}&#160;</span>
        </li>
        <li class="page-item  next ml-2  {{#unless NextPage.Url}}disabled{{/unless}}">
            <a class="page-link" title="{{NextPage.DisplayName}}" href="{{NextPage.Url}}">{{NextPage.DisplayName}}&#160;
                <i class="fa  fa-arrow-circle-right"></i></a>
        </li>
    </ul>

</div>
{{/with}}