<div data-templateid="RecurringScheduleDetailsFrequency" class="panel  panel-default">
    {{#if IsLoading}}
        {{>Loading}}
    {{else}}
        <div class="panel-heading clearfix">
            <div class="cart-header-title recurring-schedule-details pull-left">
                <h2 class="h3">{{localize 'RecurringSchedule' 'T_RecurringScheduleDetailsFrequency'}}</h2>
            </div>
            <div class="cart-header-labels recurring-schedule-details pull-left">
                <div class="cart-header-price  text-right  pull-left  hidden-xs">{{localize 'MyAccount' 'L_UnitPrice'}}</div>

                <div class="cart-header-qty  text-center  pull-left  hidden-xs">{{localize 'MyAccount' 'L_Quantity'}}</div>

                <div class="cart-header-subtotal  text-right  pull-left  hidden-xs">{{localize 'MyAccount' 'L_Subtotal'}}</div>
            </div>
        </div>
        <div class="panel-body">
            {{#if Rewards}}
            <div class="text-center">
                <span class="promotion">
                    {{#each Rewards}}
                    <em>{{Description}}</em>
                    <br /> {{/each}}
                </span>
            </div>
            {{/if}}
            <div class="cart-row">
                <div class="cart-cell  cart-image  text-center">
                    <a href="{{ProductUrl}}">
                        <img src="{{ImageUrl}}" class="img-fluid" alt="Thumbnail" onerror="this.onerror=null; this.src='{{FallbackImageUrl}}'" />
                    </a>
                </div>
                <div class="cart-cell-flush">
                    <div class="cart-attributes recurring-schedule-details">
                        <div class="cart-cell  cart-desc  small">
                            <a href="{{ProductUrl}}">
                                <div data-qa="cart-product-brand"><strong>{{ProductSummary.Brand}}</strong></div>
                                <span data-qa="cart-product-name">{{ProductSummary.DisplayName}}</span>

                                {{#if VariantId}}
                                <br />
                                {{#each KeyVariantAttributesList}}
                                    {{#if_neq @index 0}}|{{/if_neq}}
                                    {{Value}}
                                {{/each}}
                                {{/if}}
                            </a>
                        </div>

                        <div class="cart-cell  cart-price  text-sm-right  hidden-xs">
                            <div class="text-align-button  small">
                                {{#if IsOnSale}}
                                <del data-qa="cart-product-price">{{DefaultListPrice}}</del><br />
                                <strong class="text-danger" data-qa="cart-product-sales-price">{{ListPrice}}</strong>
                                {{else}}
                                <strong data-qa="cart-product-price">{{DefaultListPrice}}</strong>
                                {{/if}}
                            </div>
                        </div>

                        <div class="cart-cell  cart-price-multiplier  text-sm-right  hidden-xs">
                            <div class="text-align-button  small">
                                <strong>x</strong>
                            </div>
                        </div>

                        <div class="cart-cell  cart-qty  text-sm-center text-xs-left">
                            <span class="small cart-quantity-template text-xs-left" data-lineitemid="{{Id}}" data-qa="lineItem-quantity">{{Quantity}}</span>
                        </div>

                        <div class="cart-cell  cart-subtotal  text-sm-right">
                            <div class="text-align-button small">
                                {{#if IsPriceDiscounted}}
                                <del data-qa="cart-product-subtotal-price">{{TotalWithoutDiscount}}</del><br />
                                <strong class="cart-subtotal-price text-danger" data-qa="cart-product-subtotal-sales">{{Total}}</strong>
                                {{else}}
                                <strong class="cart-subtotal-price" data-qa="cart-product-subtotal-price">{{Total}}</strong>
                                {{/if}}
                                {{#if SavingsTotal}}
                                <br />
                                <span class="text-success">{{localize 'ShoppingCart' 'L_LineItemSavings'}}&nbsp;</span>
                                <span class="text-success" data-qa="lineItem-savingstotal">{{SavingsTotal}}</span>
                                {{/if}}
                                {{>AdditionalFees}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{#if RecurringOrderProgramName}}
                <div class="cart-recurring js-cartRecurring">
                    <div class="cart-recurring-cta js-cartRecurringCta">
                        {{#if RecurringOrderFrequencyName}}
                            <div class="col-xs-12 col-md-7 form-group">
                                <img src="/UI.Package/Images/recurring.svg" class="recurring-icon" alt="{{localize 'General' 'L_RecurringProduct'}}" title="{{localize 'General' 'L_RecurringProduct'}}" />
                                <select class="recurring-orders-frequency-selection btn btn-refiner template-details-frequency" id="modifyFrequency">
                                    {{#each RecurringOrderProgramFrequencies}}
                                        <option value="{{RecurringOrderFrequencyName}}"
                                                {{#if_eq RecurringOrderFrequencyName ../RecurringOrderFrequencyName}}selected="selected"{{/if_eq}}>
                                            {{DisplayName}}
                                        </option>
                                    {{/each}}
                                </select>
                            </div>
                        {{/if}}
                    </div>
                </div>
            {{/if}}
        </div>
    {{/if}}
</div>