<div class="panel panel-suggestion hidden-xs">
	<div class="arrow_box"></div>
	<div class="panel-heading">{{localize 'General' 'L_Suggest_PossibleMatches'}}</div>
	<div class="panel-body">
		<div class="row">
			{{#each this}}
			<div class="col-sm-6">
				<div class="product-tile">
					<div class="row">
						<div class="col-xs-5">
							<a data-index="@index" data-oc-click="selectedProduct" data-sku="{{Sku}}" class="product-tile-media" href="{{Url}}"><img class="img-fluid" src="{{ImageUrl}}" alt="{{FullDisplayName}}" onerror="this.onerror=null; this.src='{{FallbackImageUrl}}'" /></a>
						</div>
						<div class="col-xs-7">
							<div class="product-tile-text">
								{{#if BrandDisplayName}}
								<span data-qa="search-product-brand">{{BrandDisplayName}}</span>
								<br/>
								{{else}}
								{{#if Brand}}
								<span data-qa="search-product-brand">{{Brand}}</span>
								<br/>
								{{/if}}
								{{/if}}
								<a data-qa="search-product-title" data-oc-click="selectedProduct" data-sku="{{Sku}}" data-index="@index" class="suggestion-title" href="{{Url}}" title="{{FullDisplayName}}">{{DisplayName}}</a>
							</div>
							<div class="product-tile-special-price">
								{{#if Pricing.IsOnSale }}
								<del>{{Pricing.DisplayPrice}}</del>
								{{/if}}
							</div>
							<div class="product-tile-price">
								{{#if Pricing.IsOnSale }}
								<span class="h4  text-danger" data-qa="search-product-price">{{Pricing.DisplaySpecialPrice}}</span>
								{{else}}
								<span class="h4" data-qa="search-product-price">{{Pricing.DisplayPrice}}</span>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
        <div class="row">
            <a data-oc-click="showMoreResults">{{localize 'List-Search' 'ShowMoreResults'}}</a>
        </div>
	</div>
</div>
