<div data-oc-controller="Product.SelectedSearchFacets">
{{#if SelectedFacets.Facets }}
    <div id="selectedFacets" class="card facets-card  mb-3">
        <div class="card-body">
            <h5>{{localize 'List-Search' 'L_Selection'}}</h5>
            {{#if SelectedFacets.IsAllRemovable }}
            <p class="clearfix"><a class="float-right  small" data-qa="search-refiners-clear-all" href="#"
                    {{#if ../../LandingPageUrls}}data-landingpageurl="{{../../LandingPageUrls.[0]}}" {{/if}}
                    data-oc-click="clearSelectedFacets">{{localize 'List-Search' 'B_ClearAll'}}</a></p>
            {{/if}}
        
            <ul class="list-group m-0">
                {{#each SelectedFacets.Facets}}
                <li class="list-group-item d-flex justify-content-between align-items-center p-0 mb-1 border-0">
                    {{DisplayName}}
                    <span class="badge">
        
                        {{#if IsRemovable}}
                        <a href="#" class="float-right" data-qa="search-refiner-remove" data-facetfieldname="{{FieldName}}"
                            data-facettype="{{FacetType}}" data-facetvalue="{{Value}}"
                            {{#if ../../../LandingPageUrls}}data-facetlandingpageurl="{{lookup ../../../LandingPageUrls @index}}"
                            {{/if}} title="{{DisplayName}}" data-oc-click="removeSelectedFacet"><span
                                class="fa  fa-times  fa-lg"></span></a>
                        {{else}}
                        <span class="float-right  fa  fa-times  fa-lg  text-muted"></span>
                        {{/if}}
                    </span>
                </li>
                {{/each}}
            </ul>
        
        
        </div>
    </div>
{{/if}}
</div>