 <div class="row group-item">
    <div class="d-none d-sm-block col-md-4 col-xl-3">
        {{#with Address}}
            <h5 class="title">{{City}}</h5>
         {{/with}}
     </div>
    <div class="col-12 col-md-4 col-xl-3">
    <h6><strong>{{LocalizedDisplayName}}</strong></h6>
    {{#with Address}}
        {{> StoreAddress}}
    {{/with}}
    <div>
        <a href="{{GoogleDirectionsLink}}" class="ctaGoogleDir" target="_blank"><small>{{localize 'Store' 'H_Itinerary'}}</small></a>
    </div>
    </div>
    <div class="col-12 col-md-4 col-xl-4">
        <a href="{{Url}}" class="btn btn-outline-secondary float-right float-sm-none" title="{{LocalizedDisplayName}}">{{localize 'Store' 'B_ViewStore'}}</a>
    </div>    
 </div>
