{{#with Schedule}}
<div class="store-schedule  clearfix  {{#if IsOpenNow}}bg-success{{else}}bg-danger{{/if}}">
    {{#each TodayOpeningTimes}}
      <div class="openhours-today  float-left">
         {{BeginTime}} - {{EndTime}}
      </div>
     {{/each}}
     <div class="schedule-status  text-uppercase  float-right">
        {{#if IsOpenNow}}
           {{localize 'Store' 'L_StoreOpen'}}
        {{else}}
           {{localize 'Store' 'L_StoreClosed'}}
        {{/if}}
     </div>
</div>
{{/with}}