<p>{{localize "MyAccount" "L_NewPassword"}}</p>

<form name="newPassword" data-oc-submit="newPassword">
    {{>FormErrorMessages }}

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="NewPassword">{{localize 'Forms' 'F_NewPassword'}}</label>
                <input name="NewPassword" id="NewPassword" data-qa="newpass-newpassword"
                    {{#if_localized 'Forms' 'F_NewPasswordIndication'}}
                        {{>HelpBubbleOpen}}{{localize 'Forms' 'F_NewPasswordIndication'}}{{>HelpBubbleClose}}
                    {{/if_localized}}
                        type="password"
                        class="form-control"
                        value=""
                        required="true" {{#if_localized 'Forms' 'F_NewPasswordRequiredError'}}data-parsley-required-message="{{localize 'Forms' 'F_NewPasswordRequiredError'}}"{{/if_localized}}
                        data-parsley-length="[{{MinRequiredPasswordLength}},256]" {{#if_localized 'Forms' 'F_NewPasswordLengthError'}}data-parsley-length-message="{{localize 'Forms' 'F_NewPasswordLengthError'}}"{{/if_localized}}
                        data-parsley-pattern="{{PasswordRegexPattern}}" {{#if_localized 'Forms' 'F_NewPasswordPatternError'}}data-parsley-pattern-message="{{localizeFormat 'Forms' 'F_NewPasswordPatternError' MinRequiredNonAlphanumericCharacters}}"{{/if_localized}}
                        />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="ConfirmationNewPassword">{{localize 'Forms' 'F_ConfirmationNewPassword'}}</label>
                <input name="ConfirmationNewPassword" id="ConfirmationNewPassword" data-qa="newpass-confnewpassword"
                    {{#if_localized 'Forms' 'F_ConfirmationNewPasswordIndication'}}
                        {{>HelpBubbleOpen}}{{localize 'Forms' 'F_ConfirmationNewPasswordIndication'}}{{>HelpBubbleClose}}
                    {{/if_localized}}
                        type="password"
                        class="form-control"
                        value=""
                        required="true" {{#if_localized 'Forms' 'F_ConfirmationNewPasswordRequiredError'}}data-parsley-required-message="{{localize 'Forms' 'F_ConfirmationNewPasswordRequiredError'}}"{{/if_localized}}
                        data-parsley-equalto="#NewPassword" {{#if_localized 'Forms' 'F_ConfirmationNewPasswordEqualToError'}}data-parsley-equalto-message="{{localize 'Forms' 'F_ConfirmationNewPasswordEqualToError'}}"{{/if_localized}}
                        />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group pull-right">
                <button type="submit" class="btn btn-default" data-qa="newpass-submit" >
                    {{localize 'MyAccount' 'B_NewPassword'}}
                    <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  hidden"></span>
                </button>
            </div>
        </div>
    </div>
</form>