<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-10">
                <h2 class="h3" data-qa="checkout-header-billing-address">{{localize 'CheckoutProcess' 'T_BillingAddress'}}</h2>
            </div>
            <div class="col-xs-2">
                <a href="{{OrderSummary.CheckoutStepUrls.[1]}}" class="pull-right" title="{{localize 'CheckoutProcess' 'B_Edit'}}"><span class="fa  fa-pencil  fa-lg"></span></a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        {{#if GettingCart}}
            {{>Loading}}
        {{else}}
            {{#if Payment.BillingAddress.UseShippingAddress}}
                <span data-qa="checkout-shipping-address-firstname">{{ShippingAddress.FirstName}}</span>
                <span data-qa="checkout-shipping-address-lastname">{{ShippingAddress.LastName}}</span><br />
                <span data-qa="checkout-shipping-address-line1">{{ShippingAddress.Line1}}</span><br />
                {{#if ShippingAddress.Line2}}
                    <span data-qa="checkout-shipping-address-line2">{{ShippingAddress.Line2}}</span><br />
                {{/if}}
                <span data-qa="checkout-shipping-address-city">{{ShippingAddress.City}}</span>,
                <span data-qa="checkout-shipping-address-region">{{ShippingAddress.RegionName}}</span>,
                <span data-qa="checkout-shipping-address-postalcode">{{ShippingAddress.PostalCode}}</span><br />
                <span data-qa="checkout-shipping-address-phone">{{ShippingAddress.PhoneNumber}}</span>
            {{else}}
                <span data-qa="checkout-billing-address-firstname">{{Payment.BillingAddress.FirstName}}</span>
                <span data-qa="checkout-billing-address-lastname">{{Payment.BillingAddress.LastName}}</span><br />
                <span data-qa="checkout-billing-address-line1">{{Payment.BillingAddress.Line1}}</span><br />
                {{#if ShippingAddress.Line2}}
                    <span data-qa="checkout-billing-address-line2">{{Payment.BillingAddress.Line2}}</span><br />
                {{/if}}
                <span data-qa="checkout-billing-address-city">{{Payment.BillingAddress.City}}</span>,
                <span data-qa="checkout-billing-address-region">{{Payment.BillingAddress.RegionName}}</span>,
                <span data-qa="checkout-billing-address-postalcode">{{Payment.BillingAddress.PostalCode}}</span><br />
                <span data-qa="checkout-billing-address-phone">{{Payment.BillingAddress.PhoneNumber}}</span>
            {{/if}}
        {{/if}}
    </div>
</div>
