{{#if Quantity}}
    <li>
        <div class="checkbox" data-facetfieldname="{{FieldName}}" data-facettype="{{FacetType}}">
            <label>
                {{#if IsSelected}}
                <input type="checkbox" name="{{FieldName}}[]" value="{{Value}}" data-oc-click="multiFacetChanged" checked="checked" />
                {{else}}
                <input type="checkbox" name="{{FieldName}}[]" value="{{Value}}" data-oc-click="multiFacetChanged" />
                {{/if}}
                {{!-- Replaced the non-breakable space by a normal one --}}
                {{Title}} ({{Quantity}})
            </label>
        </div>
    </li>
{{/if}}