<div class="dropdown" data-oc-controller="Product.SortBySearch">
    <span class="hidden-xs  hidden-sm">{{localize 'List-Search' 'L_Sorting'}}&#160;</span>
    <button class="btn  btn-default  dropdown-toggle" type="button" data-qa="search-sort-by-toggle" data-toggle="dropdown" aria-expanded="true">
      {{SelectedSortBy.DisplayName}}
      <span class="fa  fa-angle-down"></span>
    </button>
    <ul class="dropdown-menu  dropdown-menu-xs-right  dropdown-menu-sm-right" role="menu" data-qa="search-sort-by">
        {{#each AvailableSortBys }}
            <li><a href="#" data-sorting="{{SortingType}}" data-url="{{Url}}" data-oc-click="sortingChanged">{{DisplayName}}</a></li>
        {{/each}}
    </ul>
</div>