@using System.Globalization
@using System.Web.WebPages.Html
@using Composite.Core.WebClient.Renderings.Page;


@inherits Composite.AspNet.Razor.CompositeC1WebPage
@{
    string websiteTitle = HomePageNode.Title;
    var themeMeta = Data.Get<Orckestra.Composer.CompositeC1.DataTypes.IWebsiteStyleTheme>().FirstOrDefault(i => i.PageId == HomePageNode.Id);
    var theme = !string.IsNullOrEmpty(themeMeta?.Theme) ? themeMeta.Theme : "default";
    var isPreview = PageRenderer.RenderingReason == RenderingReason.C1ConsoleBrowserPageView;
}
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name" data-website="@HomePageNode.Id" data-console-preview="@isPreview"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0" xmlns:lang="http://www.composite.net/ns/localization/1.0" xmlns:asp="http://www.composite.net/ns/asp.net/controls">
<head>
    <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composer.Analytics.GTMAnalytics">
        <f:param name="Section" value="header" />
    </f:function>

    @PageTemplateFeature("Descriptive HTML head elements")

    @if (!string.IsNullOrEmpty(CurrentPageNode.Description))
    {
        <meta name="description" content="@CurrentPageNode.Description" />
    }
    <f:function name="Composite.Web.Html.Template.CommonMetaTags" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/UI.Package/Sass/@(theme).scss" />

    <link rel="apple-touch-icon" sizes="57x57" href="/UI.Package/Images/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/UI.Package/Images/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/UI.Package/Images/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/UI.Package/Images/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/UI.Package/Images/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/UI.Package/Images/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/UI.Package/Images/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/UI.Package/Images/favicons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/UI.Package/Images/favicons/apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" href="/UI.Package/Images/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/UI.Package/Images/favicons/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/UI.Package/Images/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/UI.Package/Images/favicons/favicon-16x16.png" sizes="16x16" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="msapplication-TileImage" content="/UI.Package/Images/favicons/mstile-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <script src="/UI.Package/JavaScript/respond.js"></script>
    <script src="/UI.Package/JavaScript/html5shiv.js"></script>
    <script src="/UI.Package/JavaScript/modernizr.js"></script>
</head>
<body>
    <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composer.Analytics.GTMAnalytics">
        <f:param name="Section" value="body" />
    </f:function>

    @if (System.Configuration.ConfigurationManager.AppSettings["InsertCacheInfoInPageSource"] == "true")
    {
        <!-- Cache: server @Environment.MachineName stamped at @DateTime.Now (@DateTime.Now.GetHashCode()) -
            @(Composite.C1Console.Security.UserValidationFacade.IsLoggedIn() ? "YOU ARE LOGGED IN - CACHING ALWAYS DISABLED" : "Anonymous - caching as live website settings")
        -->
    }

    @RenderBody()

    @Function("Composer.Layout.Includes.Javascript")
</body>
</html>