<form name="changePassword" data-oc-submit="changePassword" method="post">

    <h5 class="card-header">{{localize 'MyAccount' 'B_ChangePassword'}}</h5>
    <div class="card-body">

        {{>ChangePasswordSuccessful}}
        {{>FormErrorMessages}}

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="OldPassword">{{localize 'Forms' 'F_OldPassword'}}</label>
                    <input name="OldPassword" id="OldPassword" data-qa="changepassword-oldpassword"
                        {{#if_localized 'Forms' 'F_OldPasswordIndication'}}
                            {{>HelpBubbleOpen}}{{localize 'Forms' 'F_OldPasswordIndication'}}{{>HelpBubbleClose}}
                        {{/if_localized}}
                        autocomplete="off"
                        type="password"
                        class="form-control"
                        value=""
                        required="true" {{#if_localized 'Forms' 'F_OldPasswordRequiredError'}}data-parsley-required-message="{{localize 'Forms' 'F_OldPasswordRequiredError'}}"{{/if_localized}}
                    />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="NewPassword">{{localize 'Forms' 'F_NewPassword'}}</label>
                    <input name="NewPassword" id="NewPassword" data-qa="changepassword-newpassword"
                        {{#if_localized 'Forms' 'F_NewPasswordIndication'}}
                            {{>HelpBubbleOpen}}{{localizeFormat 'Forms' 'F_NewPasswordIndication' MinRequiredPasswordLength}}{{>HelpBubbleClose}}
                        {{/if_localized}}
                        autocomplete="off"
                        type="password"
                        class="form-control"
                        value=""
                        required="true"
                        {{#if_localized 'Forms' 'F_NewPasswordRequiredError'}}data-parsley-required-message="{{localize 'Forms' 'F_NewPasswordRequiredError'}}"{{/if_localized}}
                        data-parsley-length="[{{MinRequiredPasswordLength}},256]"
                        {{#if_localized 'Forms' 'F_NewPasswordLengthError'}}data-parsley-length-message="{{localize 'Forms' 'F_NewPasswordLengthError'}}"{{/if_localized}}
                        data-parsley-pattern="{{PasswordRegexPattern}}"
                        {{#if_localized 'Forms' 'F_NewPasswordPatternError'}}data-parsley-pattern-message="{{localizeFormat 'Forms' 'F_NewPasswordPatternError' MinRequiredNonAlphanumericCharacters}}"{{/if_localized}}
                    />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ConfirmationNewPassword">{{localize 'Forms' 'F_ConfirmationNewPassword'}}</label>
                    <input name="ConfirmationNewPassword" id="ConfirmationNewPassword" data-qa="changepassword-confnewpassword"
                        {{#if_localized 'Forms' 'F_ConfirmationNewPasswordIndication'}}
                            {{>HelpBubbleOpen}}{{localize 'Forms' 'F_ConfirmationNewPasswordIndication'}}{{>HelpBubbleClose}}
                        {{/if_localized}}
                        autocomplete="off"
                        type="password"
                        class="form-control"
                        value=""
                        required="true" {{#if_localized 'Forms' 'F_ConfirmationNewPasswordRequiredError'}}data-parsley-required-message="{{localize 'Forms' 'F_ConfirmationNewPasswordRequiredError'}}"{{/if_localized}}
                        data-parsley-equalto="#NewPassword" {{#if_localized 'Forms' 'F_ConfirmationNewPasswordEqualToError'}}data-parsley-equalto-message="{{localize 'Forms' 'F_ConfirmationNewPasswordEqualToError'}}"{{/if_localized}}
                    />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group float-right">
                    <button type="submit" class="btn btn-primary" data-qa="changepassword-submit">
                        {{localize 'MyAccount' 'B_NewPassword'}}
                        <span class="loading-indicator  fa  fa-spin  fa-fw  fa-circle-o-notch  d-none"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
