<div data-templateid="RecurringOrderTemplatesLineItems">
    {{#each RecurringOrderTemplateViewModelList}}

    <h4>{{localize 'RecurringSchedule' 'T_TemplatesShippingTo'}} {{ShippingAddress.AddressName}}
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#address{{@index}}" aria-expanded="false"
            aria-controls="address{{@index}}">
            <i class="fa fa-lg fa-caret-down"></i>
            <i class="fa fa-lg fa-caret-up"></i>
        </button>
    </h4>
    <div id="address{{@index}}" class="push-bottom collapse" aria-expanded="false" style="height: 0px">
        <span data-qa="order-shipping-address-line1">{{ShippingAddress.Line1}}</span>
        <br /> {{#if ShippingAddress.Line2}}
        <span data-qa="order-shipping-address-line2">{{ShippingAddress.Line2}}</span>
        <br /> {{/if}}
        <span data-qa="order-shipping-address-city">{{ShippingAddress.City}}</span>,
        <span data-qa="order-shipping-address-region">{{ShippingAddress.RegionName}}</span>,
        <span data-qa="order-shipping-address-postalcode">{{ShippingAddress.PostalCode}}</span>
        <br />
        <span data-qa="order-shipping-address-phone">{{ShippingAddress.PhoneNumber}}</span>
    </div>

    <div class="card" data-shipping-address-selected-id="{{ShippingAddress.Id}}" >

        <div class="card-header clearfix">
            <div class="cart-header-title recurring-schedule float-left">
                <h2 class="h5">{{localize 'MyAccount' 'L_OrderLineItemProductsTitle'}}</h2>
            </div>
            <div class="cart-header-labels recurring-schedule float-left">
                <div class="cart-header-price  text-right  float-left  d-none d-sm-block">{{localize 'MyAccount' 'L_UnitPrice'}}</div>

                <div class="cart-header-qty  text-center  float-left  d-none d-sm-block">{{localize 'MyAccount' 'L_Quantity'}}</div>

                <div class="cart-header-subtotal  text-right  float-left  d-none d-sm-block">{{localize 'MyAccount' 'L_Subtotal'}}</div>
                
                <div class="cart-header-frequency  text-right  float-left  d-none d-sm-block">{{localize 'RecurringSchedule' 'L_Recurring'}}</div>
            </div>
        </div>
        <div class="card-body">
            {{#each RecurringOrderTemplateLineItemViewModels}} 
                {{>RecurringOrderTemplatesLineItem}} 
            {{/each}}
        </div>
    </div>
    {{/each}}

    <div class="multiline-message mt-2">
        <span class="fa  fa-comment-o  fa-lg  multiline-message-icon"></span>
        {{localizeFormat 'RecurringSchedule' 'L_PriceInfoMessage' RecurringScheduleUrl}}  
    </div>
</div>
