<div class="card panel-suggestion d-none d-sm-block">
	<div class="arrow_box"></div>
	<div class="card-header">{{localize 'General' 'L_Suggest_PossibleMatches'}}</div>
	<div class="card-body">
		{{#each this}}

			<div class="row border-bottom"
			         data-index="{{@index}}"
                     data-has-variants="{{HasVariants}}"
                     data-product-id="{{ProductId}}"
                     data-product-variant-id="{{VariantId}}"
                     data-primary-category="{{PrimaryParentCategoryId}}"
                     data-recurring-order-program-name="{{RecurringOrderProgramName}}">
				<div class="col-2">
					<a data-index="@index" data-oc-click="suggestedProductClick" data-sku="{{Sku}}" 
							  class="product-tile-media" href="{{Url}}">
						<img class="img-fluid" src="{{ImageUrl}}" alt="{{FullDisplayName}}" onerror="this.onerror=null; this.src='{{FallbackImageUrl}}'" />
					</a>
				</div>
				<div class="col-10">
					<div class="pt-2">
						{{#if BrandDisplayName}}
						<span data-qa="search-product-brand">{{BrandDisplayName}}</span>
						<br/>
						{{else}}
						   {{#if Brand}}
								<span data-qa="search-product-brand">{{Brand}}</span>
								<br/>
							{{/if}}
						{{/if}}
						<a data-qa="search-product-title" 
							data-oc-click="suggestedProductClick" 
							data-sku="{{Sku}}" 
							data-index="@index" 
							class="suggestion-title" 
							href="{{Url}}" title="{{FullDisplayName}}">
							{{DisplayName}}
						</a>
					</div>
					<div class="product-tile-special-price">
								{{#if Pricing.IsOnSale }}
								<del>{{Pricing.DisplayPrice}}</del>
								{{/if}}
					</div>
					<div class="product-tile-price">
								{{#if Pricing.IsOnSale }}
								<span class="h4  text-danger" data-qa="search-product-price">{{Pricing.DisplaySpecialPrice}}</span>
								{{else}}
								<span class="h4" data-qa="search-product-price">{{Pricing.DisplayPrice}}</span>
								{{/if}}
					</div>
				</div>
			</div>

		{{/each}}
		
        <div class="mt-4">
            <a data-oc-click="showMoreResults">{{localize 'List-Search' 'ShowMoreResults'}}</a>
        </div>
	</div>
</div>
