{{#if Quantity}}
    <li data-facetfieldname="{{FieldName}}" data-facettype="{{FacetType}}">
    <a href="#" data-facetfieldname="{{FieldName}}" data-facetvalue="{{Value}}" title="{{Title}}" data-oc-click="singleFacetChanged">{{Title}}&#160;({{Quantity}})</a>
</li>
{{/if}}