<address class="store-address">
    {{Line1}}<br />
    {{#if Line2}}
        {{Line2}}<br />
    {{/if}}
    {{City}}, {{RegionName}}, {{PostalCode}}, {{CountryName}}<br />
    <span class="store-phone">{{PhoneNumberFormated}}</span>
</address> 