@inherits RazorFunction
@using Orckestra.Composer.Search.Context;
@using Orckestra.Search.WebsiteSearch;
@using Composite.Core.Routing.Pages;
@using Composite.Search
@using Orckestra.Composer.Providers.Localization
@using Orckestra.Composer.ContentSearch.DataTypes
@using Orckestra.Composer.Search.RequestConstants

@functions {
    public override string FunctionDescription
    {
        get { return "Search Results with Content Tabs"; }
    }

    [FunctionParameter(Label = "${Orckestra.Search.WebsiteSearch,SearchResults.PageSize.Label}",
        Help = "${Orckestra.Search.WebsiteSearch,SearchResults.PageSize.Help}", DefaultValue = 6)]
    public int PageSize { get; set; }

    [FunctionParameter(Label = "${Orckestra.Search.WebsiteSearch,SearchResults.CurrentSite.Label}",
        Help = "${Orckestra.Search.WebsiteSearch,SearchResults.CurrentSite.Help}", DefaultValue = true)]
    public bool CurrentSite { get; set; }

    [FunctionParameter(Label = "${Orckestra.Search.WebsiteSearch,SearchResults.ShowHighlights.Label}",
    Help = "${Orckestra.Search.WebsiteSearch,SearchResults.ShowHighlights.Help}",
    DefaultValue = false)]
    public bool ShowHighlights { get; set; }

    public ISearchRequestContext SearchRequestContext { get; set; }


    public class ContentTabItem
    {
        public string UrlTitle { get; set; }
        public string TabUrl { get; set; }
        public string Title { get; set; }
        public WebsiteSearchResult ContentResult { get; set; }
        public long Total { get; set; }
        public int PagesCount { get; set; }
        public bool IsActive { get; set; }
    }


    private string GetTabUrl(IContentTab tab)
    {
        return $"{CurrentPageNode.Url}/{tab.UrlTitle}?{SearchRequestParams.Keywords}={SearchRequestContext.SearchQuery}";
    }

    private string[] GetFacetSelection(string fieldName)
    {
        var prefix = GetFacetFieldCheckboxPrefix(fieldName);
        return Request.QueryString.AllKeys
            .Where(key => key.StartsWith(prefix))
            .Select(key => key.Substring(prefix.Length))
            .ToArray();
    }

    string GetFacetFieldCheckboxPrefix(string fieldName)
    {
        return "f_" + fieldName + "_";
    }


    private readonly Dictionary<string, System.Type> KnowTypes = DataFacade.GetAllInterfaces().ToDictionary(t => t.FullName);
    private WebsiteSearchQuery GetSearchRequestForContentTab(IContentTab tab, bool isTabActive)
    {
        // keywords
        var searchQuery = SearchRequestContext.SearchQuery.Trim().ToLower();
        var sq = searchQuery == "*" ? "*:*" : searchQuery;
        string[] keywords = sq.Split(new[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);

        // datatypes
        var tabTypes = tab.DataTypes.Split(',').ToList();
        Type[] dataTypes = tabTypes != null ? tabTypes.Select(name => KnowTypes[name]).ToArray() : null;

        // page types
        var tabPageTypes = tab.PageTypes?.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);

        // facets
        var tabFacetsToQuery = !string.IsNullOrEmpty(tab.Facets) ? tab.Facets.Split(',') : Array.Empty<string>();
        var facets = isTabActive ? tabFacetsToQuery.Select(fieldName => new WebsiteSearchQueryFacet
        {
            Name = fieldName,
            Selections = GetFacetSelection(fieldName)
        }).ToArray() : null;

        // media folders
        var selectedMediaFolders = tab.MediaFolders != null ? DataFacade.GetData<IMediaFileFolder>().Where(p => tab.MediaFolders.Contains(p.KeyPath))
        .Select(i => i.GetDataEntityToken()).ToArray() : null;

        var sortOptions = new List<SearchQuerySortOption>();
        if (isTabActive && !string.IsNullOrEmpty(SearchRequestContext.SortDirection) && !string.IsNullOrEmpty(SearchRequestContext.SortBy))
        {
            var isReverted = SearchRequestContext.SortDirection == "desc" ? true : false;
            sortOptions.Add(new SearchQuerySortOption(SearchRequestContext.SortBy, isReverted, SortTermsAs.String));
        }

        return new WebsiteSearchQuery
        {
            Culture = Data.CurrentLocale,
            Keywords = keywords,
            DataTypes = dataTypes,
            PageTypes = tabPageTypes,
            CurrentSiteOnly = CurrentSite,
            PageNumber = isTabActive ? SearchRequestContext.CurrentPage - 1 : 0,
            Facets = facets,
            PageSize = PageSize,
            SortOptions = sortOptions,
            FilterByAncestorEntityTokens = selectedMediaFolders
        };
    }

}

@{
    C1PageRoute.RegisterPathInfoUsage();

    string pathInfo = C1PageRoute.GetPathInfo();
    string currentTabPathInfo = pathInfo?.Split('/')[1];

    var contentTabs = Data.Get<IContentTab>().Where(c => !string.IsNullOrEmpty(c.DataTypes)).OrderBy(t => t.Order).ToList();
    var justProductsSearch = contentTabs.Count == 0;

    if (justProductsSearch)
    {
        <f:function name="Composer.Search.Summary" xmlns:f="http://www.composite.net/ns/function/1.0" />
        @ShowProductsSearchResults()
        return;
    }

    var productTab = Data.Get<Orckestra.Composer.ContentSearch.DataTypes.IContentTab>().FirstOrDefault(t => t.IsProductTab);
    var isProductTab = (productTab != null && currentTabPathInfo == null) || (productTab != null && productTab.UrlTitle == currentTabPathInfo);

    if (currentTabPathInfo == null)
    {
        currentTabPathInfo = productTab != null ? productTab.UrlTitle : contentTabs.First()?.UrlTitle;
    }

    List<ContentTabItem> tabs = new List<ContentTabItem>();

    SearchRequestContext.IsProductsSearchActive = isProductTab;
    var productsResults = SearchRequestContext.ProductsSearchViewModel.ProductSearchResults;

    tabs.Add(new ContentTabItem
    {
        Title = productTab.Title,
        UrlTitle = productTab.UrlTitle,
        TabUrl = GetTabUrl(productTab),
        Total = productsResults.TotalCount,
        IsActive = (productTab != null && currentTabPathInfo == null) || (productTab != null && productTab.UrlTitle == currentTabPathInfo)
    });

    var total = productsResults != null ? productsResults.TotalCount : 0;

    if (!string.IsNullOrWhiteSpace(SearchRequestContext.SearchQuery))
    {

        foreach (var tab in contentTabs)
        {
            var searchRequest = GetSearchRequestForContentTab(tab, currentTabPathInfo == tab.UrlTitle);
            var result = WebsiteSearchFacade.Search(searchRequest);

            total += result.ResultsFound;

            tabs.Add(new ContentTabItem
            {
                Title = tab.Title,
                UrlTitle = tab.UrlTitle,
                TabUrl = GetTabUrl(tab),
                ContentResult = result,
                PagesCount = (int)Math.Ceiling((decimal)result.ResultsFound / PageSize),
                Total = result.ResultsFound,
                IsActive = currentTabPathInfo == tab.UrlTitle
            });
        }
    }

    var currentTab = tabs.FirstOrDefault(t => t.IsActive);
}


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
    <script type="text/javascript" defer="defer">
        function SubmitContentSearchForm(sortBy, sortDirection) {

            if (sortBy) {
                document.getElementById("sortBy").value = sortBy;
            }

            if (sortDirection) {
                document.getElementById("sortDirection").value = sortDirection;
            }

            document.getElementById('SearchForm').submit();
        }
        function RemoveSelection(key) {
            var checkbox = document.getElementById(key);
            checkbox.checked = !checkbox.checked;
            document.getElementById('SearchForm').submit();

        }
        function seeMore(id) {
            var elem = document.getElementById(id).getElementsByTagName("li");
            for (var i of elem) {
                if (i.matches('li[aria-label="hidden"]')) {
                    i.hidden = !i.hidden;
                }
            }
            var buttonMore = document.getElementById('seeMore_' + id);
            var buttonLess = document.getElementById('seeLess_' + id);

            buttonMore.hidden = !buttonMore.hidden;
            buttonLess.hidden = !buttonLess.hidden;
        }
    </script>
</head>
<body>
    <f:function name="Composer.Search.Summary" xmlns:f="http://www.composite.net/ns/function/1.0">
        <f:param name="Total" value="@total" />
    </f:function>

    <div class="search-results">

        @if (tabs.Count > 0)
        {
            <div class="search-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    @foreach (var tab in tabs)
                    {
                        var classValue = tab.IsActive ? "active" : "";
                        <li role="presentation" class="@classValue">
                            <a href="@tab.TabUrl">
                                @tab.Title (@tab.Total)
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }

        <!-- Tab panes -->
        <div class="tab-content" style="margin-top: 20px;">
            @if (isProductTab)
            {
                @ShowProductsSearchResults()
            }
            else
            {
                if (currentTab != null && currentTab.Total > 0)
                {
                    <div class="content-tabs">
                        <form id="SearchForm" class="search-form form-inline" action="@CurrentPageNode.Url/@currentTab.UrlTitle" method="get" role="search">
                            <input id="keywords" type="hidden" value="@SearchRequestContext.SearchQuery" name="keywords" />
                            <div class="row">

                                <div class="col-xs-12">
                                    <div class="row action-line">
                                        <div class="col-xs-6 visible-sm-block visible-xs-block">
                                            <button type="button" class="btn  btn-default btn-dropdown " data-toggle="collapse" data-target="#facets" aria-expanded="false">
                                                @LocalizationHelper.Localize("List-Search", "B_Refine")
                                                <span class="fa  fa-angle-down"></span>
                                            </button>
                                        </div>
                                        <div class="col-xs-6 col-md-4">
                                            @ShowSortBy()
                                        </div>
                                        <div class="col-xs-12 col-md-8 hidden-sm hidden-xs">
                                            @ShowPaging(currentTab)
                                        </div>
                                    </div>
                                </div>

                                <div class="content-container col-xs-12">

                                    <div id="facets" class="col-sm-6 col-md-3 col-lg-2 @(currentTab.Total > 0 ? "facets" : "") collapse">
                                        @ShowSelectedFacets(currentTab.ContentResult)
                                        @ShowFacets(currentTab.ContentResult)
                                    </div>

                                    <div class="thumbnail-container col-sm-12 col-md-9 col-lg-10">
                                        @foreach (var entry in currentTab.ContentResult.Entries)
                                        {
                                            @ShowContentSearchEntry(entry)
                                        }
                                    </div>
                                </div>

                                <div class="col-xs-12 visible-sm-block visible-xs-block">
                                    @ShowPaging(currentTab)
                                </div>

                            </div>
                        </form>
                    </div>
                }
            }
        </div>
    </div>
</body>
</html>

@helper ShowProductsSearchResults()
{
    <div class="row searchgrid">
        <div class="col-md-3  col-lg-2  hidden-xs  hidden-sm">
            <f:function name="Composer.Search.SelectedSearchFacets" xmlns:f="http://www.composite.net/ns/function/1.0" />
            <f:function name="Composer.Search.Facets" xmlns:f="http://www.composite.net/ns/function/1.0" />
        </div>
        <div class="col-md-9  col-lg-10">
            <f:function name="Composer.Search.Index" xmlns:f="http://www.composite.net/ns/function/1.0" />
        </div>
    </div>
}

@helper ShowSortBy()
{
    var contentTabSortOptions = Data.Get<Orckestra.Composer.ContentSearch.DataTypes.ISortOption>().OrderBy(t => t.Order).ToList();
    var selectedSortOption = contentTabSortOptions.Find(o => o.FieldName == SearchRequestContext.SortBy && (o.IsReverted && SearchRequestContext.SortDirection == "desc" || !o.IsReverted && SearchRequestContext.SortDirection == "asc"));
    var selectedTitle = selectedSortOption != null ? selectedSortOption.Title : LocalizationHelper.Localize("List-Search", "F_Relevance_Option");
    <div class="dropdown">
        <span class="hidden-sm hidden-xs">@LocalizationHelper.Localize("List-Search", "L_Sorting")</span>
        <button type="button" class="btn btn-default  dropdown-toggle btn-dropdown" data-toggle="dropdown">
            @selectedTitle
            <span class="fa  fa-angle-down"></span>
        </button>
        <input type="hidden" id="sortDirection" name="sortDirection" value="@SearchRequestContext.SortDirection" />
        <input type="hidden" id="sortBy" name="sortBy" value="@SearchRequestContext.SortBy" />
        <ul class="dropdown-menu">
            @foreach (var option in contentTabSortOptions)
            {
                var sortByOption = option.FieldName;
                var sortDirectionOption = option.IsReverted ? "desc" : "asc";
                <li>
                    <a onClick="SubmitContentSearchForm('@sortByOption','@sortDirectionOption')">
                        @option.Title
                    </a>
                </li>
            }

        </ul>
    </div>
}

@helper ShowContentSearchEntry(SearchResultEntry entry)
{
    var image = entry.FieldValues.Where(p => p.Key.Contains("Image")).Select(v => v.Value).FirstOrDefault();
    var desc = entry.FieldValues.ContainsKey("desc") ? entry.FieldValues["desc"] : null;
    <div class="thumbnail-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        @if (image != null)
        {
            <img class="" src="~/media(@image.ToString())?h=250" alt="@entry.Title" />
        }

        <div class="caption">
            <h3><a href="@entry.Url">@Html.Raw(@entry.Title)</a></h3>
        </div>
        @if (desc != null)
        {
            <p>@desc</p>
        }
    </div>
}

@helper ShowPaging(ContentTabItem tab)
{
    if (tab.Total > 1)
    {
        <div class="pull-right">
            @SearchHelpers.Pagination(SearchRequestContext.CurrentPage, tab.PagesCount, 10, Request.Url.AbsoluteUri, SearchRequestParams.Page)
        </div>
    }
}

@helper ShowSelectedFacets(WebsiteSearchResult result)
{
    var selectedFacets = new Dictionary<string, List<SearchResultFacetHit>>();
    int count = 0;
    foreach (var r in result.Facets)
    {
        var facets = GetFacetSelection(r.Name).ToList();
        count += facets.Count;
        selectedFacets.Add(r.Name, r.Hits.Where(i => facets.Contains(i.Value)).ToList());
    }
    if (count > 0)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>@LocalizationHelper.Localize("List-Search", "L_Selection")</h4>
                <ul class="list-unstyled">
                    @foreach (var res in selectedFacets)
                    {
                        foreach (var hit in res.Value)
                        {
                            string key = GetFacetFieldCheckboxPrefix(res.Key) + hit.Value;
                            bool isChecked = Request.QueryString.AllKeys.Contains(key);

                            <li>
                                <div class="row">
                                    <div class="col-xs-10">@hit.Label</div>
                                    <div class="col-xs-2">
                                        <a href="javascript://" onclick="RemoveSelection('@(key)')">
                                            <span class="fa  fa-times  fa-lg"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }

}

@helper ShowFacets(WebsiteSearchResult result, bool isFullVersion = true)
{
    var labels = WebsiteSearchFacade.GetFacetOptions().ToDictionary(t => t.Item1, t => t.Item2);
    var index = 0;

    <div>
        @foreach (var facet in result.Facets)
        {
            var count = 0;
            index++;
            if (facet.Hits.Count == 0)
            {
                continue;
            }
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>@labels[facet.Name]</h4>
                    <div id="facet@(index)" class="">
                        <ul class="list-unstyled" id="@facet.Name">
                            @foreach (var hit in facet.Hits)
                            {
                                count++;
                                string key = GetFacetFieldCheckboxPrefix(facet.Name) + hit.Value;
                                bool isChecked = Request.QueryString.AllKeys.Contains(key);

                                <li @if (count > 5) { <text> aria-label="hidden" hidden="hidden" </text> }>
                                    <label for="@key">
                                        <input id="@key" type="checkbox" name="@key"
                                               onchange="SubmitContentSearchForm()"
                                               @if (isChecked) { <text> checked="checked" </text> } />
                                    </label>
                                    @hit.Label (@hit.HitCount)
                                </li>
                            }
                        </ul>
                        <a id="seeMore_@facet.Name" @if (count <= 5) { <text> hidden="hidden" </text> } onclick="seeMore('@facet.Name')"> @LocalizationHelper.Localize("List-Search", "B_ShowMore")</a>
                        <a id="seeLess_@facet.Name" hidden="hidden" onclick="seeMore('@facet.Name')"> @LocalizationHelper.Localize("List-Search", "B_ShowLess")</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
