<div data-templateid="GuestCustomerInfo">
    {{#if_eq IsAuthenticated false}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="h3">{{localize 'CheckoutProcess' 'T_Informations'}}</h2>
            </div>
            <div class="panel-body">

                {{#if_eq GettingCart true}}
                    {{>Loading}}
                {{/if_eq}}
                {{#if_eq GettingCart false}}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <form id="GuestCustomerInfo" data-oc-submit="preventFormSubmit" method="post" autocomplete="on">
                                    <label for="Email">{{localize 'Forms' 'F_Email'}} *</label>
                                    <input type="email" 
                                            id="Email" 
                                            name="Email" 
                                            class="form-control" 
                                            placeholder="{{localize 'Forms' 'F_EmailWaterMark'}}" 
                                            value="{{Customer.Email}}" 
                                            required="true"
                                            data-qa="checkout-email"
                                            {{#if_localized 'Forms' 'F_EmailAddressGuestIndication'}}
                                                {{>HelpBubbleOpen}}{{localize 'Forms' 'F_EmailAddressGuestIndication'}}{{>HelpBubbleClose}}
                                            {{/if_localized}}
                                            />                                            
                                </form>
                            </div>
                        </div>
                    </div>
                {{/if_eq}}
            </div>
        </div>
    {{/if_eq}}
</div>
