<div data-templateid="EditAddressFormsServerValidations">
{{#if_neq Status ''}}
    <div class="panel  panel-default">
        <div class="panel-body">
            <div class="multiline-message  text-danger">
                <span class="fa  fa-times-circle-o  fa-lg  multiline-message-icon"></span>&#32;
                {{#if_eq Status 'InvalidAddressName'}}
                    <span>{{localize 'MyAccount' 'L_EditAddressErrorInvalidAddressName'}}</span>
                {{else}}{{#if_eq Status 'InvalidZipPostalCodeFormat'}}
                    <span>{{localize 'MyAccount' 'L_EditAddressErrorInvalidZipPostalCodeFormat'}}</span>
                {{else}}{{#if_eq Status 'AjaxFailed'}}
                    <span>{{localize 'General' 'L_ErrorAjaxFailed'}}</span>
                {{else}}
                    <span>{{localize 'MyAccount' 'L_EditAddressError'}}</span>
                {{/if_eq}}{{/if_eq}}{{/if_eq}}
            </div>
        </div>
    </div>
{{/if_neq}}
</div>


