{{#if Quantity}}
    <li>
        <a href="#" data-facetfieldname="{{../../../FieldName}}" data-facetvalue="{{Value}}" title="{{Title}}" data-oc-click="singleFacetChanged">{{Title}}&#160;({{Quantity}})</a>
    </li>
{{/if}}