@inherits RazorFunction
@using Orckestra.ExperienceManagement.Configuration
@using System.Globalization

@functions {
    public override string FunctionDescription
    {
        get { return "Header of the page."; }
    }

    public ISiteConfiguration SiteConfiguration { get; set; }
}

@{
    var pages = SiteConfiguration.GetPagesConfiguration(CultureInfo.CurrentCulture, HomePageNode.Id);
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    <header class="masthead masthead-with-mega-menu shadow-sm sps sticky-top">
        <div class="header">
            <nav class="navbar navbar-expand  navbar-dark p-0">
                <div class="container-lg">
                    <div class="mobile-logo d-lg-none">
                        <a href="@HomePageNode.Url">
                            <img src="~/UI.Package/Images/BetterGrocery-White.svg" alt="logo" class="d-block w-100" />
                        </a>
                    </div>
                    <button class="navbar-toggler d-block d-lg-none main-nav-toggle"
                            aria-label="Menu" aria-expanded="false"
                            type="button"
                            data-toggle="collapse"
                            data-target="#main-nav-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    @Function("Composer.Header.LanguageSwitсh")

                    @* (disabled before moving) Function("Composer.Header.StickyLinks") *@

                    @Function("Grocery.SelectedStoreInHeader")

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            @StoreLocatorLink(pages)
                        </li>

                         @Function("Composer.Membership.SignInHeader")
                        <li class="nav-item d-none d-lg-block">
                            @Function("Composer.WishList.WishListInHeader")
                        </li>
                        <li class="nav-item d-block d-lg-none">
                            @Function("Composer.Cart.MinicartButtonMobile")
                        </li>
                    </ul>

                </div>
            </nav>
        </div>

        @Function("Composer.Header.MultiLevelMainMenu")

        <div class="search-bar container-fluid bg-light shadow-sm">
            <div class="container-md">
                <div class="row justify-content-between ">
                    <div class="col-10 col-lg-4 mx-auto mx-lg-0 justify-content-center align-self-center d-none d-lg-block text-md-center text-lg-left">
                        @Logo()
                    </div>
                    <div class="col-12 col-md-9 col-lg-6  justify-content-center align-self-center">
						<f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composer.SearchBox">
							<f:param name="Autocomplete" value="true" />
						</f:function>
                    </div>
					<div class="col-3 col-lg-2 justify-content-center align-self-center">
						@Function("Composer.Cart.MinicartButton")
					</div>
                </div>
            </div>
        </div>
        @Function("Grocery.TimeSlotBanner")
    </header>
</body>
</html>

@helper Logo()
{
    <a href="@HomePageNode.Url" class="logo">
        <img src="~/UI.Package/Images/BetterGrocery-logo.svg" alt="logo" />
    </a>
}

@helper SearchIcon()
{
    <a class="nav-link" href="#" title="@Html.Localize("General", "Search")" data-focus-element="#search-input">
        <span class="fa  fa-search"></span>
    </a>
}

@helper StoreLocatorLink(PagesConfiguration pages)
{
    <a class="nav-link" href="~/page(@pages.StoreListPageId)" title="@Html.Localize("Store", "L_StoreLocator")">
        <span class="fas  fa-map-marker-alt"></span>&#160;
        <span class="d-none d-md-inline sps--blw-hidden">@Html.Localize("Store", "L_StoreLocator")</span>
    </a>
}
